// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// Stack Colors
$base: rgb(242, 242, 242); // cut-out and see-through used in CSS // background-color body
$black: hsl(0, 0%, 11%);
$blue: hsl(193, 99%, 47%);
$gray: hsl(0, 0%, 45%);
$green: hsl(161, 94%, 51%);
$purple: hsl(290, 98%, 84%);
$red: hsl(346, 100%, 66%);
$white: hsl(0, 0%, 100%);
$yellow: hsl(59, 100%, 50%);

// Helper values
$buffer-vertical: 1.5em 0;
$buffer-horizontal: 0 1.5em;
$padding: 1em 1em;
$left: -15px;
$right: -15px;

// Font sizes 
$font-xs: 0.75em;
$font-sm: 1em;
$font-md: 1.25em;
$font-lg: 1.5em;

// Font weight
$light: 300;
$medium: 400;
$heavy: 700;

// Image sizes
$img-sm: 25%;
$img-md: 50%;
$img-lg: 75%;


/// Regular font family
/// @type List
$copy: 'Open Sans', sans-serif !default;
$copy-alternate: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
$header: 'Ubuntu', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif !default;

// No need to set type heaviness, but may need to in future

/// Code (monospace) font family
/// @type List
// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Copy text color
/// @type Color
// $text-color: rgb(34, 34, 34) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
// $breakpoints: (
//   'small': 320px,
//   'medium': 768px,
//   'large': 1024px,
// ) !default;

// Using configurable method from
// https://www.sitepoint.com/managing-responsive-breakpoints-sass/
$breakpoints: (
  'xxsmall'   : (min-width: 20em), /* 320px */
  'xsmall'  : ( min-width: 31.25em ), /* 500px */ /* only by .monologue + children */
  'small'    : ( min-width:  47.928em ), /* 767px */
  'small-b'  : ( max-width: 50em ), /* 800px */ /* only by .custom-bottom(?*), .brand-logo, .opener, .shrink, *.shrink */
  'medium'   : ( min-width:  62em ), /* 992px */
  'medium-b' : ( min-width: 62.5em), /* 1000px */
  'large'    : ( min-width: 75em ) /* 1200px */
);
 






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;