<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
    <div ng-include="brand"></div>
</div>
<div class="container-fluid row">
                <div class="col-md-5 col-md-7 tag-yellow">
                    <h1>BRANDING & ME</h1>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row col-md-9 col-sm-7 card-yellow-plain">
                    <p>Building ideas, concepts, and worlds has always captivated my interest. From creating a world (including currency!) out of paper at 9 years of age to bolstering creative, group projects (scaling them beyond participants' intentions), to creating fake businesses and products with friends, I have always enjoyed the developmental process with particular exception to identities.</p>
                    <p>You won't see any of the fields populated above presently, unfortunately. It takes time sorting through years of examples to find relevant & shareable ones, not to mention filling out this expanse e-portfolio. Like many other parts, content will be added on a rolling basis.</p>
                </div>
            </div>