<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="maker"></div>
</div>
<div class="container-fluid row">
                <div class="col-md-5 col-md-7 tag-yellow">
                    <h1>MAKERISM & ME</h1>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row col-md-9 col-sm-7 card-yellow-plain">
                        <p>I come from a family of makers. Both sides of my family have deep immigrant roots, which give to the inherited tradition of understanding the workings of - virtually - anything & everything, and then making it yourself, often through improvisation.</p>
                        <p>I practiced many of these things as a child - sewing, wood working, sculpting, robotics - and recently spent time in a dedicated maker space leading daily programming and special instruction. A few selected projects will be rolled out populating this field soon.</p>
                </div>
            </div>