<div class="container-fluid white buffer">
        <div class="row col-md-12 col-sm-12 padding">
            <div class="row col-md-4 col-sm-2 text-type text-center">
                <div class="circle green-border green ">
                    <h3>STUDENT PROJECTS</h3>
                </div>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_developer/presenting_project/student_work/type">
                    <p class="lead green-back"><span class="green-type">#</span>&nbsp;TYPEWRITER&nbsp;</p>
                </a>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_developer/presenting_project/student_work/dice">
                    <p class="lead green-back"><span class="green-type">#</span>&nbsp;DICE&nbsp;</p>
                </a>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_developer/presenting_project/student_work/shape">
                    <p class="lead green-back"><span class="green-type">#</span>&nbsp;SHAPES&nbsp;</p>
                </a>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_developer/presenting_project/student_work/chirper">
                    <p class="lead green-back"><span class="green-type">#</span>&nbsp;CHIRPER&nbsp;</p>
                </a>
            </div>
        </div>
    </div>