<div class="container-fluid row">
        <div class="col-md-3 col-sm-3 text-center black">
            <a href="/a_designer/showing/web">
                <h1 class="yellow-type">WEB</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow nav-tile">
            <a href="/a_designer/showing/print">
                <h1>PRINT</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow nav-tile">
            <a href="#">
                <h1>BRAND</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow nav-tile">
            <a href="#">
                <h1>MAKER</h1>
            </a>
        </div>
    </div>
<div class="container-fluid white buffer">
        <div class="row col-md-12 col-sm-12 padding">
            <div class="row col-md-4 col-sm-4 text-type text-center">
                <div class="circle yellow-border yellow">
                    <h3>ICON</h3>
                </div>
                <a href="/a_designer/showing/web/icons_from_csamandme" id="yellow"><span class="yellow-type">#</span>&nbsp;CSAM&.ME&nbsp;</a>
                <a href="/a_designer/showing/web/icons_generic" id="yellow"><span class="yellow-type">#</span>&nbsp;GENERIC&nbsp;</a>
            </div>
            <div class="row col-md-4 col-sm-4 text-type text-center">
                    <div class="circle yellow yellow-border">
                        <h3>TABLET</h3>
                    </div>
                    <a href="/a_designer/showing/web/tablet_doodles" id="yellow"><span class="yellow-type">#</span>&nbsp;DIGITAL DOODLES&nbsp;</a>
                    <a href="#" id="yellow"><span class="yellow-type">#</span>&nbsp;REQUESTED&nbsp;</a>
            </div>
            <div class="row col-md-4 col-sm-4 text-type text-center">
                    <div class="circle yellow-border yellow ">
                        <h3>FLASH</h3>
                    </div>
                    <a href="/a_designer/showing/web/mmorpg/country" id="yellow"><span class="yellow-type">#</span>&nbsp;PROJECT: RPG&nbsp;</a>
                    <a href="/a_designer/showing/web/portfolio" id="yellow"><span class="yellow-type">#</span>&nbsp;PROJECT: PORTFOLIO&nbsp;</a>
                    <a href="/a_designer/showing/web/misc_designs" id="yellow"><span class="yellow-type">#</span>&nbsp;MISC DESIGNS&nbsp;</a>
            </div>
        </div>
    </div>