<div ng-controller="DesignMenu">
    <div ng-include="print"></div>
</div>
<!-- <div class="container-fluid white buffer">
    <div class="row col-md-12 col-sm-12 padding">
        <div class="row col-md-4 col-sm-4 science-text text-center">
            <div class="circle yellow-border yellow">
                <h3>SERIES</h3>
            </div>
            <a href="/a_designer/showing/print/emoji_series" id="yellow"><span class="yellow-type">#</span>&nbsp;EMOJI&nbsp;</a>
            <a href="/a_designer/showing/print/book_series" id="yellow"><span class="yellow-type">#</span>&nbsp;BOOK&nbsp;</a>
            <a href="/a_designer/showing/print/sphere_trio_series" id="yellow"><span class="yellow-type">#</span>&nbsp;SPHERE TRIO&nbsp;</a>
            <a href="/a_designer/showing/print/woodland_series" id="yellow"><span class="yellow-type">#</span>&nbsp;WOODLAND ANIMALS&nbsp;</a>
            <a href="/a_designer/showing/print/instrument_series" id="yellow"><span class="yellow-type">#</span>&nbsp;INSTRUMENTS&nbsp;</a>
        </div>
        <div class="row col-md-4 col-sm-4 science-text text-center">
                <div class="circle yellow yellow-border">
                    <h3>RELIEF</h3>
                </div>
                <a href="/a_designer/showing/print/relief" id="yellow"><span class="yellow-type">#</span>&nbsp;STATE&nbsp;</a>
                <a href="/a_designer/showing/print/relief" id="yellow"><span class="yellow-type">#</span>&nbsp;ANIMALS&nbsp;</a>
                <a href="/a_designer/showing/print/relief" id="yellow"><span class="yellow-type">#</span>&nbsp;ETCH&nbsp;</a>
        </div>
        <div class="row col-md-4 col-sm-4 science-text text-center">
                <div class="circle yellow-border yellow ">
                    <h3>SKETCHBOOK</h3>
                </div>
                <a href="/a_designer/showing/print/portrait" id="yellow"><span class="yellow-type">#</span>&nbsp;PORTRAITURE&nbsp;</a>
                <a href="/a_designer/showing/print/watercolor" id="yellow"><span class="yellow-type">#</span>&nbsp;WATERCOLOR&nbsp;</a>
                <a href="#MISC" id="yellow"><span class="yellow-type">#</span>&nbsp;MIXED&nbsp;</a>
        </div>
    </div>
</div> -->
