<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="print"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
        <h1>#STATE</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
            <dl class="dl-horizontal">    
                    <dt>WHAT:</dt>
                        <dd>
                            Rubber relief and prints of the state of Tennessee
                        </dd>
                        <dt>WHY:</dt> 
                        <dd>
                            Commission for simple postcards grew into creating permanent stamp. 4 other states + 1 continent are not listed below.
                        </dd>
                        <dt>HOW:</dt> 
                        <dd>
                            Began with pencil drawing of state, then inked onto trace paper. Eventually took to rubber stamp where carved out.
                        </dd>
                        <dt>WHEN:</dt> 
                        <dd>2015</dd>
                </dl> 
        <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#trace-paper</kbd> <kbd>#rubber</kbd>
    </div>
</div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/state/series-state-tn-4.jpeg">
                    <img src="/images/designer/state/series-state-tn-4.jpeg" alt="Print Block: TN"/></a>
        <a class="gallery" href="/images/designer/state/series-state-tn-0.jpeg">
                    <img src="/images/designer/state/series-state-tn-0.jpeg" alt="State Style Options"/></a>
        <a class="gallery" href="/images/designer/state/series-state-tn-1.jpeg">
                    <img src="/images/designer/state/series-state-tn-1.jpeg" alt="State Style Options"/></a>
        <a class="gallery" href="/images/designer/state/series-state-tn-2.jpeg">
                    <img src="/images/designer/state/series-state-tn-2.jpeg" alt="State Style Options"/></a>
        <a class="gallery" href="/images/designer/state/series-state-tn-3.jpeg">
                    <img src="/images/designer/state/series-state-tn-3.jpeg" alt="State Style Options"/></a>
    </div>
</div>
<div class="container-fluid row">
        <div id="animals" class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
            <h1>#ANIMALS</h1>
        </div>
</div>
<div class="container-fluid">
        <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
                <dl class="dl-horizontal">    
                        <dt>WHAT:</dt>
                            <dd>
                                Rubber relief and prints of a groundhog and a cat.
                            </dd>
                            <dt>WHY:</dt> 
                            <dd>
                                The groundhog postcard was a series while the cat was a commissioned gift.
                            </dd>
                            <dt>HOW:</dt> 
                            <dd>
                                Began with pencil drawings, then inked onto trace paper. Eventually took to rubber stamps where carved out. Watercolor soon followed.
                            </dd>
                            <dt>WHEN:</dt> 
                            <dd>2014-2016</dd>
                    </dl>
            <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#canvas-paper</kbd> <kbd>#rubber</kbd>
        </div>
    </div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery" href="/images/designer/series-groundhog-2.jpeg">
                    <img src="/images/designer/series-groundhog-2.jpeg" alt="Print Block: Groundhog"/></a>
            <a class="gallery" href="/images/designer/series-groundhog-0.jpeg">
                    <img src="/images/designer/series-groundhog-0.jpeg" alt="Print example"/></a>
            <a class="gallery" href="/images/designer/series-groundhog-1.jpeg">
                    <img src="/images/designer/series-groundhog-1.jpeg" alt="Print example"/></a>
            <a class="gallery" href="/images/designer/relief-cat.jpeg">
                    <img src="/images/designer/relief-cat.jpeg" alt="Print Block: Cat"/></a>
            <a class="gallery img-title" href="/images/designer/portrait/portrait-lemon.png">
                <img src="/images/designer/portrait/portrait-lemon.png" alt="Lemon the Cat"></a>
        </div>
    </div>
<div class="container-fluid row">
            <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
                <h1>#MISCELLEANEOUS</h1>
            </div>
</div>
<div class="container-fluid">
        <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
                <dl class="dl-horizontal">    
                        <dt>WHAT:</dt>
                            <dd>
                                Etching on a scratchboard
                            </dd>
                            <dd> Styrofoam relief and print card</dd>
                            <dt>WHY:</dt> 
                            <dd>
                                Experiment on shadow play with scratchboards
                            </dd>
                            <dd>
                                Thank you cards
                            </dd>
                            <dt>HOW:</dt> 
                            <dd>
                                Etched scratchboard using wooden stick as a tool
                            </dd>
                            <dd>
                                Inked out design on trace paper, this carved out relief onto styrofoam. Used calligraphy ink for stamp onto cardboard paper.
                            </dd>
                            <dt>WHEN:</dt> 
                            <dd>2009 & 2012</dd>
                    </dl>
            <br><kbd>#scratchboard</kbd> <kbd>#trace-paper</kbd> <kbd>#cardboard-paper</kbd> <kbd>#styrofoam</kbd> <kbd>#ink</kbd>
        </div>
    </div>
        <div id="etch" class="container-fluid card-intro" ng-controller="GalleryCtrl">
            <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
                <a class="gallery" href="/images/designer/super-turtle-etch.jpeg">
                    <img src="/images/designer/super-turtle-etch.jpeg" alt="Super Turtle Etch"/>
                </a>
                <a class="gallery" href="/images/designer/stf-1.png">
                    <img src="/images/designer/stf-1.png" alt="Trace: She's the First*{UTK}"/>
                </a>
                <a class="gallery" href="./images/designer/stf-2.png">
                    <img src="./images/designer/stf-2.png" alt="Relief: She's the First*{UTK}"/>
                </a>
                <a class="gallery" href="/images/designer/stf-3.png">
                    <img src="/images/designer/stf-3.png" alt="Print: She's the First*{UTK}"/>
                </a>
            </div>
        </div>