<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
                <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
                    <h1>WEB DESIGN & ME</h1>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
                        <p>Always the painter, I first dove into the web design (and development) space in <strong>2003</strong> with my first computer. From virtual pet websites, using such programs as <em>Microsoft Paint, Jasc Paint Shop Pro 9, Animation Shop 3,</em> I found myself creating images and animations for myself and others.</p>
                        <p>I returned from a hiatus in web design (and development) towards the end of my high school career in <strong>2008</strong>, stumbling across <em>SWiSHMAX</em>. I created interactive programs for myself, my friends, and eventually for the public with what became an unfinished, unreleased (publicly) flash-based RPG game built entirely on the platform.</p>
                        <p>The galleries shown here are a few selections of mostly dated - but relevant - pieces of work. They are instrumental of who I am and from where I come. Being said, the pieces are not taken so seriously or as far as what they are: juvenile works playing & learning within the realms of web & graphic design throughout the <strong>2000s</strong>.</p>
                        <p>Please enjoy, and please look forward to more adult work being uploaded momentarily.</p>
                </div>
            </div>