<div class="container-fluid sub-navigation-green">
        <div class="row col-md-12 col-sm-12 alt">
            <div class="row col-md-4 col-sm-2">
                <div class="circle">
                    <h3>STUDENT PROJECTS</h3>
                </div>
            </div>
            <div class="row col-md-2 col-sm-2">
                <a href="/a_developer/presenting_project/student_work/type">
                    <span>#</span>&nbsp;TYPEWRITER&nbsp;
                </a>
            </div>
            <div class="row col-md-2 col-sm-2">
                <a href="/a_developer/presenting_project/student_work/dice">
                    <span>#</span>&nbsp;DICE&nbsp;
                </a>
            </div>
            <div class="row col-md-2 col-sm-2">
                <a href="/a_developer/presenting_project/student_work/shape">
                    <span>#</span>&nbsp;SHAPES&nbsp;
                </a>
            </div>
            <div class="row col-md-2 col-sm-2">
                <a href="/a_developer/presenting_project/student_work/chirper">
                    <span>#</span>&nbsp;CHIRPER&nbsp;
                </a>
            </div>
        </div>
    </div>