<div class="container-fluid row">
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile">
            <a href="/a_designer/showing/web">
                <h1>WEB</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile-selected">
            <a href="/a_designer/showing/print">
                <h1>PRINT</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile">
            <a href="/a_designer/showing/branding">
                <h1>BRAND</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile">
            <a href="/a_designer/showing/makerism">
                <h1>MAKER</h1>
            </a>
        </div>
    </div>
<div class="container-fluid sub-navigation-yellow">
        <div class="row col-md-12 col-sm-12 alt">
            <div class="row col-md-4 col-sm-4">
                <div class="circle">
                    <h3>SERIES</h3>
                </div>
                <a href="/a_designer/showing/print/emoji_series"><span>#</span>&nbsp;EMOJI&nbsp;</a>
                <a href="/a_designer/showing/print/book_series"><span>#</span>&nbsp;BOOK&nbsp;</a>
                <a href="/a_designer/showing/print/sphere_trio_series"><span>#</span>&nbsp;SPHERE TRIO&nbsp;</a>
                <a href="/a_designer/showing/print/woodland_series"><span>#</span>&nbsp;WOODLAND ANIMALS&nbsp;</a>
                <a href="/a_designer/showing/print/instrument_series"><span>#</span>&nbsp;INSTRUMENTS&nbsp;</a>
            </div>
            <div class="row col-md-4 col-sm-4">
                    <div class="circle">
                        <h3>RELIEF</h3>
                    </div>
                    <a href="/a_designer/showing/print/relief"><span>#</span>&nbsp;STATE&nbsp;</a>
                    <a href="/a_designer/showing/print/relief"><span>#</span>&nbsp;ANIMALS&nbsp;</a>
                    <a href="/a_designer/showing/print/relief"><span>#</span>&nbsp;ETCH&nbsp;</a>
            </div>
            <div class="row col-md-4 col-sm-4">
                    <div class="circle">
                        <h3>SKETCHBOOK</h3>
                    </div>
                    <a href="/a_designer/showing/print/portrait"><span>#</span>&nbsp;PORTRAITURE&nbsp;</a>
                    <a href="/a_designer/showing/print/watercolor"><span>#</span>&nbsp;WATERCOLOR&nbsp;</a>
                    <a href="#"><span>#</span>&nbsp;MIXED&nbsp;</a>
            </div>
        </div>
    </div>