<div class="container-fluid row">
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile-selected">
            <a href="/a_designer/showing/web" target="_top">
                <h1>WEB</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile">
            <a href="/a_designer/showing/print" target="_top">
                <h1>PRINT</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile">
            <a href="#">
                <h1>BRAND</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 nav-tile">
            <a href="#">
                <h1>MAKER</h1>
            </a>
        </div>
    </div>
<div class="container-fluid sub-navigation-yellow">
        <div class="row col-md-12 col-sm-12">
            <div class="row col-md-4 col-sm-6 col-xs-6">
                <div class="circle">
                    <h3>ICON</h3>
                </div>
                <a href="/a_designer/showing/web/icons_from_csamandme"><span>#</span>&nbsp;CSAM&.ME&nbsp;</a>
                <a href="/a_designer/showing/web/icons_generic"><span>#</span>&nbsp;GENERIC&nbsp;</a>
            </div>
            <div class="row col-md-4 col-sm-6 col-xs-6">
                    <div class="circle">
                        <h3>TABLET</h3>
                    </div>
                    <a href="/a_designer/showing/web/tablet_doodles"><span>#</span>&nbsp;DIGITAL DOODLES&nbsp;</a>
                    <a href="#"><span>#</span>&nbsp;REQUESTED&nbsp;</a>
            </div>
            <div class="row col-md-4 col-sm-12 col-xs-12">
                    <div class="circle">
                        <h3>FLASH</h3>
                    </div>
                    <a href="/a_designer/showing/web/mmorpg/country"><span>#</span>&nbsp;PROJECT: RPG&nbsp;</a>
                    <a href="/a_designer/showing/web/portfolio"><span>#</span>&nbsp;PROJECT: PORTFOLIO&nbsp;</a>
                    <a href="/a_designer/showing/web/misc_designs"><span>#</span>&nbsp;MISC DESIGNS&nbsp;</a>
            </div>
        </div>
    </div>