<div class="container-fluid">
    <div class="container-fluid card-plain">
        <p class="lead">
            Non-development and -design related experiences are listed below. For more information, click above each to visit the detailed
            pages in the "learn more" filtered viewing.
        </p>
    </div>
</div>
<!-- MENU -->
<div class="container-fluid">
    <div class="toppers-blue">
        <a href="/a_social_entrepreneur" target="_top">
            <p class="lead">
                <span>//</span>&nbsp;I am a social entrepreneur&nbsp;
                <span>...</span>
            </p>
        </a>
    </div>
    <div class="toppers-purple hidden-sm hidden-xs">
        <a href="/a_scientist" target="_top">
            <p class="lead">
                <span>//</span>&nbsp;I am a trained scientist&nbsp;
                <span>...</span>
            </p>
        </a>
    </div>
    <div class="toppers-red hidden-sm hidden-xs">
        <a href="/a_politi" target="_top">
            <p class="lead">
                <span>//</span>&nbsp;I am a practiced politi&nbsp;
                <span>...</span>
            </p>
        </a>
    </div>
    <br>
</div>
<div class="container-fluid">

    <!-- BLUE CARD BLUE CARD BLUE CARD -->
    <div class="work-card-blue">
        <!-- SPOKEN -->
        <div class="work-header" id="spoken">
            <h2>#SPOKEN</h1>
        </div>
        <div class="work-section">
            <h3>
                <span>>>></span> COACH
                <small>2017-Present</small>
            </h3>
            <ul>
                <li>Spoken is a service using technology to make English instruction & acquisition not only more accessible for
                    those in low income countries, it is tailored to help people of all-levels become more proficient in
                    the spoken & written language</li>
                <li>Over 100+ hours of instruction and guided lessons</li>
                <br>
                <kbd>#Instructor</kbd>
            </ul>
        </div>

        <!-- STF -->
        <div class="work-header" id="stf">
            <h2>#SHE'S THE FIRST</h2>
        </div>
        <div class="work-section">
            <h3>
                <span>>>></span> LEADERSHIP BOARD
                <small> Operations Chair / 2015 - 2017</small>
            </h3>
            <ul>
                <li>Founding member charged with establishing alumni association, creating engagement, building community & pipeline,
                    & streaming data analytics of members</li>
                <li>Assist in authoring by-laws</li>
                <li>Served as Chair of Operations for 2 terms, including documenting, keeping records, communicating between
                    board & organization, & researching best practices</li>
                <li>Engagement & community building consisted of programming events, newsletters, </li>
            </ul>
            <br>
            <kbd>#DocumentDrafting</kbd>
            <kbd>#Communications</kbd>
            <kbd>#EventPlanning</kbd>
        </div>
        <div class="work-section">
            <h3>
                <span>>>></span> UNIVERSITY
                <small>@ University of Tennessee, Knoxville / 2011-2014</small>
            </h3>
            <ul>
                <li>Founded Chapter: assembled exec team, drafted constitution, registered on campus, chartered nationally</li>
                <li>Established local identity & culture; Recruitment; & Increase exposure, program relative events, & promote
                    mission & issues</li>
                <li>Awarded "Social Butterfly" in 2013 for outstanding social media presences, beating out all other chapters
                    on campuses across the country
                    <li>Consulted with staff at the national level on gender-neutral branding initiatives</li>
                    <li>Delivered presentation with vice president about recruitment, retention, & messaging concerning gender
                        at national summit in 2014</li>
                    <li>Help moderate breakout session on gender inclusivity at national summit in 2015</li>
            </ul>
            <br>
            <kbd>#EventPlanning</kbd>
            <kbd>#PublicSpeaking</kbd>
            <kbd>#SocialMedia</kbd>
            <kbd>#Branding&Identity</kbd>
            <kbd>#DocumentDrafting</kbd>
        </div>
        <div class="work-section-red">
            <h3>
                <span>>>></span> XX SUMMIT
                <small>@ New York City / October 11, 2012</small>
            </h3>
            <blockquote>
                <em>Click through to read about participating in the XX Summit and the inaugural International Day of the Girl
                    with the United Nations.</em>
            </blockquote>
        </div>

        <!-- CCE -->
        <div class="work-header" id="cce-b">
            <h2>#CENTER FOR CIVIC ENGAGEMENT</h2>
        </div>
        <div class="work-section-red">
            <h3>
                <span>>>></span> CONFERENCE STAFF/COMPONENT LEADER
                <small>@ Nashville, TN / 2012 - Present</small>
                </h2>
                <blockquote>
                    <em>Click through to read about volunteering with the center to learn high schoolers across the state of
                        Tennessee about international government, politics, systems - in the vein of the United Nations -
                        and state government through the YMCA of Middle Tennessee.</em>
                </blockquote>
        </div>

        <!-- CDM -->
        <div class="work-header" id="cdm">
            <h2>#CREATIVE DISCOVERY MUSEUM</h2>
        </div>
        <div class="work-section">
            <h3>
                <span>>>></span> MUSEUM EDUCATOR
                <small>@ Chattanooga, TN / 2014 - 2017</small>
            </h3>
            <ul>
                <li>Floor Interpretation, including skill, developmental, & interest assessment</li>
                <li>Curriculum-based Lessons, ranging skill levels across arts, literature, cooking, & science</li>
                <li>Exhibit Maintenance & Design, from cleaning & updating to sewing, painting, building</li>
                <li>Special Programming, camps execution, special events, & special education
                    <em>(see below)</em> event instruction & assistance</li>
                <li>Creative Discovery is a nationally ranked Top 10 children's museum</li>
            </ul>
            <br>
            <kbd>#BehavioralAssessment</kbd>
            <!--<kbd>#Problem Solving</kbd>-->
            <kbd>#Teaching</kbd>
            <kbd>#PublicSpeaking</kbd>
            <kbd>#Cooking</kbd>
            <br>
            <kbd>#LaserCutter</kbd>
            <kbd>#CustomerService</kbd>
        </div>
        <div class="work-section">
            <h3>
                <span>>>></span> Club Discovery
                <small>@ Chattanooga, TN / 2015 - Present</small>
            </h3>
            <ul>
                <li>Club Discovery is a low-sensory, after hours, free-to-the-public program for not-typically-developing (including
                    disabilities) children ages 5-12 + peers</li>
                <li>Educational assistant & lead, 2015-2017</li>
                <li>Volunteer at-large, 2017-present</li>
                <li>Participated in IronKids (of IronMan triatholon) races 2015-2016</li>
            </ul>
            <br>
            <kbd>#ProgramLead</kbd>
            <kbd>#Mentorship</kbd>
            <kbd>#SpecialEducation</kbd>
        </div>

        <!-- ArtsBuild -->
        <div class="work-header" id="arts">
            <h2>#ArtsBuild</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> Holmberg Arts Leadership Institute <small>@ Chattanooga, TN / 2015</small></h3>
        </div>
        <div class="work-section">
            <h3><span>>>></span> CCC GRANTS<small> @ Chattanooga, TN / 2016</small></h3>
        </div>

        <!-- CAC -->
        <div class="work-header" id="cac">
            <h2>#CULTURAL ATTRACTIONS COMMITTEE</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> MEMBER <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h3>
            <ul>
                <li>Plan,   contract,   promote,   program,   &   execute   relevant   cultural   events   on   campus   & downtown</li>
                <li>Balanced   a   $250k   budget   keeping   in   mind   demographics   &   interests   of   student   body</li>
                <li>Contribute to earning the 2012 Charles R. Burchett Extraordinary Contributions to Campus Life presented to Central Programming Council</li>
            </ul>
            <br>
            <kbd>#EventPlanning</kbd> <kbd>#DocumentDrafting</kbd> <kbd>#Promotion</kbd>
        </div>

        <!-- HAITI -->
        <div class="work-header" id="haiti">
            <h2>#HAITI OUTREACH PROGRAM OF KNOXVILLE</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> GIVE HAITI HOPE <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h3>
            <ul>
                <li>Served on the advertising committee for the "Breaking Ground at Southbound" benefit concert in 2011</li>
                <li>Served on the planning committee for "Fierce & Fancy Formals Fashion Show & Dress Sale" (F&F) gala in 2012</li>
                <li>Served as Chair of Membership on executive board 2012, charged with recruitment & retention</li>
                <li>Volunteered time additionally with Haiti Outreach Program of Knoxville for the F&F gala in 2013</li>
                <li>Spent a lot time programming events, advertising by speaking to organizations across campus at their meetings</li>
            </ul>
            <br>
            <kbd>#PublicSpeaking</kbd> <kbd>#EventPlanning</kbd> <kbd>#Advertising</kbd>   
        </div>

        <!-- CTC -->
        <div class="work-header" id="ctc">
            <h2>#CHATTANOOGA THEATRE CENTRE</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> VOLUNTEER <small>/ 2008 - 2015</small></h3>
        </div>

        <!-- McKamey -->
        <div class="work-header" id="animal">
            <h2>#McKAMEY ANIMAL CENTER</h2>
        </div>
        <div class="work-section">
            <h3> <span>>>></span> VOLUNTEER <small>/ 2011</small></h3>
        </div>
        <div class="work-section-green">
            <a href="/a_developer/presenting_project/mckamey_volunteer_portal" target="_top">
                <h3> <span>>>></span> PROJECT: VOLUNTEER PORTAL <small>/ 2017</small></h3>
                <blockquote><em>Click through to read about web app project in conjuction with McKamey Animal Center & Covalence.</em></blockquote>
            </a>
        </div>
    </div>

    <!-- MENU -->
    <div class="toppers-purple hidden-lg hidden-md">
        <a href="/a_scientist" target="_top">
            <p class="lead">
                <span>//</span>&nbsp;I am a trained scientist&nbsp;<span>...</span>
            </p>
        </a>
    </div>

    <!-- PURPLE CARD PURPLE CARD PURPLE CARD -->
    <div class="work-card-purple">
        <div class="work-header">
            <h2>#LABS</h2>
        </div>
        <div class="work-section">
            <h3> <span>>>></span> Marine/Reptile Ethology Lab<small> @ University of Tennessee, Knoxville / 2012 - 2013</small></h3>
            <ul>
                <li>Student Research Assistant</li>
                <li>Under supervision of Dr. Gordon M Burghardt & Dr. Karen Davis</li>
                <li>Lab Maintenance & Animal Husbandry, including cleaning cages, dishes, surfaces, bathing, temperature & humidity checks, record keeping, & providing diet, stimuli, & attention</li>
                <li>Data Assimilation, from previous experiments & ranges from ethograms, coding, schematics, analysis, & consulting</li>
                <li>Listed under Supervised Lab Research for Ecology & Evolutionary Biology, unpaid & class credit</li>
                <br>
                <!-- <kbd></kbd> -->
            </ul>
        </div>
        <div class="work-section">
            <h3> <span>>>></span>&nbsp;Cultural Partners Program<small> @ University of Tennessee, Knoxville / 2011 - 2012</small></h3>    
            <ul>
                <li>Co-Coordinator</li>
                <li>Coordinating Partners, from pairing students, to collecting journals, easing concerns, planning events, keeping program records, & serving as liaison between members & Dr. Brent Mallinckrodt</li>
                <li>Listed as Undergraduate Research for Psychology, unpaid & class credit</li>
                <li>The Cultural Partners Program was set up by Dr. Brent Mallinckrodt to help acclimate international students to campus life & its unique, regional cultural variabilities, to gain perspective from each member in a pairing, & to expose the native student to new cultures; each member in a pair is to learn from the other including language proficiency, with focus on English</li>
            </ul>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
        </div>
        <div class="work-section">
            <h3> <span>>>></span>&nbsp;Zooarchaeology Lab<small> @ University of Tennessee, Knoxville / 2012</small></h3>    
            <ul>
                <li>Student Volunteer</li>
                <li>Under Dr. Walter Klippel & graduate assistants</li>
                <li>Duties included reorganizing samples & collections, cleaning & stream-lining each</li>
                <li>Purpose is to study homogeneity & phylogeny</li>
                <li>Unpaid study under the Department of Anthropology</li>
            </ul>
            <br>
            <!-- <kbd></kbd> -->
        </div>
    </div>

    <!-- MENU -->
    <div class="toppers-red hidden-lg hidden-md">
        <a href="/a_politi" target="_top">
            <p class="lead">
                <span>//</span>&nbsp;I am a practiced politi&nbsp;<span>...</span>
            </p></strong>
        </a>
    </div>
    <!-- RED CARD RED CARD RED CARD -->
    <div class="work-card-red">

        <!-- CHA -->
        <div class="work-header" id="city">
            <h2>#CITY OF CHATTANOOGA</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> OFFICE OF THE MAYOR <small>Internship / 2016</small></h3>
            <ul>
                <li>Interact with, record, & communicate constituents' needs & messages to Mayor's Office</li>
                <li>Miscellaneous office work, i.e. making copies, stuffing envelopes, list checking</li>
            </ul>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
        </div>

        <!-- MCW -->
        <div class="work-header" id="mcw">
            <h2>#MAYOR'S COUNCIL FOR WOMEN</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> ECONOMIC OPPORTUNITY COMMITTEE <small>Internship - Volunteer / 2016</small></h3>
            <ul>
                <li>Research statistics, assist with editing, & general aid towards goal of completing white paper</li>
                <li>Effectively help Mayor's Council for Women (MCW), Economic Opportunity committee communicate with Mayor's Office</li>
                <li>Collect raw data on area childcare facilities</li>
            </ul>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> --> 
        </div>

        <!-- CCE -->
        <div class="work-header" id="cce-r">
            <h2>#CENTER FOR CIVIC ENGAGEMENT</h2>
        </div>
        <div class="work-section-blue">
            <h3><span>>>></span> CONFERENCE STAFF/COMPONENT LEADER <small>@ Nashville, TN / 2012 - Present</small></h3>
            <ul>
                <li>Center for Civic Engagement is part of YMCA of Middle Tennessee</li>
                <li>Fall: Model United Nations, statewide conference</li>
                <li>Spring: Youth in Government, statewide conference</li>
                <li>Supervise high school participants</li>
                <li>Help programs stay on task, help keep students engaged, and help students remain respectful</li>
                <li>Supervise participants/programming by sitting in on hearings, council, and resolutions</li>
                <li>2-3 high school conferences per title; 700-900 student participants per conference</li>
            </ul>
            <br>
            <kbd>#PublicSpeaking</kbd> <kbd>#Supervising</kbd> <kbd>#ProblemSolving</kbd>
        </div>

        <!-- melody -->
        <div class="work-header" id="melody">
            <h2>#MELODY SHEKARI FOR CONGRESS</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> DIRECTOR OF COMMUNICATIONS <small>TN Congressional District 3 / 2016</small></h3>
            <ul>
                <li>Coordinate message, identity, & perception of candidate throughout district</li>
                <li>Populate & oversee website, blog, newsletter, social media, & advertisements</li>
                <li>Travel district talking with voters, taking photo & media</li>
                <li>Produced promotional, informational videos and cut advertisements</li>
                <li>Strategize best way to present candidate to voters</li>
                <li>Oversee, direct, & compile opposition research</li>
                <li>Oversee 4 interns</li>
            </ul>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
        </div>

        <!-- AR -->
        <div class="work-header" id="ar">
            <h2>#DEMOCRATIC PARTY OF ARKANSAS</h2>
        </div>
        <div class="work-section">
            <h3><span>>>></span> ARKANSAS VICTORY FELLOW <small>@ Russellville, AR / 2014</small></h3>  
            <ul>
                <li>Region 2, Pope County</li>
                <li>Assistant to Field Organizer for Get Out the Vote (GOTV) initiative</li>
                <li>Daily tasks include canvassing turf packets, informing the electorate of early voting dates, times, & location, strategizing for GOTV, analyzing given data, communication with team & projects, & coordinating with volunteers</li>
                <li>Region 2 was one of the top performing regions in Arkansas, despite its rural location</li>
            </ul>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
        </div>

        <!-- harvard -->
        <div class="work-header" id="harvard">
            <h2>#HARVARD WOMEN'S FORUM</h2>
        </div>
        <div class="work-section-blue">
            <h3><span>>>></span> PARTICIPANT <small>American University, Washington College of Law / 2017</small></h3>
            <ul>
                <li>Billed as "a private, non-partisan, and interactive forum to learn from the experts and discuss how to spend your time, money, and energy to make a difference furthering women's rights."</li>
                <li>Extended invitation while on Leadership Board with She's the First</li>
                <li>Attended and participated in the day immediately following the Women's March</li>
                <li>Following forum, I have stayed abreast of relevant topics and issues while keeping an open line of communication with other attendees</li>
                <li>Bringing locally: have spoken about and shared resources & what I learned with different bodies, including City of Chattanooga via Mayor's Council of Women and a dean of a local university</li>
            </ul>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
        </div>
    </div>
</div>