<div class="container-fluid">
        <nav class="navbar-work navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="welcome"></div>
                </div>
        </nav>
</div>
<div class="container-fluid section-2">
    <div class="card-intro">
        <h2>unfortunately, this filtered view isn't live, but the <a href="/a_designer" class="color-yellow">original view</a> is only a more stylized version of what's under construction. your time won't be wasted switched views.</h2>
    </div>
</div>