<div class="container-fluid">
    <nav class="navbar-work navbar-fixed-top" role="navigation" ng-controller="NavShrink">
        <div id="header" ng-controller="NavMenu">
            <div ng-include="welcome"></div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="card-intro">
        <p class="lead">
            My early background in web development begins with making web pages on Windows Note Pad with HTML 3 in 2003. I played around
            for a few years before dropping until picking up again in 2008 with creating Flash applications. In university,
            I only read about developments happening, longing to have the time to take back up web development and to learn
            more. Following university, I decided to return to web development formally. I had my chance in 2017 enrolling
            in Full Stack Development (M*EAN) post-graduate program with Covalence.
        </p>
    </div>
</div>

<!-- MENU -->
<div class="container-fluid">
    <div class="toppers-green">
        <a href="/a_developer" target="_top">
            <p class="lead">
                <span>//</span>&nbsp;I am a fresh developer&nbsp;
                <span>...</span>
            </p>
        </a>
    </div>
    <div class="toppers-green hidden-sm hidden-xs">
        <a href="/a_developer/presenting_work/Sean_Wright" target="_top">
            <p class="lead">
                <span>/*</span>&nbsp;view a selected work&nbsp;
                <span>*/</span>
            </p>
        </a>
    </div>
    <!-- <div class="toppers-green hidden-sm hidden-xs">
        <a href="/a_politi" target="_top">
            <p class="lead">
                <span>//</span>&nbsp;Take a closer look at this
                <span>site</span>
            </p>
        </a>
    </div> -->
    <br>
</div>

<div class="container-fluid">
    <!-- STAKD -->
    <div class="work-card-green">
        <div class="work-header">
            <h2>#STACKD</h2>
        </div>
        <div class="work-section">
            <h3>
                <span>>>></span>&nbsp;Software Developer
                <small> @ Spotme / 2017</small>
            </h3>
            <ul>
                <li>Intern brought on to help 1) convert original product to new infrastructures and 2) build out MVP of mobile
                    application
                </li>
                <li>Front-end work included stubbing out UI, refactoring legacy code, custom validation creation & testing</li>
                <li>Back-end work included setting up webhooks, refactoring & connecting email templates, and user testing</li>
                <li>Miscellaneous contributions including social media, product flow, blog content</li>
                <li>Ask about technologies used</li>
                <li>Built in production environment using agile development</li>
                <li>Worked remotely with peer-programmer in 1 city, CTO & CIO in 1 city, and CEO & COO in 1 city</li>
            </ul>
            <br>
            <kbd>#Agile</kbd>
            <kbd>#Custom Validation</kbd>
            <kbd>#Mobile Devleopment</kbd>
            <kbd>#Refactor</kbd>
            <kbd>#Remote Work</kbd>
        </div>
    </div>

    <!-- (sm) -->
    <div class="toppers-green hidden-lg hidden-md">
        <a href="/a_developer/presenting_work/Sean_Wright" target="_top">
            <p class="lead">
                <span>/*</span>&nbsp;view a selected work&nbsp;
                <span>*/</span>
            </p>
        </a>
    </div>

    <!-- SEAN -->
    <div class="work-card-gray">
        <div class="work-header">
            <h2>#HIRE SEAN WRIGHT</h2>
        </div>
        <div class="work-section">
            <a href="http://www.seanwright.pro/" target="_blank">
                <img class="img-responsive center-block" src="/images/developer/Sean.svg" />
                <h3 class="text-right">
                    <span class="glyphicon glyphicon-share"></span>
                </h3>
            </a>
        </div>
        <div class="work-section">
            <ul>
                <li>
                    Built to client's specifications
                </li>
            </ul>

            <h3>
                <span>>>>&nbsp;</span>TECHNOLOGIES</h3>
            <ul>
                <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Fullpage.js, Amazon Web Services, Figma</li>
            </ul>
            <h3>
                <span>>>>&nbsp;</span>TIMEFRAME</h3>
            <ul>
                <li>5-day build from scratch</li>
            </ul>
        </div>
    </div>

    <!-- (sm) -->
    <!-- <div class="toppers-green hidden-lg hidden-md">
            <p class="lead">
                <span>//</span>&nbsp;More background&nbsp;
            </p>
    </div> -->

    <!-- TECH -->
    <div class="work-card-green-alt">
        <div class="work-header">
            <h2>#TECHNOLOGIES</h2>
        </div>
        <div class="work-section">
            <dl class="dl-horizontal">
                <dt>
                    LANGUAGE
                    <span>:</span>
                </dt>
                <dd>HTML, CSS, JavaScript, Sass&nbsp;
                    <span class="glyphicon glyphicon-list-alt"></span>
                </dd>
                <dt>
                    LIBRARY
                    <span>:</span>
                </dt>
                <dd>jQuery, Bootstrap, Featherlight, fullPage&nbsp;
                    <span class="glyphicon glyphicon-refresh"></span>
                </dd>
                <dt>
                    FRAMEWORK
                    <span>:</span>
                </dt>
                <dd>NodeJS, ExpressJS, AngularX, Ionic&nbsp;
                    <span class="glyphicon glyphicon-cutlery"></span>
                </dd>
                <dt>
                    DATABASE
                    <span>:</span>
                </dt>
                <dd>MySQL, Cloud Firestore&nbsp;
                    <span class="glyphicon glyphicon-folder-open"></span>
                </dd>
                <dt>
                    SOFTWARE
                    <span>:</span>
                </dt>
                <dd>SendGrid, Stripe&nbsp;
                    <span class="glyphicon glyphicon-hdd"></span>
                </dd>
                <dt>
                    IDE
                    <span>:</span>
                </dt>
                <dd>Visual Code Studio&nbsp;
                    <span class="glyphicon glyphicon-pencil"></span>
                </dd>
                <dt>
                    OS
                    <span>:</span>
                </dt>
                <dd>Mac OS Sierra, Ubuntu&nbsp;
                    <span class="glyphicon glyphicon-console"></span>
                </dd>
                <dt>
                    AGILE
                    <span>:</span>
                </dt>
                <dd>Trello, Jira&nbsp;
                    <span class="glyphicon glyphicon-calendar"></span>
                </dd>
                <dt>
                    HOST
                    <span>:</span>
                </dt>
                <dd>Amazon Web Services&nbsp;
                    <span class="glyphicon glyphicon-cloud"></span>
                </dd>
            </dl>
            <div class="box">
                <br>
                <dl class="dl-horizontal">
                    <dt>
                        EXPERIENCE
                        <span>:</span>
                    </dt>
                    <dd>Junior&nbsp;
                        <span class="glyphicon glyphicon-user"></span>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>
                        STRENGTHS
                        <span>:</span>
                    </dt>
                    <dd>Front-End, Wireframe, Responsive&nbsp;
                        <span class="glyphicon glyphicon-flash"></span>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>
                        LEARNING
                        <span>:</span>
                    </dt>
                    <dd>&nbsp;TypeScript, Dwolla, Apache Cordova&nbsp;
                        <span class="glyphicon glyphicon-cloud-download"></span>
                    </dd>
                </dl>

            </div>
        </div>
    </div>
</div>