<div class="container-fluid">
        <nav class="navbar-work navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="welcome"></div>
                </div>
        </nav>
</div>

<div class="container-fluid">
    <div class="hidden-lg hidden-md">
        <br><br><br>
    </div>
    <div class="section-2">
        <p class="text-center">My name is C. Samuel Sullivan.</p>
    </div>
    <div class="section-2">
        <p>I am a junior developer. I am a junior designer.</p>
    </div>
    <div class="section-3">
        <p class="lead">I am working furiously to improve my skills, to have more showable products, and to become a valuable member on any production team.</p>
        <p class="lead">You have clicked through to the filtered view emphasizing experience and portfolio over details. For more on any of what you see, find your way back to the choices through the colorful logo in the footer.</p>
    </div>
</div>