<div ng-controller="DesignMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>#CSAM&.ME</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
            <dl class="dl-horizontal">    
                    <dt>WHAT:</dt>
                        <dd>
                            All icons and graphics created for and used by this web app.
                        </dd>
                        <dt>WHY:</dt> 
                        <dd>
                            I'm a visual person, and I believe navigation or wayfinding can better be said in pictures, not words.
                        </dd>
                        <dt>HOW:</dt> 
                        <dd>
                            When I come to a place where I think a need is found, I brainstorm what it is I want to convey. I'll write down a few words, then I will sketch out some designs. I'll take it to Sketch or Figma, and begin shaping from there.
                        </dd>
                        <dt>WHEN:</dt> 
                        <dd>2017</dd>
                </dl> 
        <br><kbd>#Sketch</kbd> <kbd>#Figma</kbd> <kbd>.svg</kbd>
    </div>
</div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/icons/about-logo-b.svg">
            <img src="/images/icons/about-logo-b.svg" class="buffer-img center-cropped-b" alt="Icon: About"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/app-logo-b.svg">
            <img src="/images/icons/app-logo-b.svg" class="buffer-img center-cropped-b" alt="Icon: App"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/books-icon-b.svg">
            <img src="/images/icons/books-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Books"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/campaign-icon-b.svg">
            <img src="/images/icons/campaign-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Campaign"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/civic-icon-b.svg">
            <img src="/images/icons/civic-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Civic"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/code-icon-b.svg">
            <img src="/images/icons/code-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Code"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/contact-icon-b.svg">
            <img src="/images/icons/contact-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Contact"/>
        </a>      
        <a class="gallery img-tile" href="/images/icons/influences-logo-b.svg">
            <img src="/images/icons/influences-logo-b.svg" class="buffer-img center-cropped-b" alt="Icon: Influences"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/influences-icon-b.svg">
            <img src="/images/icons/influences-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Fields"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/labs-logo-b.svg">
            <img src="/images/icons/labs-logo-b.svg" class="buffer-img center-cropped-b" alt="Icon: Labs"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/organizing-icon-b.svg">
            <img src="/images/icons/organizing-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Organizing"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/people-icon-c.svg">
            <img src="/images/icons/people-icon-c.svg" class="buffer-img center-cropped-b" alt="Icon: People"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/policy-icon-b.svg">
            <img src="/images/icons/policy-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Policy"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/portfolio-icon-b.svg">
            <img src="/images/icons/portfolio-icon-b.svg" class="buffer-img center-cropped-b" alt="Icon: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/print-icon-b.svg">
            <img src="/images/icons/print-icon-c.svg" class="buffer-img center-cropped-b" alt="Icon: Print"/>
        </a>

        <a class="gallery img-tile" href="/images/icons/takeaway-logo-b.svg">
            <img src="/images/icons/takeaway-logo-b.svg" class="buffer-img center-cropped-b" alt="Icon: Takeaways"/>
        </a>
        <a class="gallery img-tile" href="/images/icons/web-icon-c.svg">
            <img src="/images/icons/web-icon-c.svg" class="buffer-img center-cropped-b" alt="Icon: Web"/>
        </a>
        <a class="gallery img-tile" href="/images/b2t-btn.svg">
            <img src="/images/b2t-btn.svg" class="buffer-img center-cropped-c" alt="Icon: Back to Top"/>
        </a>
        <a class="gallery img-tile" href="/images/csamandme.svg">
            <img src="/images/csamandme.svg" class="buffer-img center-cropped-c" alt="Site Logo"/>
        </a>
        <a class="gallery img-tile" href="/images/under-construction@1x.svg">
            <img src="/images/under-construction@1x.svg" class="buffer-img center-cropped-c" alt="Page Cover"/>
        </a>
    </div>
</div>