<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
        <h1>#MISCELLEANEOUS DESIGNS</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
            <dl class="dl-horizontal">
                    <dt>WHAT:</dt>
                    <dd>Assorted flash designs and programs</dd>
                    <dt>WHY:</dt> 
                    <dd>Both my friends and I found it exciting that I had this Flash program, so these were born from making designs/programs either for them or to show them</dd>
                    <dt>HOW:</dt> 
                    <dd>Inspiration struck through references or requests, and were either to surprise or to deliver</dd>
                    <dt>WHEN:</dt> 
                    <dd>2010</dd>
            </dl>
        <br><kbd>#SWiSH MAX</kbd> <kbd>#Flash</kbd> <kbd>#HTML</kbd> <kbd>#ActionScript</kbd> <kbd>.gif</kbd> <kbd>.swf</kbd>
    </div>
</div>
<!-- TODO: make gifs of video -->
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/swishmax/misc-art/ace3.gif">
            <img src="/images/designer/swishmax/misc-art/ace3.gif" alt="Framed Dalmatian"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/misc-art/band.gif">
            <img src="/images/designer/swishmax/misc-art/band.gif" alt="Joke Band: Bridges of Feet"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/misc-art/owl.gif">
            <img src="/images/designer/swishmax/misc-art/owl.gif" alt="Percival the Owl"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/misc-art/superturt1.gif">
            <img src="/images/designer/swishmax/misc-art/superturt1.gif" alt="Super Turtle"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/misc-art/superturt2.gif">
            <img src="/images/designer/swishmax/misc-art/superturt2.gif" alt="Super Turtle"/>
        </a>
    </div>
</div>