<div ng-controller="DesignMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>#MISCELLEANEOUS DESIGNS</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right science-text">
        <p>More details to come.</p>
    </div>
</div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/ace.png">
            <img src="/images/designer/swishmax/misc-art/ace.png" class="buffer-img center-cropped-b" alt="Framed Dalmatian"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/bridges-of-feet.png">
            <img src="/images/designer/swishmax/misc-art/bridges-of-feet.png" class="buffer-img center-cropped-b" alt="Joke Band: Bridges of Feet"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/perc-1.png">
            <img src="/images/designer/swishmax/misc-art/perc-1.png" class="buffer-img center-cropped-b" alt="Percival the Owl"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/perc-2.png">
            <img src="/images/designer/swishmax/misc-art/perc-2.png" class="buffer-img center-cropped-b" alt="Percival the Owl"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-1.png">
            <img src="/images/designer/swishmax/misc-art/turt-1.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-2.png">
            <img src="/images/designer/swishmax/misc-art/turt-2.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-3.png">
            <img src="/images/designer/swishmax/misc-art/turt-3.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-4.png">
            <img src="/images/designer/swishmax/misc-art/turt-4.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-5.png">
            <img src="/images/designer/swishmax/misc-art/turt-5.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-6.png">
            <img src="/images/designer/swishmax/misc-art/turt-6.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-7.png">
            <img src="/images/designer/swishmax/misc-art/turt-7.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/misc-art/turt-8.png">
            <img src="/images/designer/swishmax/misc-art/turt-8.png" class="buffer-img center-cropped-b" alt="Super Turtle"/>
        </a>
    </div>
</div>