<div ng-controller="DesignMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>#DIGITAL DOODLES</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right science-text">
        <p>More details to come.</p><p>Created using a Wacom Bamboo Tablet in 2009.</p>
    </div>
</div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-andre-bee.png">
            <img src="/images/designer/digital-doodles/dd-andre-bee.png" class="buffer-img center-cropped-b" alt="Digital Doodles: Andre and Wally B."/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-doodlefish.png">
            <img src="/images/designer/digital-doodles/dd-doodlefish.png" class="buffer-img center-cropped-b" alt="Digital Doodles: Doodlefish"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-face.png">
            <img src="/images/designer/digital-doodles/dd-face.png" class="buffer-img center-cropped-b" alt="Digital Doodles: Face"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-girl-running.png">
            <img src="/images/designer/digital-doodles/dd-girl-running.png" class="buffer-img center-cropped-b" alt="Digital Doodles: Girl running"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-illusion.png">
            <img src="/images/designer/digital-doodles/dd-illusion.png" class="buffer-img center-cropped-b" alt="Digital Doodles: Optical illusion test"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-patty.png">
            <img src="/images/designer/digital-doodles/dd-patty.png" class="buffer-img center-cropped-b" alt="Digital Doodles: Patronizing Patty"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-c-man.jpg">
            <img src="/images/designer/digital-doodles/dd-c-man.jpg" class="buffer-img center-cropped-b" alt="Digital Doodles: Green Man"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-c-super-turtle.jpg">
            <img src="/images/designer/digital-doodles/dd-c-super-turtle.jpg" class="buffer-img center-cropped-b" alt="Digital Doodles: Super Turtle + Typo"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/digital-doodles/dd-c-turtle-carrie.jpg">
            <img src="/images/designer/digital-doodles/dd-c-turtle-carrie.jpg" class="buffer-img center-cropped-b" alt="Digital Doodles: Silly turtle"/>
        </a>
    </div>
</div>