<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
        <h1>#DIGITAL DOODLES</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
            <dl class="dl-horizontal">
                    <dt>WHAT:</dt>
                    <dd>Sketchbook, but digital through use of tablet</dd>
                    <dt>WHY:</dt> 
                    <dd>These doodles were born from video-chatting with my friend and fellow artist as both a game and way to practice the then-new tablet</dd>
                    <dt>HOW:</dt> 
                    <dd>Shared-screens and a digital writing program & Adobe Photoshop</dd>
                    <dt>WHEN:</dt> 
                    <dd>2010</dd>
            </dl>
        <br><kbd>#tablet</kbd> <kbd>#Wacom Bamboo</kbd> <kbd>#Adobe Photoshop</kbd> <kbd>.png</kbd>
    </div>
</div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/digital-doodles/dd-andre-bee.png">
            <img src="/images/designer/digital-doodles/dd-andre-bee.png" alt="Digital Doodles: Andre and Wally B."/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-doodlefish.png">
            <img src="/images/designer/digital-doodles/dd-doodlefish.png" alt="Digital Doodles: Doodlefish"/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-face.png">
            <img src="/images/designer/digital-doodles/dd-face.png" alt="Digital Doodles: Face"/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-girl-running.png">
            <img src="/images/designer/digital-doodles/dd-girl-running.png" alt="Digital Doodles: Girl running"/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-illusion.png">
            <img src="/images/designer/digital-doodles/dd-illusion.png" alt="Digital Doodles: Optical illusion test"/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-patty.png">
            <img src="/images/designer/digital-doodles/dd-patty.png" alt="Digital Doodles: Patronizing Patty"/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-c-man.jpg">
            <img src="/images/designer/digital-doodles/dd-c-man.jpg" alt="Digital Doodles: Green Man"/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-c-super-turtle.jpg">
            <img src="/images/designer/digital-doodles/dd-c-super-turtle.jpg" class="alt" alt="Digital Doodles: Super Turtle + Typo"/>
        </a>
        <a class="gallery" href="/images/designer/digital-doodles/dd-c-turtle-carrie.jpg">
            <img src="/images/designer/digital-doodles/dd-c-turtle-carrie.jpg" class="alt" alt="Digital Doodles: Silly turtle"/>
        </a>
    </div>
</div>