<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="web_b"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
        <h1>#MISCELLEANEOUS</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
            <dl class="dl-horizontal">    
        <dt>WHAT:</dt>
            <dd>
                Unsorted active locations that were complete enough for display. Presented here are 2 characters, 3 locations, and a look at the inventory display for the user. Green character is the early protagonist in this world, and is evident from the red character orbiting the planet, if not evident through the animations and soundFX. 
            </dd>
            <dt>WHY:</dt> 
            <dd>
                Flash gaming was pretty popular in the mid-late 2000s, and it was incredibly easy to create. From learning simple mechanics as projects, it slowly grew into a game itself. 
            </dd>
            <dt>HOW:</dt> 
            <dd>
                Role-playing game built in Flash via SWiSH MAX 2. Graphics were created within SWiSH MAX.
            </dd>
            <dt>WHEN:</dt> 
            <dd>2009-2010</dd>
    </dl>
        <br><kbd>#SWiSH MAX</kbd> <kbd>#Flash</kbd> <kbd>#HTML</kbd> <kbd>#ActionScript</kbd> <kbd>.swf</kbd>
    </div>
</div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/swishmax/mmorpg/misc/wobbee.gif">
            <img src="/images/designer/swishmax/mmorpg/misc/wobbee.gif" alt="Wobbee the Mysterious Villain"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/misc/wolly.gif">
            <img src="/images/designer/swishmax/mmorpg/misc/wolly.gif" alt="Wolly stranded in space"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/misc/inventory.png">
            <img src="/images/designer/swishmax/mmorpg/misc/inventory.png" alt="Inventory screen"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/misc/mountain-cabin.png">
            <img src="/images/designer/swishmax/mmorpg/misc/mountain-cabin.png" alt="Mountain set"/>
    </div>
</div>