<div class="container-fluid row">
        <div class="col-md-3 col-sm-3 text-center black">
            <a href="/a_designer/showing/web">
                <h1 class="yellow-type">WEB</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow img-tile">
            <a href="/a_designer/showing/print">
                <h1>PRINT</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow img-tile">
            <a href="#">
                <h1>BRAND</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow img-tile">
            <a href="#">
                <h1>MAKER</h1>
            </a>
        </div>
    </div>
    <div class="container-fluid white buffer">
        <div class="row col-md-12 col-sm-12 padding">
                <div class="row col-md-2 col-sm-2 text-type text-center">
                        <div class="circle yellow-border yellow ">
                            <h3>PROJECT: MMORPG</h3>
                        </div>
                </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_designer/showing/web/mmorpg/country"><h3 id="yellow"><span class="yellow-type">#</span>&nbsp;COUNTRY&nbsp;</h3></a>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_designer/showing/web/mmorpg/ocean"><h3 id="yellow"><span class="yellow-type">#</span>&nbsp;OCEAN&nbsp;</h3></a>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_designer/showing/web/mmorpg/misc"><h3 id="yellow"><span class="yellow-type">#</span>&nbsp;MISC&nbsp;</h3></a>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_designer/showing/web/mmorpg/characters"><h3 id="yellow"><span class="yellow-type">#</span>&nbsp;CHARACTERS&nbsp;</h3></a>
            </div>
            <div class="row col-md-2 col-sm-2 text-type text-center">
                <a href="/a_designer/showing/web/mmorpg/alpha"><h3 id="yellow"><span class="yellow-type">#</span>&nbsp;ALPHA&nbsp;</h3></a>
            </div>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>MISCELLEANEOUS</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
        <p>Interactive project from 2009 built on SwishMax. More details coming soon.</p>
        <br><kbd>#SWiSH MAX</kbd> <kbd>#Flash</kbd> <kbd>#HTML</kbd> <kbd>#ActionScript</kbd> <kbd>.swf</kbd>
    </div>
</div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/wobbee-1.png">
            <img src="/images/designer/swishmax/mmorpg/misc/wobbee-1.png" class="buffer-img center-cropped-b" alt="Main screen"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/wobbee-2.png">
            <img src="/images/designer/swishmax/mmorpg/misc/wobbee-2.png" class="buffer-img center-cropped-b" alt="Binny"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/wobbee-3.png">
            <img src="/images/designer/swishmax/mmorpg/misc/wobbee-3.png" class="buffer-img center-cropped-b" alt="Sunny"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/wobbee-4.png">
            <img src="/images/designer/swishmax/mmorpg/misc/wobbee-4.png" class="buffer-img center-cropped-b" alt="Wobbee"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/wobbee-5.png">
            <img src="/images/designer/swishmax/mmorpg/misc/wobbee-5.png" class="buffer-img center-cropped-b" alt="Wobbee"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/wobbee-6.png">
            <img src="/images/designer/swishmax/mmorpg/misc/wobbee-6.png" class="buffer-img center-cropped-b" alt="Wobbee"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/inventory.png">
            <img src="/images/designer/swishmax/mmorpg/misc/inventory.png" class="buffer-img center-cropped-b" alt="Inventory screen"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/mmorpg/misc/mountain-cabin.png">
            <img src="/images/designer/swishmax/mmorpg/misc/mountain-cabin.png" class="buffer-img center-cropped-b" alt="Mountain set"/>
    </div>
</div>