<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="web_b"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
        <h1>#ISLAND</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
            <dl class="dl-horizontal">    
        <dt>WHAT:</dt>
            <dd>
                 The ocean itself is a minigame to travel to an island. The ocean uses the cursor to traverse the waters avoiding obstacles that could damage the ship. The island is navigable by using the arrow keys to make way to an inactive village. 
                  features 9 active locations you could visit with 4 characters found-throughout. There are 2 mini-games featured here. Menu not featured, and Sun is navigable point returning user to map to select other locations for travel.
            </dd>
            <dt>WHY:</dt> 
            <dd>
                Flash gaming was pretty popular in the mid-late 2000s, and it was incredibly easy to create. From learning simple mechanics as projects, it slowly grew into a game itself. 
            </dd>
            <dt>HOW:</dt> 
            <dd>
                Role-playing game built in Flash via SWiSH MAX 2. Graphics were created within SWiSH MAX.
            </dd>
            <dt>WHEN:</dt> 
            <dd>2009-2010</dd>
    </dl>
        <br><kbd>#SWiSH MAX</kbd> <kbd>#Flash</kbd> <kbd>#HTML</kbd> <kbd>#ActionScript</kbd> <kbd>.swf</kbd>
    </div>
</div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/wavegame.gif">
            <img src="/images/designer/swishmax/mmorpg/water-island/wavegame.gif" alt="Exploring the ocean"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/wavehelp.gif">
            <img src="/images/designer/swishmax/mmorpg/water-island/wavehelp.gif" alt="Exploring the ocean"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/wavegameplay.gif">
            <img src="/images/designer/swishmax/mmorpg/water-island/wavegameplay.gif" alt="Exploring the ocean"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/wavefinish.gif">
            <img src="/images/designer/swishmax/mmorpg/water-island/wavefinish.gif" alt="Exploring the ocean"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/intothewoods.gif">
            <img src="/images/designer/swishmax/mmorpg/water-island/intothewoods.gif" alt="Exploring the island"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/island-walk-1.png">
            <img src="/images/designer/swishmax/mmorpg/water-island/island-walk-1.png" alt="Exploring the island"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/island-walk-2.png">
            <img src="/images/designer/swishmax/mmorpg/water-island/island-walk-2.png" alt="Exploring the island"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/island-walk-3.png">
            <img src="/images/designer/swishmax/mmorpg/water-island/island-walk-3.png" alt="Exploring the island"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/island-walk-4.png">
            <img src="/images/designer/swishmax/mmorpg/water-island/island-walk-4.png" alt="Exploring the island"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/island-walk-5.png">
            <img src="/images/designer/swishmax/mmorpg/water-island/island-walk-5.png" alt="Exploring the island"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/island-walk-6.png">
            <img src="/images/designer/swishmax/mmorpg/water-island/island-walk-6.png" alt="Exploring the island"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/water-island/island-walk-7.png">
            <img src="/images/designer/swishmax/mmorpg/water-island/island-walk-7.png" alt="Exploring the island"/>
        </a>
    </div>
</div>