<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="web_b"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-12 tag-yellow">
        <h1>#ALPHA VERSION</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
            <dl class="dl-horizontal">    
        <dt>WHAT:</dt>
            <dd>
                Original version of the world & characters. The game grew from these established characters and sets. Each set features the character introducing themselves or acting in such a way that becomes for what they are later known.
            </dd>
            <dt>WHY:</dt> 
            <dd>
                Flash gaming was pretty popular in the mid-late 2000s, and it was incredibly easy to create. From learning simple mechanics as projects, it slowly grew into a game itself. 
            </dd>
            <dt>HOW:</dt> 
            <dd>
                Role-playing game built in Flash via SWiSH MAX 2. Graphics were created within SWiSH MAX.
            </dd>
            <dt>WHEN:</dt> 
            <dd>2009</dd>
    </dl>
        <br><kbd>#SWiSH MAX</kbd> <kbd>#Flash</kbd> <kbd>#HTML</kbd> <kbd>#ActionScript</kbd> <kbd>.swf</kbd>
    </div>
</div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-1.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-1.png" alt="Main screen"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-2.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-2.png" alt="Binny"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-3.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-3.png" alt="Sunny"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-4.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-4.png" alt="Wobbee"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-5.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-5.png" alt="Wobbee"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-6.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-6.png" alt="Wobbee"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-7.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-7.png" alt="Darby"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-8.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-8.png" alt="Darby"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-9.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-9.png" alt="Kylie"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-10.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-10.png" alt="Wolly"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-11.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-11.png" alt="Wolly"/>
        </a>
        <a class="gallery" href="/images/designer/swishmax/mmorpg/v1/orig-12.png">
            <img src="/images/designer/swishmax/mmorpg/v1/orig-12.png" alt="Wolly"/>
        </a>
    </div>
</div>