<div ng-controller="DesignMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>#PROJECT: PORTFOLIO</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right science-text">
        <p>Because SwishMax offered free hosting, I decided to make an online portal for myself and any works I deemed relevant. Here are just a few pages from the 2009 project.</p>
    </div>
</div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-1.png">
            <img src="/images/designer/swishmax/online-portfolio/port-1.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-2.png">
            <img src="/images/designer/swishmax/online-portfolio/port-2.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-3.png">
            <img src="/images/designer/swishmax/online-portfolio/port-3.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-4.png">
            <img src="/images/designer/swishmax/online-portfolio/port-4.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-5.png">
            <img src="/images/designer/swishmax/online-portfolio/port-5.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
    </div>
</div>