<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="web"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>#PROJECT: PORTFOLIO</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
            <dl class="dl-horizontal">    
                    <dt>WHAT:</dt>
                        <dd>
                            Flash-based personal web site displaying information about me, social media links, gallery of photos, art, and misc media (vidoes, flash-programs), and photos of me.
                        </dd>
                        <dt>WHY:</dt> 
                        <dd>
                            Always intrigued by the idea of web development, I decided to forgo my previous online spaces created using HTML3 and early CSS to display it all in a semi-new way with Flash.
                        </dd>
                        <dt>HOW:</dt> 
                        <dd>
                            SWiSH MAX offered free hosting at the time, which I used for hosting this online portal.
                        </dd>
                        <dt>WHEN:</dt> 
                        <dd>2008-2009</dd>
                </dl>
    </div>
</div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-1.png">
            <img src="/images/designer/swishmax/online-portfolio/port-1.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-2.png">
            <img src="/images/designer/swishmax/online-portfolio/port-2.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-3.png">
            <img src="/images/designer/swishmax/online-portfolio/port-3.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-4.png">
            <img src="/images/designer/swishmax/online-portfolio/port-4.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/swishmax/online-portfolio/port-5.png">
            <img src="/images/designer/swishmax/online-portfolio/port-5.png" class="buffer-img center-cropped-b" alt="Project: Portfolio"/>
        </a>
    </div>
</div>