<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>


<div class="container white">
<div class="row col-md-offset-2 col-md-3 col-sm-10 col-xs-offset-1 col-xs-10">
    <br><br><img src="/images/icons/contact-icon-b.svg" alt="Icon: Contact Me" class="img-responsive center-block">
</div>

<div class="col-md-5 hidden-sm hidden-xs text-center card-plain">
    <h2><strong>PUT ME TO WORK</strong></h2>
    <p class="lead">Maybe you want to collaborate? Maybe you are interested in work? Did you want to hire me? Or maybe you just want to reach out and say hi. For whatever you need, you can reach me below!</p>
</div>
<div class="row hidden-lg hidden-md col-sm-5 col-xs-12 card-intro">
        <h2><strong>PUT ME TO WORK</strong></h2>
        <p class="lead">Maybe you want to collaborate? Maybe you are interested in work? Did you want to hire me? Or maybe you just want to reach out and say hi. For whatever you need, you can reach me below!</p>
    </div>
</div>


<div class="container-fluid">
    <div class="row col-md-5 col-sm-7 col-xs-10 tag-black-left">
        <h1>#CONTACT</h1>
    </div>
</div>

<!-- (sm) -->
<div class="container-fluid" ng-controller="ContactCtrl">
    <div class="row hidden-lg hidden-md card-green-intro">
        <form id="myform" method="post" class="my-form">
                <div class="form-group center-block">
                    <p class="lead"><em>Your Name*</em></p>
                    <input class="form-control ask" type="text" name="from_name" placeholder="Name">
                </div>
                <div class="form-group">
                    <p class="lead"><em>What's your Email?*</em></p>
                    <input class="form-control ask" type="email" name="reply_to" name="from_name" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <p class="lead"><em>What do you want to say?*</em></p>
                    <textarea class="form-control ask" type="text" name="message_html" placeholder="Message" rows="4"></textarea>
                </div>
                <div class="center-block"><h2><input class="green btn btn-lg" style="color: white;" type="submit" value="SEND"></h2></div>
            </form>
    </div>
</div>

<!-- (md) -->
<div class="container-fluid" ng-controller="ContactCtrl">
    <div class="row col-md-8 hidden-sm hidden-xs card-green-right">
    <form id="myform" method="post" class="my-form">
        <div class="form-group center-block">
            <p class="lead"><em>Your Name*</em></p>
            <input class="form-control ask" type="text" name="from_name" placeholder="Name">
        </div>
        <div class="form-group">
            <p class="lead"><em>What's your Email?*</em></p>
            <input class="form-control ask" type="email" name="reply_to" name="from_name" placeholder="Email Address">
        </div>
        <div class="form-group">
            <p class="lead"><em>What do you want to say?*</em></p>
            <textarea class="form-control ask" type="text" name="message_html" placeholder="Message" rows="4"></textarea>
        </div>
        <div class="center-block"><h2><input class="green btn btn-lg" style="color: white;" type="submit" value="SEND"></h2></div>
    </form>
</div>
</div>
