<div class="container-fluid row">
    <div id="yellow" class="col-md-5 col-sm-5 pull-left white yellow-shadow science-text buffer">
            <div class="row text-right padding"><a href="/a_designer/showing/web"><h1 id="yellow"><strong>WEB</strong></h1></a></div>
            <div class="row"><div class="col-md-5 col-sm-5"><img class="img-responsive" src="images/icons/test-icon-b.svg" style="margin-bottom: 3em"/></div><div class="col-md-5 col-sm-5"></div></div>
    </div>
    <div id="yellow" class="col-md-5 col-sm-5 pull-right white yellow-shadow science-text buffer">
        <div class="row padding"><a href="/a_designer/showing/print"><h1 id="yellow"><strong>PRINT</strong></h1></a></div>
        <div class="row"><div class="col-md-5 col-sm-5"></div><div class="col-md-5 col-sm-5">
            <img class="img-responsive" src="images/icons/test-icon-b.svg" style="margin-bottom: 3em"/></div></div>
    </div>
</div>
<div class="container-fluid row">
        <div id="yellow" class="col-md-5 col-sm-5 pull-left white yellow-shadow science-text buffer">
                <div class="row text-right padding"><a href="#"><h1 id="yellow"><strong>BRAND</strong></h1></a></div>
                <div class="row"><div class="col-md-5 col-sm-5 padding"><img class="img-responsive" src="images/icons/test-icon-b.svg" style="margin-bottom: 3em"/></div><div class="col-md-5 col-sm-5"><h2><strong>COMING SOON.</strong></h2></div></div>
        </div>
        <div id="yellow" class="col-md-5 col-sm-5 pull-right white yellow-shadow science-text buffer">
            <div class="row padding"><a href="#"><h1 id="yellow"><strong>MAKER</strong></h1></a></div>
            <div class="row"><div class="col-md-5 col-sm-5 text-right"><h2><strong>COMING SOON.</strong></h2></div><div class="col-md-5 col-sm-5 padding"><img class="img-responsive" src="images/icons/test-icon-b.svg" style="margin-bottom: 3em"/></div></div>
        </div>
 </div>