<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div class="container-fluid row">
    <div id="yellow" class="col-md-5 col-sm-5 pull-left white yellow-shadow padding buffer">
        <div class="col-md-7 col-sm-7">
            <img class="img-responsive img-size center-block" src="images/icons/web-icon-b.svg"/>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="row text-right padding">
                <a href="/a_designer/showing/web"><h1 id="yellow"><strong>WEB</strong></h1></a>
            </div>
            <div class="text-type">
                <ul class="list-unstyled">
                    <li id="white"><a href="/a_designer/showing/web/icons_from_csamandme"><span class="yellow-type">&nbsp;#</span>&nbsp;ICON&nbsp;</a></li>
                    <li id="white"><a href="/a_designer/showing/web/tablet_doodles"><span class="yellow-type">&nbsp;#</span>&nbsp;TABLET&nbsp;</a></li>
                    <li id="white"><a href="/a_designer/showing/web"><span class="yellow-type">&nbsp;#</span>&nbsp;FLASH&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="yellow" class="col-md-5 col-sm-5 pull-right white yellow-shadow padding buffer">
        <div class="col-md-4 col-sm-4">
            <div class="row text-left padding">
            <a href="/a_designer/showing/print"><h1 id="yellow"><strong>PRINT</strong></h1></a>                
            </div>       
            <div class="text-type">
                    <ul class="list-unstyled">
                        <li id="white"><a href="/a_designer/showing/print"><span class="yellow-type">&nbsp;#</span>&nbsp;SERIES&nbsp;</a></li>
                        <li id="white"><a href="/a_designer/showing/print/relief"><span class="yellow-type">&nbsp;#</span>&nbsp;RELIEF&nbsp;</a></li>
                        <li id="white"><a href="/a_designer/showing/print"><span class="yellow-type">&nbsp;#</span>&nbsp;SKETCHBOOK&nbsp;</a></li>
                    </ul>
            </div>
        </div>
    <div class="col-md-7 col-sm-7">
            <img class="img-responsive img-size center-block" src="images/icons/print-icon-b.svg"/>
        </div>
    </div>
</div>
<div class="container-fluid row">
        <div id="yellow" class="col-md-5 col-sm-5 pull-left white yellow-shadow padding buffer">
            <div class="col-md-7 col-sm-7">
                <img class="img-responsive img-size center-block" src="images/icons/test-icon-b.svg"/>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="row text-right padding">
                    <a href="/a_designer/showing/#"><h1 id="yellow"><strong>BRAND</strong></h1></a>
                </div>
                <!-- <div class="text-type">
                    <ul class="list-unstyled">
                        <li id="white"><a href="/a_designer/showing/web/icons_from_csamandme"><span class="yellow-type">&nbsp;#</span>&nbsp;ICON&nbsp;</a></li>
                        <li id="white"><a href="/a_designer/showing/web/tablet_doodles"><span class="yellow-type">&nbsp;#</span>&nbsp;TABLET&nbsp;</a></li>
                        <li id="white"><a href="/a_designer/showing/web"><span class="yellow-type">&nbsp;#</span>&nbsp;FLASH&nbsp;</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div id="yellow" class="col-md-5 col-sm-5 pull-right white yellow-shadow padding buffer">
            <div class="col-md-4 col-sm-4">
                <div class="row text-left padding">
                <a href="/a_designer/showing/#"><h1 id="yellow"><strong>MAKER</strong></h1></a>                
                </div>       
                <!-- <div class="text-type">
                        <ul class="list-unstyled">
                            <li id="white"><a href="/a_designer/showing/print"><span class="yellow-type">&nbsp;#</span>&nbsp;SERIES&nbsp;</a></li>
                            <li id="white"><a href="/a_designer/showing/print/relief"><span class="yellow-type">&nbsp;#</span>&nbsp;RELIEF&nbsp;</a></li>
                            <li id="white"><a href="/a_designer/showing/print"><span class="yellow-type">&nbsp;#</span>&nbsp;SKETCHBOOK&nbsp;</a></li>
                        </ul>
                </div> -->
            </div>
        <div class="col-md-7 col-sm-7">
                <img class="img-responsive img-size center-block" src="images/icons/test-icon-b.svg"/>
            </div>
        </div>
    </div>