<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-12 col-xs-12 card-yellow-left">
        <div class="col-md-7 col-sm-7">
            <img class="img-responsive img-size center-block" src="images/icons/web-icon-b.svg"/>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="row title hidden-xs">
                <a href="/a_designer/showing/web"><h1><strong>WEB</strong></h1></a>
            </div>
            <div class="row text-center padding hidden-md hidden-lg">
                <a href="/a_designer/showing/web"><h1><strong>WEB</strong></h1></a>
            </div>
            <div>
                <ul class="list-unstyled">
                    <li><a href="/a_designer/showing/web/icons_from_csamandme"><span>&nbsp;#</span>&nbsp;ICON&nbsp;</a></li>
                    <li><a href="/a_designer/showing/web/tablet_doodles"><span>&nbsp;#</span>&nbsp;TABLET&nbsp;</a></li>
                    <li><a href="/a_designer/showing/web"><span>&nbsp;#</span>&nbsp;FLASH&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 card-yellow-right">
        <div class="col-md-4 col-sm-4">
            <div class="row title hidden-xs">
                <a href="/a_designer/showing/print"><h1><strong>PRINT</strong></h1></a>                
            </div>   
            <div class="row text-center padding hidden-lg hidden-md">
                <a href="/a_designer/showing/print"><h1><strong>PRINT</strong></h1></a>           
            </div>     
            <div>
                    <ul class="list-unstyled">
                        <li><a href="/a_designer/showing/print"><span>&nbsp;#</span>&nbsp;SERIES&nbsp;</a></li>
                        <li><a href="/a_designer/showing/print/relief"><span>&nbsp;#</span>&nbsp;RELIEF&nbsp;</a></li>
                        <li><a href="/a_designer/showing/print"><span>&nbsp;#</span>&nbsp;SKETCHBOOK&nbsp;</a></li>
                    </ul>
            </div>
        </div>
    <div class="col-md-7 col-sm-7">
            <img class="img-responsive img-size center-block" src="images/icons/print-icon-b.svg"/>
        </div>
    </div>
</div>

<div class="container-fluid row">
        <div class="col-md-5 col-sm-4 col-xs-6 card-yellow-left">
            <div class="col-md-7 col-sm-7">
                <img class="img-responsive img-size center-block" src="images/icons/test-icon-b.svg"/>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="row title">
                    <!-- TODO make landing page -->
                    <a href="/a_designer/showing/#"><h1><strong>BRAND</strong></h1></a>
                </div>
                <div>
                        <ul class="list-unstyled">
                            <li><a href="#"><span>&nbsp;#</span>&nbsp;WEB APPS&nbsp;</a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-4 col-xs-6 card-yellow-right">
            <div class="col-md-4 col-sm-4">
                <div class="row title">
                <a href="/a_designer/showing/#"><h1><strong>MAKER</strong></h1></a>                
                </div>       
                <div>
                        <ul class="list-unstyled">
                            <li><a href="#"><span>&nbsp;#</span>&nbsp;FIBER&nbsp;</a></li>
                            <li><a href="#"><span>&nbsp;#</span>&nbsp;3D&nbsp;</a></li>
                        </ul>
                </div>
            </div>
        <div class="col-md-7 col-sm-7">
                <img class="img-responsive img-size center-block" src="images/icons/test-icon-b.svg"/>
            </div>
        </div>
    </div>