<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div class="container-fluid white padding" ng-controller="ScrollCtrl">
        <!-- PICTURES  -->
        <div class="row col-md-offset-3">
            <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                <a href="#background" ng-click="scrollTo()">
                    <img src="/images/icons/about-logo-c.svg" class="img-responsive center-block img-size" alt="Icon: Background">
                <h4>BACKGROUND</h4>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                <a href="#code" ng-click="scrollTo()">
                    <img src="/images/icons/code-icon-b.svg" class="img-responsive center-block img-size" alt="Icon: Technologies">
                    <h4>TECHNOLOGIES</h4>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                <a href="#proj" ng-click="scrollTo()">
                    <img src="/images/icons/portfolio-icon-b.svg" class="img-responsive center-block img-size" alt="Icon: Projects Portfolio">
                    <h4>PROJECTS PORTFOLIO</h4>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6 text-center">
                    <a href="#works" ng-click="scrollTo()">
                        <img src="/images/icons/takeaway-logo--c.svg" class="img-responsive center-block img-size" alt="Icon: Selected Works">
                        <h4>SELECTED WORKS</h4>
                    </a>
                </div>
        </div>
</div>
<!-- START COMBO -->
<div class="container-fluid">
    <div id="background" class="row col-lg-5 col-md-5 hidden-sm hidden-xs buffer padding green black-shadow pull-left text-right card-left">
        <h1>#BACKGROUND</h1>
    </div>
    <div class="row col-md-5 hidden-sm hidden-xs buffer padding green black-shadow pull-right card-right text-left">
        <h1>#TECHNOLOGIES</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs pull-left card-left buffer padding text-type white green-shadow">
        <p>More information coming soon. Formally wrapped up a full-stack program in 2017. Projects can be viewed on <a href="https://github.com/cssullivan4" target="_blank" class="green">Github</a>. Projects are currently being migrated here for viewing convenience. Please contact me at <a href="mailto:cssullivan4@gmail.com?Subject=Let's&nbsp;Talk!" target="_top" class="green">cssullivan4@gmail.com</a> for any questions, comments, or conversation.</p>
        <div id="code" class="hidden-sm hidden-xs"></div>
    </div>
    
    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs pull-right card-right buffer padding text-type white green-shadow">
            <dl class="dl-horizontal">
                    <dt>
                        LANGUAGE<span class="green-type">:</span>
                    </dt>
                    <dd>HTML, CSS, JavaScript&nbsp;<span class="green-type glyphicon glyphicon-list-alt"></span></dd>
                    <dt>
                        LIBRARY<span class="green-type">:</span>
                    </dt>
                        <dd>jQuery, Bootstrap, Featherlight, fullPage&nbsp;<span class="green-type glyphicon glyphicon-refresh"></span></dd>
                    <dt>
                        FRAMEWORK<span class="green-type">:</span>
                    </dt> 
                    <dd>NodeJS, ExpressJS, AngularJS&nbsp;<span class="green-type glyphicon glyphicon-object-align-horizontal"></span></dd>
                    <dt>
                        DATABASE<span class="green-type">:</span>
                    </dt>
                    <dd>MySQL&nbsp;<span class="green-type glyphicon glyphicon-folder-open"></span></dd>
                    <dt>
                        SOFTWARE<span class="green-type">:</span>
                    </dt>
                    <dd>SendGrid, Stripe&nbsp;<span class="green-type glyphicon glyphicon-hdd"></span></dd>
                    <dt>
                        IDE<span class="green-type">:</span>
                    </dt>
                    <dd>Visual Code Studio&nbsp;<span class="green-type glyphicon glyphicon-pencil"></span></dd>
                    <dt>
                        OS<span class="green-type">:</span>
                    </dt>
                    <dd>Mac OS Sierra, Ubuntu&nbsp;<span class="green-type glyphicon glyphicon-console"></span></dd>
                    <dt>
                        AGILE<span class="green-type">:</span>
                    </dt>
                    <dd>Trello&nbsp;<span class="green-type glyphicon glyphicon-calendar"></span></dd>
                    <dt>
                        HOST<span class="green-type">:</span>
                    </dt>
                    <dd>Amazon Web Services&nbsp;<span class="green-type glyphicon glyphicon-cloud"></span></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>
                        LEARNING<span class="green-type">:</span>
                    </dt>
                    <dd>TypeScript, LESS, Ionic, Apache Cordova&nbsp;<span class="green-type glyphicon glyphicon-cloud-download"></span></dd>
                </dl>
                <span id="projects" class="hidden-sm hidden-xs"></span>
    </div>
</div>
<!-- END BACKGROUND -->
<!-- START TECH -->
<div class="container-fluid">
    <div class="row hidden-lg hidden-md col-sm-11 col-xs-11 buffer padding green black-shadow pull-left card-left text-right"><div id="code" class="hidden-lg hidden-md"><span></span></div>
        <h1>#TECHNOLOGIES</h1>
    </div>
</div>
<div class="container-fluid hidden-lg hidden-md padding buffer white text-type">
        <dl class="dl-horizontal">
                <dt>
                    LANGUAGE<span class="green-type">:</span>
                </dt>
                <dd>HTML, CSS, JavaScript&nbsp;<span class="green-type glyphicon glyphicon-list-alt"></span></dd>
                <dt>
                    LIBRARY<span class="green-type">:</span>
                </dt>
                    <dd>jQuery, Bootstrap, Featherlight, fullPage&nbsp;<span class="green-type glyphicon glyphicon-refresh"></span></dd>
                <dt>
                    FRAMEWORK<span class="green-type">:</span>
                </dt> 
                <dd>NodeJS, ExpressJS, AngularJS&nbsp;<span class="green-type glyphicon glyphicon-modal-window"></span></dd>
                <dt>
                    DATABASE<span class="green-type">:</span>
                </dt>
                <dd>MySQL&nbsp;<span class="green-type glyphicon glyphicon-folder-open"></span></dd>
                <dt>
                    SOFTWARE<span class="green-type">:</span>
                </dt>
                <dd>SendGrid, Stripe&nbsp;<span class="green-type glyphicon glyphicon-hdd"></span></dd>
                <dt>
                    IDE<span class="green-type">:</span>
                </dt>
                <dd>Visual Code Studio&nbsp;<span class="green-type glyphicon glyphicon-pencil"></span></dd>
                <dt>
                    OS<span class="green-type">:</span>
                </dt>
                <dd>Mac OS Sierra, Ubuntu&nbsp;<span class="green-type glyphicon glyphicon-console"></span></dd>
                <dt>
                    AGILE<span class="green-type">:</span>
                </dt>
                <dd>Trello&nbsp;<span class="green-type glyphicon glyphicon-calendar"></span></dd>
                <dt>
                    HOST<span class="green-type">:</span>
                </dt>
                <dd>Amazon Web Services&nbsp;<span class="green-type glyphicon glyphicon-cloud"></span></dd>
            </dl>
            <dl class="dl-horizontal">
                    <dt>
                        LEARNING<span class="green-type">:</span>
                    </dt>
                    <dd>TypeScript, LESS, Ionic, Apache Cordova&nbsp;<span class="green-type glyphicon glyphicon-cloud-download"></span></dd>
                </dl>
            <span id="projects" class="hidden-lg hidden-md"></span>
</div>
<!-- END TECH -->
<!-- START PROJ -->
<div class="container-fluid">
    <div class="row col-md-5 col-sm-11 col-xs-11 buffer padding green black-shadow pull-left card-left text-right">
        <h1>#PROJECTS PORTFOLIO</h1>
    </div>
</div>
<div class="container-fluid buffer padding white text-type">
        <div class="col-md-3 col-sm-6 text-center">
            <a href="/a_developer/presenting_project/mckamey_volunteer_portal" target="_top">
                <img src="/images/projects/mvp/mvp-1.jpg" class="img-responsive center-cropped center-block img-tile"/>
                <p class="green-back"><span class="green-type">&nbsp;#</span>&nbsp;McKamey Volunteer Portal</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <a href="/a_developer/presenting_project/covalence_store" target="_top">
                <img src="/images/projects/shop/cov-welcome.png" class="img-responsive center-block img-size img-tile"/>
                <p class="green-back"><span class="green-type">&nbsp;#</span>&nbsp;Covalence eCommerce Site</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <a href="#" target="top">
            <img src="/images/under-construction@1x.svg" class="img-responsive center-block img-size center-cropped img-tile"/>
            <p class="green-back"><span class="green-type">&nbsp;#</span>&nbsp;ePortfolio</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
                <a href="/a_developer/presenting_project/student_work" target="_top">
                <img src="/images/developer/cov-badge.png" class="img-responsive center-block img-size center-cropped img-tile"/>
                <p class="green-back"><span class="green-type">&nbsp;#</span>&nbsp;Student Projects</p>
                </a>
            </div>
            <span id="works"></span>
</div>
<!-- END PROJ -->
<!-- START WORK -->
<div class="container-fluid">
        <div class="row col-md-5 col-sm-11 col-xs-11 buffer padding green black-shadow pull-left card-left text-right">
            <h1>#SELECTED WORKS</h1>
        </div>
    </div>
    <div class="container-fluid buffer padding white text-type">
            <div class="col-md-3 col-sm-6 text-center">
                <a href="/a_developer/presenting_work/Sean_Wright" target="_top">
                    <img src="/images/projects/smw-app/pg-3.png" class="img-responsive center-block img-tile" alt="Click to see selected work: Sean Wright">
                    <p class="green-back"><span class="green-type">&nbsp;#</span>&nbsp;Sean Wright Promotional</p>
                </a>
            </div>
    </div>
</div>
<!-- END WORK -->