<!-- <div class="container-fluid white padding">
    <h1 class="green">#BACKGROUND</h1>
</div> -->
<div class="container-fluid">
    <div class="row col-md-5 col-sm-7 buffer padding green black-shadow pull-right text-left card-right">
        <h1>#BACKGROUND</h1>
    </div>
</div>
<div class="container-fluid white buffer padding black-shadow science-text">
    <!-- <div class="row col-md-12 col-sm-12 white buffer padding black-shadow"> -->
        <p>More information coming soon. Formally wrapped up a full-stack program in 2017. Projects can be viewed on <a href="https://github.com/cssullivan4" target="_blank" class="green">Github</a>. Projects are currently being migrated here for viewing convenience. Please contact me at <a href="mailto:cssullivan4@gmail.com?Subject=Let's&nbsp;Talk!" target="_top" class="green">cssullivan4@gmail.com</a> for any questions, comments, or conversation.</p>
    </div>
    <div class="row col-md-5 col-sm-7 buffer padding green black-shadow pull-right text-left card-right">
        <h1>#PROJECTS PORTFOLIO</h1>
    </div>
    <div class="row col-md-9 col-sn-11 buffer padding white black-shadow pull-left science-text card-left">
        <div class="col-md-4 col-sm-6 text-center">
            <a href="/a_developer/presenting_project/mckamey_volunteer_portal">
                <img src="/images/projects/mvp/mvp-1.png" class="img-responsive center-block center-cropped img-tile"/>
            <h4>McKamey Volunteer Portal</h4></a>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
                <img src="/images/icons/test-icon-b.svg" class="img-responsive center-block img-size img-tile"/>
                <h4>Covalence eCommerce Site</h4>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <img src="/images/icons/test-icon-b.svg" class="img-responsive center-block img-size img-tile"/>
            <h4>ePortfolio</h4>
        </div>
</div>