<!-- PAGE CONTENT  -->
<div class="container-fluid">
    <!-- PICTURES  -->
    <div class="row">
        <div class="col-md-12 col-sm-12 padding buffer white">
            <p class="lead text-center">I first heard of <em>social entrepreneur</em> in 2015 while serving on the leadership board with She's the First. The organization was looking inward to at its efficiences, and I had the fortune to start dialogue with a brilliant woman named Tara Abrahams during this process. She told me that my aspirations made her think me a social entrepreneur, and it all clicked. In fact, the 2nd definition provided below was how she described it to me.</p>
            <!-- <p class="lead text-center">Here will be much more of an intro leading into why this section exists, etc. I will define my take on social entrepreneur, so we will be on the same page. I will connect this interest into 4 specific recent experiences for takeaways and 1 reference to explore a history of participation and interest. Building up why I ascribe myself to this phrase.</p> -->
        
        </div>
    <div class="row col-md-8 col-sm-9 padding buffer white blue-shadow pull-right card-right">
        <div class="col-md-4 col-sm-4">
            <img src="/images/icons/people-icon-c.svg" class="img-responsive img-size center-block"/>
        </div>
        <div class="col-md-8 col-sm-8 pull-right card-right text-type">
            <h3>SOCIAL ENTREPRENEUR <small>/ˈsōSHəl / ˌäntrəprəˈnər/ </small></h3>
            <p>noun</p>
            <ol>
                <li>A person who establishes an enterprise with the aim of solving social problems or effecting social change.</li>
                <li>Person responding to the rate at which social change is happening.</li>
            </ol><br>
        </div>
    </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row col-md-5 col-sm-7 blue black-shadow padding buffer pull-left card-left text-right">
            <h1>#BACKGROUND</h1>
        </div>
    <div class="row col-md-9 col-sm-11 white blue-shadow padding buffer pull-right card-right text-type">
        <p class="lead text-center">The consummate over-committer, I have always found myself in numerous groups, organizations, and clubs from an early age. From serving on county-wide youth advisory board for the Department of Education at 15 to founding a student organization at University at 20 to serving on a leadership board for the latter organization at 24.</p>
        <p class="lead text-center">Much to the ire of my friends over the years, working & making an impact has been something I couldn't shake. As I've matured and begun my career, my past meandering through different spaces has lent me with quite a pronounced perspective. Impact is a lense I see through; it's a motivation, and it is innate.</p>
    </div>
</div>
        <!-- <br><br>
        <img src="/images/slash-spacer.svg" class="img-responsive center-block"/>
        <br><br> -->
    
    <!-- <br> -->
    <div class="container-fluid padding buffer white text-type">
        <p class="lead text-center">The following are relevant examples of non-profit organizations I have worked or volunteered with to better give an idea of why I think myself a social entrepreneur. Each of these experiences will have marked skills or takeaways following them.</p><br>
        <!-- <div class="col-md-2 col-sm-2 col-md-offset-2 col-sm-offset-2 text-center"> -->
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
            <div class="wrap">
                <a href="#STF"><div class="box">
                    <div class="box-inner">
                        <img src="/images/se-grid/stf-bw.svg" class="img-responsive thumbnail">
                        <div class="title-box">She's the First 2012-2017</div>
                    </div>
                    </div>
                </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#CCE">
                <div class="box">
                    <div class="box-inner">
                    <img src="/images/se-grid/ymca-cce-bw.svg" class="img-responsive thumbnail">
                    <div class="title-box">Center for Civic Engagement 2012-2017</div>
                    </div>
                </div>
            </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#CDM">
                <div class="box">
                    <div class="box-inner">
            <img src="/images/se-grid/cdm-bw.svg" class="img-responsive thumbnail">
            <div class="title-box">Creative Discovery Museum 2014-2017</div>
                    </div>
                </div>
            </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#ArtsBuild">
                <div class="box">
                    <div class="box-inner">
            <img src="/images/se-grid/artsbuild-bw.svg" class="img-responsive thumbnail">
            <div class="title-box">ArtsBuild 2015-2016</div>
                    </div>
                </div>
            </a>
        <!-- <div class="row"> -->
                <!-- <div class="col-md-2 col-sm-2 col-md-offset-2 col-sm-offset-2 text-center"> -->
                        <a href="#CAC">
                            <div class="box">
                                <div class="box-inner">
                        <img src="/images/se-grid/utk-cac-bw.svg" class="img-responsive thumbnail">
                        <div class="title-box">Cultural Attractions Committee 2011-2013</div>
                                </div></div>
                        </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#HOPOK">
                <div class="box">
                    <div class="box-inner">
            <img src="/images/se-grid/hopok-bw.svg" class="img-responsive thumbnail">
            <div class="title-box">Haiti Outreach Program of Knoxville 2011-2013</div>
                    </div>
                </div>
            </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
                <a href="#CTC">
                    <div class="box">
                        <div class="box-inner">
                <img src="/images/se-grid/cha-theatre-centre-bw.svg" class="img-responsive thumbnail">
                <div class="title-box">Chattanooga Theatre Centre 2008-2015</div>
                        </div></div>
                </a>
            <!-- <div class="col-md-2 col-sm-2 text-center"> -->
                <a href="#MAS">
                    <div class="box">
                        <div class="box-inner">
                <img src="/images/se-grid/mckamey-bw.svg" class="img-responsive thumbnail">
                <div class="title-box">McKamey Animal Center 2011, 2017</div>
                        </div>
                    </div>
                </a>
        </div>
                </div>
            </div>
</div>
<!-- END PICTURES  -->
<!-- START STF  -->
<div class="container-fluid" ng-controller="HeaderCtrl">
    <div id="STF" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
        <h1>#SHE'S THE FIRST</h1>
    </div>
    <div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type pull-right card-right">
        <h2><span class="blue-type">>>></span> UNIVERSITY</h2>
        <!-- <p>* campus founding * events * Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air.
            * gave university speech 2nd summit * helped moderate panel 4th summit * have spoken to UTC twice after recruiting * numerous speakings on-campus to groups, people * what events did we execute? * mention xx summit UN but link to politi page *
        </p> -->
        <h1 class="text-center"><strong>COMING SOON.</strong></h1>
        <br>
        <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
    </div>
    <div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type card-right pull-right">
        <h2><span class="blue-type">>>></span> LEADERSHIP BOARD</h2>
            <!-- <p>Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air.
                * tara abrahams * moderate talk * salesforce w/ katie * ideas concepts for events * constitution etc * work across things * programmatic * media collab *
            </p> -->
            <h1 class="text-center"><strong>COMING SOON.</strong></h1>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
    </div>
<!-- END STF  -->
<!-- START CCE -->
<div id="CCE" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
    <h1>#CENTER FOR CIVIC ENGAGEMENT</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type card-right pull-right">
    <strong>Conference Staff/Component Leader</strong> <small>Nov 2012 - Present</small>
    <ul>
        <li>Conferences run out of Center for Civic Engagement</li>
        <li>Fall: Model United Nations, statewide conference</li>
        <li>Spring: Youth in Government, statewide conference</li>
        <li>Supervise high school participants</li>
        <li>Help programs stay on task, help keep students engaged, and help students remain respectful</li>
        <li>Supervise participants/programming by sitting in on hearings, council, and resolutions</li>
        <li>2-3 high school conferences per title; 700-900 student participants per conference</li>
    </ul>
    <br>
    <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
</div>
<!-- END CCE -->
<!-- START CDM -->
<div id="CDM" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-left card-left">
    <h1>#CREATIVE DISCOVERY MUSEUM</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type card-right pull-right">
    <strong>Museum Educator</strong> <small>Dec 2014 - Jun 2017</small>
    <ul>
        <li>Floor Interpretation, including skill, developmental, & interest assessment</li>
        <li>Curriculum-based Lessons, ranging skill levels across arts, literature, cooking, & science</li>
        <li>Exhibit Maintenance & Design, from cleaning & updating to sewing, painting, building</li>
        <li>Special Programming, camps execution, special events, & special needs event instruction & assistance</li>
        <li>Creative Discovery is a nationally ranked Top 10 children's museum</li>
    </ul>
      
      <div ng-controller="Modal">
            <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img id="img" src="/images/modals/se/cdm-camp.jpg" alt="Photo from Extreme Science Camp 7/2015 of Diet Coke + Mentos demonstration outside the Creative Discovery
                    Museum on the plaza. C. Sam is far right backing away from recently pulled trigger." width="160px" height="auto">
                  </a>
            <div class="modal fade" id="myModal" role="dialog">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-content" id="showImg">
                        </div>
                        <div id="caption"></div>
                        </div>
      </div>
      <!-- Trigger the Modal -->
<!-- <img id="myImg" src="/images/modals/se/cdm-camp.jpg" alt="Photo from Extreme Science Camp 7/2015 of Diet Coke + Mentos demonstration outside the Creative Discovery
Museum on the plaza. C. Sam is far right backing away from recently pulled trigger." width="160" height="auto"> -->

<!-- The Modal -->
<!-- <div id="myModal" class="modal"> -->

  <!-- The Close Button -->
  <!-- <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span> -->

  <!-- Modal Content (The Image) -->
  <!-- <img class="modal-content modalify"> -->

  <!-- Modal Caption (Image Text) -->
  <!-- <div id="caption"></div> -->
<!-- </div> -->
        <br>
        <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->

</div>
<!-- END CDM -->
<!-- START ARTSBUILD -->
<div id="ArtsBuild" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
    <h1>#ARTSBUILD</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type pull-right card-right">
        <h2><span class="blue-type">>>></span> Holmberg Arts Leadership Institute</h2>
        <h1 class="text-center"><strong>COMING SOON.</strong></h1>
    <!-- <p>Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air. ***case study: houston museum***</p> -->
    <div ng-controller="Modal">
        
            <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img src="/images/modals/se/artsbuild-4.jpg" class="center-cropped" id="img" alt="Holmberg Class at Tennessee Arts Commission, Oct 2015 (Middle-Right, Second Row: C. Sam)">
                  </a>
                
                  <!-- <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img src="http://www.fondosanimados.com/wallpapers/animales/grandes_felinos/pumas/depredador_sin_igual/800x600_depredador_sin_igual.jpg" id="img2" class="img-responsive" width="250px">
                  </a>
                  <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img src="http://www.muycurioso.net/sites/default/files/images/naturaleza/Mayo_2014/Animales%20blancos%20mas%20bonitos%20del%20mundo/02.jpg" id="img3" class="img-responsive" width="250px">
                  </a>
                  <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img src="http://2.bp.blogspot.com/_kmCH50e9OWk/SsDSq_PIzzI/AAAAAAAAABI/r1WwWHFup5k/s1600/Loros.jpg" id="img4" class="img-responsive" width="250px">
                  </a>           -->
              </div>  
            
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- <div class="modal-dialog modal-lg"> -->
                  <!-- Modal content-->
                  <!-- <div class="modal-content"> -->
                    <!-- <div class="modal-header"> -->
                      
                      <!-- <h4 class="modal-title">your image title here (can be dynamic) </h4> -->
                    <!-- </div> -->
                    <div class="modal-content" id="showImg">
                      <!-- here we create the image dynamically -->
                    </div>
                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                    <!-- <div class="modal-footer"> -->
                      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    </div>
                  
            <!-- Trigger the Modal -->
      <!-- <img id="myImg" src="/images/modals/se/artsbuild-4.jpg" alt="Holmberg Class at Tennessee Arts Commission, Oct 2015 (Middle-Right, Second Row: C. Sam)" width="160" height="auto"> -->
      
      <!-- The Modal -->
      <!-- <div id="myModal" class="modal"> -->
      
        <!-- The Close Button -->
        <!-- <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span> -->
      
        <!-- Modal Content (The Image) -->
        <!-- <img class="modal-content modalify"> -->
      
        <!-- Modal Caption (Image Text) -->
        <!-- <div id="caption"></div> -->
      
    <br>
    <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type pull-right card-right">
        <h2><span class="blue-type">>>></span> CCC GRANTS</span></h2>
        <h1 class="text-center"><strong>COMING SOON.</strong></h1>
</div>
<!-- END ARTSBUILD -->
<!-- START CULTURAL ATTRACTIONS COMMITTEE -->
<div id="CAC" class="row col-md-5 col-sm-7 blue black-shadow buffer padding pull-left card-left text-right">
    <h1>#CULTURAL ATTRACTIONS COMMITTEE</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding pull-right card-right text-type">
    <h1 class="text-center"><strong>COMING SOON.</strong></h1>
</div>
<!-- END CULTURAL ATTRACTIONS COMMITTEE -->
<!-- START HAITI OUTREACH PROGRAM OF KNOXVILLE -->
<div id="HOPOK" class="row col-md-5 col-sm-7 blue black-shadow padding buffer pull-left card-left text-right">
    <h1>#HAITI OUTREACH PROGRAM OF KNOXVILLE</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding pull-right card-right text-type">
    <h1 class="text-center"><strong>COMING SOON.</strong></h1>
</div>
<!-- END HAITI OUTREACH PROGRAM OF KNOXVILLE -->
<!-- START CHA THEATRE CENTRE -->
<div id="CTC" class="row col-md-5 col-sm-7 buffer padding pull-left card-left text-right blue black-shadow">
    <h1>#CHATTANOOGA THEATRE CENTRE</h1>
</div>
<div class="row col-md-9 col-sm-11 buffer padding white blue-shadow card-right pull-right text-type">
    <h1 class="text-center"><strong>COMING SOON.</strong></h1>
</div>
<!-- END CHA THEATRE CENTRE -->
<!-- START MISC -->
<div id="MAS" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
    <h1>#McKAMEY ANIMAL CENTER</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow padding buffer text-type card-right pull-right">
    <h2> <span class="blue-type">>>></span> VOLUNTEER</h2>
    <h1 class="text-center"><strong>COMING SOON.</h1></strong>
</div>
<a href="/a_developer/presenting_project/mckamey_volunteer_portal" ng-click="reload()">
<div class="row col-md-9 col-sm-11 white green-shadow padding buffer text-type pull-right card-right">
        <h2> <span class="green-type">>>></span> PROJECT: VOLUNTEER PORTAL</h2>
        <h1 class="text-center"><strong>COMING SOON.</h1></strong>
    </div>
</a>
</div>
<!-- END MISC -->