<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<!-- PAGE CONTENT  -->
<div class="container-fluid">
    <div class="row">
        <div class="card-intro">
            <p class="lead">I first heard of <em>social entrepreneur</em> in 2015 while serving on the leadership board with She's the First. The organization was looking inward at its efficiences, and I had the fortune to start dialogue with a brilliant woman named Tara Abrahams during this process. She told me that my aspirations made her think me a social entrepreneur, and it all clicked. In fact, the 2nd definition provided below was how she described it to me. I've run with it ever since.</p>
        </div>
    <!-- SOC (sm) -->
    <div class="card-blue-intro hidden-lg hidden-md">
        <div class="row">
            <div class="col-xs-4">
                <img src="/images/icons/people-icon-c.svg" class="img-icon center-block"/>
            </div>
            <div class="col-xs-8">
                <h3>SOCIAL ENTREPRENEUR <small>/ˈsōSHəl / ˌäntrəprəˈnər/ </small></h3>
                <em>noun</em>
            </div>
        </div>
        <div>
                <ol>
                    <li>A person who establishes an enterprise with the aim of solving social problems or effecting social change.</li>
                    <li>A person responding to the rate at which social change is happening.</li>
                </ol><br>
        </div>
    </div>
    <!-- SOC (md) -->
    <div class="row col-md-8 hidden-sm hidden-xs card-blue-right">
        <div class="col-md-4">
            <img src="/images/icons/people-icon-c.svg" class="img-responsive img-size center-block"/>
        </div>
        <div class="col-md-8">
            <h3>SOCIAL ENTREPRENEUR <small>/ˈsōSHəl / ˌäntrəprəˈnər/ </small></h3>
            <em>noun</em>
            <ol>
                <li>A person who establishes an enterprise with the aim of solving social problems or effecting social change.</li>
                <li>A person responding to the rate at which social change is happening.</li>
            </ol><br>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-5 col-sm-7 col-xs-10 tag-blue">
        <h1>#BACKGROUND</h1>
    </div>
</div>

<!-- BKGD (sm) -->
<div class="container-fluid card-blue-intro hidden-lg hidden-md">    
    <p class="lead">The consummate over-committer, I have always found myself in numerous groups, organizations, and clubs from an early age. From serving on a county-wide youth advisory board for the department of education at 15, to founding a student organization at university at 20, to serving on a leadership board for the latter organization at 24...I've spent a lot of time working with others, honing my skills, and advancing what I see as good.</p>
    <p class="lead">Much to the ire of my friends over the years, working & making an impact has been something I couldn't shake. As I've matured and begun my career, my past meandering through different spaces has lent me with quite a pronounced perspective. Impact is a lense I see through; it's a motivation, and it is innate.</p>
</div>

<!-- BKGD (md) -->
<div class="container-fluid hidden-sm hidden-xs">    
    <div class="row col-md-9 hidden-sm hidden-xs card-blue-right">
        <p class="lead">The consummate over-committer, I have always found myself in numerous groups, organizations, and clubs from an early age. From serving on a county-wide youth advisory board for the department of education at 15, to founding a student organization at university at 20, to serving on a leadership board for the latter organization at 24...I've spent a lot of time working with others, honing my skills, and advancing what I see as good.</p>
        <p class="lead">Much to the ire of my friends over the years, working & making an impact has been something I couldn't shake. As I've matured and begun my career, my past meandering through different spaces has lent me with quite a pronounced perspective. Impact is a lense I see through; it's a motivation, and it is innate.</p>
    </div>
</div>

<!-- START PICTURES -->
<div class="container-fluid card-intro" style="padding-bottom: 3em;" ng-controller="ScrollCtrl">
        <p class="lead text-center">The following are relevant examples of non-profit organizations I have worked or volunteered with to better give an idea of why I think myself a social entrepreneur. Each of these experiences will have marked skills or takeaways following them.</p>
        <br>
    <div class="alt hidden-lg hidden-md" ng-controller="TilePopulation">
        <div ng-repeat="aspiro in aspirations">
            <a href="{{ aspiro.anchor }}" ng-click="scrollTo()">
                <div class="row col-md-12">
                    <img src="{{ aspiro.image }}" class="img-fix">
                </div>  
            </a>
        </div>
    </div>
    <!-- ROW 1 (md)-->
        <div class="text-center col-md-offset-2 row hidden-sm hidden-xs" ng-controller="TilePopulation">
               <div class="col-md-2 "ng-repeat="aspiro in aspirations | limitTo:5:0">
                    <a href="{{ aspiro.anchor }}" ng-click="scrollTo()">
                        <div class="img-box">
                            <img src="{{ aspiro.image }}" alt="Avatar" class="img-fix img-responsive thumbnail">
                                <div class="text">
                                    <h4>{{ aspiro.title }}</h4>
                                    <small>{{ aspiro.date }}</small>
                                </div>
                        </div>
                    </a>
                </div>
            </div>
    <!-- ROW 2 (md) -->
    <div class="text-center col-md-offset-3 row hidden-sm hidden-xs" ng-controller="TilePopulation">
            <div class="col-md-2"ng-repeat="aspiro in aspirations | limitTo:10:5">
                 <a href="{{ aspiro.anchor }}" ng-click="scrollTo()">
                     <div class="img-box">
                         <img src="{{ aspiro.image }}" alt="Avatar" class="img-fix img-responsive thumbnail">
                             <div class="text">
                                 <h4>{{ aspiro.title }}</h4>
                                 <small>{{ aspiro.date }}</small>
                             </div>
                     </div>
                 </a>
             </div>
         </div>
     </div>
        </div>
                </div>
            </div>
</div>
<!-- END PICTURES  -->

<!-- START SPOKEN -->
<span id="spoken"></span>
<div class="container-fluid">
    <div class="row col-md-5 col-sm-7 col-xs-10 tag-blue">
        <h1>#SPOKEN</h1>
    </div>
</div>

<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> COACH <small>2017-Present</small></h2>
    <ul>
        <li>Spoken is a service using technology to make English instruction & acquisition not only more accessible for those in low income countries, it is tailored to help people of all-levels become more proficient in the spoken & written language</li>
        <li>Over 100+ hours of instruction and guided lessons</li>
    </ul>
</div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="col-md-9 card-blue-right">
        <h2><span>>>></span> COACH <small>2017-Present</small></h2>
        <ul>
            <li>Spoken is a service using technology to make English instruction & acquisition not only more accessible for those in low income countries, it is tailored to help people of all-levels become more proficient in the spoken & written language</li>
            <li>Over 100+ hours of instruction and guided lessons</li>
        </ul>
    </div>
</div>
<!-- END SPOKEN -->

<!-- START STF  -->
<span id="STF"></span>
<div class="container-fluid">
    <div class="row col-md-5 col-sm-7 col-xs-10 tag-blue">
        <h1>#SHE'S THE FIRST</h1>
    </div>
</div>
<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> UNIVERSITY <small>@ University of Tennessee, Knoxville / 2011-2014</small></h2>
    <ul>
        <li>Founded  Chapter:  assembled  exec  team,  drafted  constitution,  registered on campus, chartered nationally</li>
        <li>Established  local identity   &   culture;   Recruitment;   &   Increase   exposure,   program   relative   events,   &   promote mission   &   issues</li>
        <li>Awarded "Social Butterfly" in 2013 for outstanding social media presences, beating out all other chapters on campuses across the country
        <li>Consulted   with   staff   at   the   national   level   on   gender-neutral   branding   initiatives</li>
        <li>Delivered presentation with vice president about recruitment, retention, & messaging concerning gender at national summit in 2014</li>
        <li>Help moderate breakout session on gender inclusivity at national summit in 2015</li>  
    </ul>
    <br>
    <kbd>#EventPlanning</kbd> <kbd>#PublicSpeaking</kbd> <kbd>#SocialMedia</kbd> <kbd>#Branding&Identity</kbd> <kbd>#DocumentDrafting</kbd>
</div>
<a href="/a_politi#UN">
    <div class="container-fluid hidden-lg hidden-md card-red-intro">
        <h2><span>>>></span> XX SUMMIT <small>@ New York City / October 11, 2012</small></h2>
        <blockquote><em>Click through to read about participating in the XX Summit and the inaugural International Day of the Girl with the United Nations.</em></blockquote>
    </div>
</a>
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> LEADERSHIP BOARD<small> Operations Chair / 2015 - 2017</small></h2>
    <ul>
        <li>Founding  member  charged  with  establishing  alumni  association,  creating  engagement, building   community   &   pipeline,   &   streaming   data   analytics   of   members</li>
        <li>Assist in authoring by-laws</li>
        <li>Served as Chair of Operations for 2 terms, including documenting, keeping records, communicating between board & organization, & researching best practices</li>
        <li>Engagement & community building consisted of programming events, newsletters, </li>
    </ul>
    <br>
    <kbd>#DocumentDrafting</kbd> <kbd>#Communications</kbd> <kbd>#EventPlanning</kbd>
</div>

<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="row col-md-9 col-sm-12 col-xs-12 card-blue-right">
        <h2><span>>>></span> UNIVERSITY <small>@ University of Tennessee, Knoxville / 2011-2014</small></h2>
        <ul>
            <li>Founded  Chapter:  assembled  exec  team,  drafted  constitution,  registered on campus, chartered nationally</li>
            <li>Established  local identity   &   culture;   Recruitment;   &   Increase   exposure,   program   relative   events,   &   promote mission   &   issues</li>
            <li>Awarded "Social Butterfly" in 2013 for outstanding social media presences, beating out all other chapters on campuses across the country
            <li>Consulted   with   staff   at   the   national   level   on   gender-neutral   branding   initiatives</li>
            <li>Delivered presentation with vice president about recruitment, retention, & messaging concerning gender at national summit in 2014</li>
            <li>Help moderate breakout session on gender inclusivity at national summit in 2015</li>
            <!-- <li>Authored   resolution   packet   with   team   &   luminary   according   to   challenges   proposed   by United   Nations   on   the   inaugural   International   Day   of   the   Girl</li> -->
            <!-- <li>Founded student organization, which included assembling executive team, seeking faculty advisor, drafting constitution, registering on campus, and becoming chartered through national organization.</li>
            <li>Served as president for two years, helping to establish identity & culture, recruit members, increase exposure of organizations on campus, program events, fundraise, and promote the mission & issues.</li>
            <li>"He's the First" became a nickname as I was the first male to found a chapter. I quickly lent an ear to the organizations' male inclusivity efforts nationally and on-campus through fielding questions and offering perspetives.</li>
            <li>Beyond founding, my personal mark on the organization was focusing on the issues - such as economics - to increase exposure and participation with the organizations and the issues. I worked to make the perception less about the exact inequity of education, and more about the marked effects it has on the regions, nations, and world. I focused on creating an understanding of the issues so that my members, too, could carry on a breadth of conversations to bring more people to the table.</li>
            <li>I helped program & host 6 events on- and off-campus, fundraise <$1000, and spoke to many other organizations on request, advertising, or to ask for partnership.
            </li>
            <li>I laid out very specific guidelines on individual social media presences and how to be used. I managed communications for a term. We were presented the <em>Social Butterfly</em> award in 2013 at the national summit in New York, beating out all other chapters on campuses across the country.</li> -->
        </ul>
        <br>
        <kbd>#EventPlanning</kbd> <kbd>#PublicSpeaking</kbd> <kbd>#SocialMedia</kbd> <kbd>#Branding&Identity</kbd> <kbd>#DocumentDrafting</kbd>
        <!-- <p>* campus founding * events * Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air.
            * gave university speech 2nd summit * helped moderate panel 4th summit * have spoken to UTC twice after recruiting * numerous speakings on-campus to groups, people * what events did we execute? * mention xx summit UN but link to politi page *
        </p> -->
        
    </div>

    <a href="/a_politi#UN">
    <div class="row col-md-9 col-sm-11 col-xs-11 card-red">
            <h2><span>>>></span> XX SUMMIT <small>@ New York City / October 11, 2012</small></h2>
            <blockquote><em>Click through to read about participating in the XX Summit and the inaugural International Day of the Girl with the United Nations.</em></blockquote>
    </div>
    </a>
    <div class="row col-md-9 col-sm-11 col-xs-11 card-blue-right">
        <h2><span>>>></span> LEADERSHIP BOARD<small> Operations Chair / 2015 - 2017</small></h2>
        <ul>
        <li>Founding  member  charged  with  establishing  alumni  association,  creating  engagement, building   community   &   pipeline,   &   streaming   data   analytics   of   members</li>
        <li>Assist in authoring by-laws</li>
        <li>Served as Chair of Operations for 2 terms, including documenting, keeping records, communicating between board & organization, & researching best practices</li>
        <li>Engagement & community building consisted of programming events, newsletters, </li>
        </ul>
            <br>
            <kbd>#DocumentDrafting</kbd> <kbd>#Communications</kbd> <kbd>#EventPlanning</kbd>
    </div>
</div>
<!-- END STF  -->


<!-- START CCE -->
<span id="CCE"></span>
<div class="container-fluid">
    <div class="row hidden-lg hidden-md col-sm-10 col-xs-10 tag-blue">
        <h2>#CENTER FOR CIVIC ENGAGEMENT</h3>
    </div>
    <div class="row col-md-5 hidden-sm hidden-xs tag-blue">
        <h1>#CENTER FOR CIVIC ENGAGEMENT</h1>
    </div>
</div>
<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-red-intro">
    <a href="/a_politi#CCE">
        <h3><span>>>></span> CONFERENCE STAFF/COMPONENT LEADER <small>@ Nashville, TN / 2012 - Present</small></h2>
        <blockquote><em>Click through to read about volunteering with the center to learn high schoolers across the state of Tennessee about international government, politics, systems - in the vein of the United Nations - and state government through the YMCA of Middle Tennessee.</em></blockquote>
    </a>    
</div>

<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <a href="/a_politi#CCE">
        <div class="row col-md-9 card-red">
            <h2><span>>>></span> CONFERENCE STAFF/COMPONENT LEADER <small>@ Nashville, TN / 2012 - Present</small></h2>
            <blockquote><em>Click through to read about volunteering with the center to learn high schoolers across the state of Tennessee about international government, politics, systems - in the vein of the United Nations - and state government through the YMCA of Middle Tennessee.</em></blockquote>
        </div>
    </a>   
</div>

<!-- END CCE -->


<!-- START CDM -->
<span id="CDM"></span>
<div class="container-fluid">
    <div class="row hidden-lg hidden-md col-sm-10 col-xs-10 tag-blue">
        <h2>#CREATIVE DISCOVERY MUSEUM</h3>
    </div>
    <div class="row col-md-5 hidden-sm hidden-xs tag-blue">
        <h1>#CREATIVE DISCOVERY MUSEUM</h1>
    </div>    
</div>

<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> MUSEUM EDUCATOR <small>@ Chattanooga, TN / 2014 - 2017</small></h2>
    <ul>
        <li>Floor Interpretation, including skill, developmental, & interest assessment</li>
        <li>Curriculum-based Lessons, ranging skill levels across arts, literature, cooking, & science</li>
        <li>Exhibit Maintenance & Design, from cleaning & updating to sewing, painting, building</li>
        <li>Special Programming, camps execution, special events, & special education <em>(see below)</em> event instruction & assistance</li>
        <li>Creative Discovery is a nationally ranked Top 10 children's museum</li>
    </ul>
    <img class="img-icon img-responsive center-block" src="/images/modals/se/cdm-camp.jpg" alt="Photo from Extreme Science Camp 7/2015 of Diet Coke + Mentos demonstration outside the Creative Discovery Museum on the plaza. C. Sam is far right backing away from recently pulled trigger.">
    <br>
    <kbd>#BehavioralAssessment</kbd> <!--<kbd>#Problem Solving</kbd>--> <kbd>#Teaching</kbd> <kbd>#PublicSpeaking</kbd> <kbd>#Cooking</kbd> <br> <kbd>#LaserCutter</kbd> <kbd>#CustomerService</kbd>
</div>
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> Club Discovery <small>@ Chattanooga, TN / 2015 - Present</small></h2>
    <ul>
        <li>Club Discovery is a low-sensory, after hours, free-to-the-public program for not-typically-developing (including disabilities) children ages 5-12 + peers</li>
        <li>Educational assistant & lead, 2015-2017</li>
        <li>Volunteer at-large, 2017-present</li>
        <li>Participated in IronKids (of IronMan triatholon) races 2015-2016</li>
    </ul>
    <br>
    <kbd>#ProgramLead</kbd> <kbd>#Mentorship</kbd> <kbd>#SpecialEducation</kbd>
</div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="row col-md-9 card-blue-right">
        <h2><span>>>></span> MUSEUM EDUCATOR <small>@ Chattanooga, TN / 2014 - 2017</small></h2>
        <ul>
            <li>Floor Interpretation, including skill, developmental, & interest assessment</li>
            <li>Curriculum-based Lessons, ranging skill levels across arts, literature, cooking, & science</li>
            <li>Exhibit Maintenance & Design, from cleaning & updating to sewing, painting, building</li>
            <li>Special Programming, camps execution, special events, & special education <em>(see below)</em> event instruction & assistance</li>
            <li>Creative Discovery is a nationally ranked Top 10 children's museum</li>
        </ul>
      
      <div ng-controller="Modal">
            <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img id="img" src="/images/modals/se/cdm-camp.jpg" alt="Photo from Extreme Science Camp 7/2015 of Diet Coke + Mentos demonstration outside the Creative Discovery
                    Museum on the plaza. C. Sam is far right backing away from recently pulled trigger." width="160px" height="auto">
                  </a>
            <div class="modal fade" id="myModal" role="dialog">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-content" id="showImg">
                        </div>
                        <div id="caption"></div>
                        </div>
      </div>
        <br>
        <kbd>#BehavioralAssessment</kbd> <!--<kbd>#Problem Solving</kbd>--> <kbd>#Teaching</kbd> <kbd>#PublicSpeaking</kbd> <kbd>#Cooking</kbd> <br> <kbd>#LaserCutter</kbd> <kbd>#CustomerService</kbd>
    </div>
    <div class="row col-md-9 card-blue-right">
            <h2><span>>>></span> Club Discovery <small>@ Chattanooga, TN / 2015 - Present</small></h2>
        <ul>
            <li>Club Discovery is a low-sensory, after hours, free-to-the-public program for not-typically-developing (including disabilities) children ages 5-12 + peers</li>
            <li>Educational assistant & lead, 2015-2017</li>
            <li>Volunteer at-large, 2017-present</li>
            <li>Participated in IronKids (of IronMan triatholon) races 2015-2016</li>
        </ul>
            <br>
            <kbd>#ProgramLead</kbd> <kbd>#Mentorship</kbd> <kbd>#SpecialEducation</kbd>
    </div>
</div>
<!-- END CDM -->


<!-- START ARTSBUILD -->
<span id="ArtsBuild"></span>
<div class="container-fluid">
    <div class="row col-md-5 col-sm-10 col-xs-10 tag-blue">
        <h1>#ARTSBUILD</h1>
    </div>
</div>
<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> Holmberg Arts Leadership Institute <small>@ Chattanooga, TN / 2015</small></h2>
</div>
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> CCC GRANTS<small> @ Chattanooga, TN / 2016</small></h2>
</div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="row col-md-9 card-blue-right">
        <h2><span>>>></span> Holmberg Arts Leadership Institute <small>@ Chattanooga, TN / 2015</small></h2>
        <!-- <h1 class="text-center"><strong>COMING SOON.</strong></h1> -->
    <!-- <p>Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air. ***case study: houston museum***</p> -->
    <!-- start<div ng-controller="Modal"> -->
        
            <!-- start<a href="#" id="link1" data-toggle="modal" data-target="#myModal"> -->
                    <!-- start<img src="/images/modals/se/artsbuild-4.jpg" class="center-cropped" id="img" alt="Holmberg Class at Tennessee Arts Commission, Oct 2015 (Middle-Right, Second Row: C. Sam)"> -->
            <!-- Trigger the Modal -->
      <!-- <img id="myImg" src="/images/modals/se/artsbuild-4.jpg" alt="Holmberg Class at Tennessee Arts Commission, Oct 2015 (Middle-Right, Second Row: C. Sam)" width="160" height="auto"> -->
    <br>
    <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
    </div>
    <div class="row col-md-9 col-sm-11 col-xs-11 card-blue-right">
        <h2><span>>>></span> CCC GRANTS<small> @ Chattanooga, TN / 2016</small></h2>
        <!-- <h1 class="text-center"><strong>COMING SOON.</strong></h1> -->
    </div>
</div>
<!-- END ARTSBUILD -->


<!-- START CULTURAL ATTRACTIONS COMMITTEE -->
<span id="CAC"></span>
<div class="container-fluid">
    <div class="row hidden-lg hidden-md col-sm-7 col-xs-10 tag-blue">
        <h3>#CULTURAL ATTRACTIONS COMMITTEE</h3>
    </div>
    <div class="row col-md-5 hidden-sm hidden-xs tag-blue">
        <h1>#CULTURAL ATTRACTIONS COMMITTEE</h1>
    </div>    
</div>
<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> MEMBER <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h2>
    <ul>
        <li>Plan,   contract,   promote,   program,   &   execute   relevant   cultural   events   on   campus   & downtown</li>
        <li>Balanced   a   $250k   budget   keeping   in   mind   demographics   &   interests   of   student   body</li>
        <li>Contribute to earning the 2012 Charles R. Burchett Extraordinary Contributions to Campus Life presented to Central Programming Council</li>
    </ul>
    <br>
    <kbd>#EventPlanning</kbd> <kbd>#DocumentDrafting</kbd> <kbd>#Promotion</kbd>
</div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="row col-md-9 col-sm-12 col-xs-12 card-blue-right">
        <h2><span>>>></span> MEMBER <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h2>
        <ul>
        <li>Plan,   contract,   promote,   program,   &   execute   relevant   cultural   events   on   campus   & downtown</li>
        <li>Balanced   a   $250k   budget   keeping   in   mind   demographics   &   interests   of   student   body</li>
        <li>Contribute to earning the 2012 Charles R. Burchett Extraordinary Contributions to Campus Life presented to Central Programming Council</li>
        </ul>
        <br>
        <kbd>#EventPlanning</kbd> <kbd>#DocumentDrafting</kbd> <kbd>#Promotion</kbd>
    </div>
</div>
<!-- END CULTURAL ATTRACTIONS COMMITTEE -->


<!-- START HAITI OUTREACH PROGRAM OF KNOXVILLE -->
<span id="HOPOK"></span>
<div class="container-fluid">
    <div class="row hidden-lg hidden-md col-sm-7 col-xs-10 tag-blue">
        <h3>#HAITI OUTREACH PROGRAM OF KNOXVILLE</h3>
    </div>
    <div class="row col-md-5 hidden-sm hidden-xs tag-blue">
        <h1>#HAITI OUTREACH PROGRAM OF KNOXVILLE</h1>
    </div>    
</div>
<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> GIVE HAITI HOPE <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h2>
    <ul>
        <li>Served on the advertising committee for the "Breaking Ground at Southbound" benefit concert in 2011</li>
        <li>Served on the planning committee for "Fierce & Fancy Formals Fashion Show & Dress Sale" (F&F) gala in 2012</li>
        <li>Served as Chair of Membership on executive board 2012, charged with recruitment & retention</li>
        <li>Volunteered time additionally with Haiti Outreach Program of Knoxville for the F&F gala in 2013</li>
        <li>Spent a lot time programming events, advertising by speaking to organizations across campus at their meetings</li>
    </ul>
    <br>
    <kbd>#PublicSpeaking</kbd> <kbd>#EventPlanning</kbd> <kbd>#Advertising</kbd>    
</div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="row col-md-9 card-blue-right">
        <h2><span>>>></span> GIVE HAITI HOPE <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h2>
        <ul>
            <li>Served on the advertising committee for the "Breaking Ground at Southbound" benefit concert in 2011</li>
            <li>Served on the planning committee for "Fierce & Fancy Formals Fashion Show & Dress Sale" (F&F) gala in 2012</li>
            <li>Served as Chair of Membership on executive board 2012, charged with recruitment & retention</li>
            <li>Volunteered time additionally with Haiti Outreach Program of Knoxville for the F&F gala in 2013</li>
            <li>Spent a lot time programming events, advertising by speaking to organizations across campus at their meetings</li>
        </ul>
        <br>
        <kbd>#PublicSpeaking</kbd> <kbd>#EventPlanning</kbd> <kbd>#Advertising</kbd>
    </div>
</div>
<!-- END HAITI OUTREACH PROGRAM OF KNOXVILLE -->


<!-- START CHA THEATRE CENTRE -->    
<span id="CTC"></span>
<div class="container-fluid">
    <div class="row hidden-lg hidden-md col-sm-7 col-xs-10 tag-blue">
        <h2>#CHATTANOOGA THEATRE CENTRE</h2>
    </div>
    <div class="row col-md-5 hidden-sm hidden-xs tag-blue">
        <h1>#CHATTANOOGA THEATRE CENTRE</h1>
    </div>
</div>
<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
    <h2><span>>>></span> VOLUNTEER <small>/ 2008 - 2015</small></h2>
</div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="row col-md-9 col-sm-12 col-xs-12 card-blue-right">
        <h2><span>>>></span> VOLUNTEER <small>/ 2008 - 2015</small></h2>
        
    </div>
</div>
<!-- END CHA THEATRE CENTRE -->


<!-- START MISC -->
<span id="MAS"></span>
<div class="container-fluid">
    <div class="hidden-lg hidden-md col-sm-7 col-xs-10 tag-blue">
        <h2>#McKAMEY ANIMAL CENTER</h2>
    </div>
    <div class="row col-md-5 hidden-sm hidden-xs tag-blue">
        <h1>#McKAMEY ANIMAL CENTER</h1>
    </div>
</div>
<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-blue-intro">
        <h2> <span>>>></span> VOLUNTEER <small>/ 2011</small></h2>
</div>
<div class="container-fluid hidden-lg hidden-md card-green-intro">
    <a href="/a_developer/presenting_project/mckamey_volunteer_portal" target="_top">
        <h2> <span>>>></span> PROJECT: VOLUNTEER PORTAL <small>/ 2017</small></h2>
        <blockquote><em>Click through to read about web app project in conjuction with McKamey Animal Center & Covalence.</em></blockquote>
    </a>
</div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
    <div class="row col-md-9 col-sm-12 col-xs-12 card-blue-right">
        <h2> <span>>>></span> VOLUNTEER <small>/ 2011</small></h2>
        <!-- <h1 class="text-center"><strong>COMING SOON.</h1></strong> -->
    </div>
    <a href="/a_developer/presenting_project/mckamey_volunteer_portal" target="_top">
        <div class="row col-md-9 col-sm-12 card-green-right">
            <h2> <span>>>></span> PROJECT: VOLUNTEER PORTAL <small>/ 2017</small></h2>
            <blockquote><em>Click through to read about web app project in conjuction with McKamey Animal Center & Covalence.</em></blockquote>
        </div>
    </a>
</div>
<!-- END MISC -->