<!-- PAGE CONTENT  -->
<div class="container-fluid">
    <!-- PICTURES  -->
    <div class="row">
        <div class="col-md-12 col-sm-12 padding buffer white">
            <p class="lead text-center">I first heard of <em>social entrepreneur</em> in 2015 while serving on the leadership board with She's the First. The organization was looking inward at its efficiences, and I had the fortune to start dialogue with a brilliant woman named Tara Abrahams during this process. She told me that my aspirations made her think me a social entrepreneur, and it all clicked. In fact, the 2nd definition provided below was how she described it to me. I've run with it ever since.</p>
            <!-- <p class="lead text-center">Here will be much more of an intro leading into why this section exists, etc. I will define my take on social entrepreneur, so we will be on the same page. I will connect this interest into 4 specific recent experiences for takeaways and 1 reference to explore a history of participation and interest. Building up why I ascribe myself to this phrase.</p> -->
        
        </div>
    <div class="row col-md-8 col-sm-9 padding buffer white blue-shadow pull-right card-right">
        <div class="col-md-4 col-sm-4">
            <img src="/images/icons/people-icon-c.svg" class="img-responsive img-size center-block"/>
        </div>
        <div class="col-md-8 col-sm-8 pull-right card-right text-type">
            <h3>SOCIAL ENTREPRENEUR <small>/ˈsōSHəl / ˌäntrəprəˈnər/ </small></h3>
            <p>noun</p>
            <ol>
                <li>A person who establishes an enterprise with the aim of solving social problems or effecting social change.</li>
                <li>A person responding to the rate at which social change is happening.</li>
            </ol><br>
        </div>
    </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row col-md-5 col-sm-7 blue black-shadow padding buffer pull-left card-left text-right">
            <h1>#BACKGROUND</h1>
        </div>
    <div class="row col-md-9 col-sm-11 white blue-shadow padding buffer pull-right card-right text-type">
        <p class="lead text-center">The consummate over-committer, I have always found myself in numerous groups, organizations, and clubs from an early age. From serving on a county-wide youth advisory board for the department of education at 15, to founding a student organization at university at 20, to serving on a leadership board for the latter organization at 24...I've spent a lot of time working with others, honing my skills, and advancing what I see as good.</p>
        <p class="lead text-center">Much to the ire of my friends over the years, working & making an impact has been something I couldn't shake. As I've matured and begun my career, my past meandering through different spaces has lent me with quite a pronounced perspective. Impact is a lense I see through; it's a motivation, and it is innate.</p>
    </div>
</div>

    <div class="container-fluid padding buffer white text-type">
        <p class="lead text-center">The following are relevant examples of non-profit organizations I have worked or volunteered with to better give an idea of why I think myself a social entrepreneur. Each of these experiences will have marked skills or takeaways following them.</p><br>
        <!-- <div class="col-md-2 col-sm-2 col-md-offset-2 col-sm-offset-2 text-center"> -->
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
            <div class="wrap">
                <a href="#STF"><div class="box">
                    <div class="box-inner">
                        <img src="/images/se-grid/stf-bw.svg" class="img-responsive thumbnail">
                        <div class="title-box">She's the First 2012-2017</div>
                    </div>
                    </div>
                </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#CCE">
                <div class="box">
                    <div class="box-inner">
                    <img src="/images/se-grid/ymca-cce-bw.svg" class="img-responsive thumbnail">
                    <div class="title-box">Center for Civic Engagement 2012-2017</div>
                    </div>
                </div>
            </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#CDM">
                <div class="box">
                    <div class="box-inner">
            <img src="/images/se-grid/cdm-bw.svg" class="img-responsive thumbnail">
            <div class="title-box">Creative Discovery Museum 2014-2017</div>
                    </div>
                </div>
            </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#ArtsBuild">
                <div class="box">
                    <div class="box-inner">
            <img src="/images/se-grid/artsbuild-bw.svg" class="img-responsive thumbnail">
            <div class="title-box">ArtsBuild 2015-2016</div>
                    </div>
                </div>
            </a>
        <!-- <div class="row"> -->
                <!-- <div class="col-md-2 col-sm-2 col-md-offset-2 col-sm-offset-2 text-center"> -->
                        <a href="#CAC">
                            <div class="box">
                                <div class="box-inner">
                        <img src="/images/se-grid/utk-cac-bw.svg" class="img-responsive thumbnail">
                        <div class="title-box">Cultural Attractions Committee 2011-2013</div>
                                </div></div>
                        </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
            <a href="#HOPOK">
                <div class="box">
                    <div class="box-inner">
            <img src="/images/se-grid/hopok-bw.svg" class="img-responsive thumbnail">
            <div class="title-box">Haiti Outreach Program of Knoxville 2011-2013</div>
                    </div>
                </div>
            </a>
        <!-- <div class="col-md-2 col-sm-2 text-center"> -->
                <a href="#CTC">
                    <div class="box">
                        <div class="box-inner">
                <img src="/images/se-grid/cha-theatre-centre-bw.svg" class="img-responsive thumbnail">
                <div class="title-box">Chattanooga Theatre Centre 2008-2015</div>
                        </div></div>
                </a>
            <!-- <div class="col-md-2 col-sm-2 text-center"> -->
                <a href="#MAS">
                    <div class="box">
                        <div class="box-inner">
                <img src="/images/se-grid/mckamey-bw.svg" class="img-responsive thumbnail">
                <div class="title-box">McKamey Animal Center 2011, 2017</div>
                        </div>
                    </div>
                </a>
        </div>
                </div>
            </div>
</div>
<!-- END PICTURES  -->
<!-- START STF  -->
<div class="container-fluid" ng-controller="HeaderCtrl">
    <div id="STF" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
        <h1>#SHE'S THE FIRST</h1>
    </div>
    <div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type pull-right card-right">
        <h2><span class="blue-type">>>></span> UNIVERSITY <small>@ University of Tennessee, Knoxville / 2011-2014</small></h2>
        <ul>
            <li>Founded  Chapter:  assembled  exec  team,  drafted  constitution,  registered on campus, chartered nationally</li>
            <li>Established  local identity   &   culture;   Recruitment;   &   Increase   exposure,   program   relative   events,   &   promote mission   &   issues</li>
            <li>Awarded "Social Butterfly" in 2013 for outstanding social media presences, beating out all other chapters on campuses across the country
            <li>Consulted   with   staff   at   the   national   level   on   gender-neutral   branding   initiatives</li>
            <li>Delivered presentation with vice president about recruitment, retention, & messaging concerning gender at national summit in 2014</li>
            <li>Help moderate breakout session on gender inclusivity at national summit in 2015</li>
            <!-- <li>Authored   resolution   packet   with   team   &   luminary   according   to   challenges   proposed   by United   Nations   on   the   inaugural   International   Day   of   the   Girl</li> -->
            <!-- <li>Founded student organization, which included assembling executive team, seeking faculty advisor, drafting constitution, registering on campus, and becoming chartered through national organization.</li>
            <li>Served as president for two years, helping to establish identity & culture, recruit members, increase exposure of organizations on campus, program events, fundraise, and promote the mission & issues.</li>
            <li>"He's the First" became a nickname as I was the first male to found a chapter. I quickly lent an ear to the organizations' male inclusivity efforts nationally and on-campus through fielding questions and offering perspetives.</li>
            <li>Beyond founding, my personal mark on the organization was focusing on the issues - such as economics - to increase exposure and participation with the organizations and the issues. I worked to make the perception less about the exact inequity of education, and more about the marked effects it has on the regions, nations, and world. I focused on creating an understanding of the issues so that my members, too, could carry on a breadth of conversations to bring more people to the table.</li>
            <li>I helped program & host 6 events on- and off-campus, fundraise <$1000, and spoke to many other organizations on request, advertising, or to ask for partnership.
            </li>
            <li>I laid out very specific guidelines on individual social media presences and how to be used. I managed communications for a term. We were presented the <em>Social Butterfly</em> award in 2013 at the national summit in New York, beating out all other chapters on campuses across the country.</li> -->
        </ul>
        <br>
        <kbd>#EventPlanning</kbd> <kbd>#PublicSpeaking</kbd> <kbd>#SocialMedia</kbd> <kbd>#Branding&Identity</kbd> <kbd>#DocumentDrafting</kbd>
        <!-- <p>* campus founding * events * Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air.
            * gave university speech 2nd summit * helped moderate panel 4th summit * have spoken to UTC twice after recruiting * numerous speakings on-campus to groups, people * what events did we execute? * mention xx summit UN but link to politi page *
        </p> -->
        
    </div>
    <a href="/a_politi#UN" ng-click="reload();">
    <div class="row col-md-9 col-sm-11 white red-shadow buffer padding text-type card-right pull-right">
            <h2><span class="red-type">>>></span> XX SUMMIT <small>@ New York City / October 11, 2012</small></h2>
            <blockquote><em>Click through to read about participating in the XX Summit and the inaugural International Day of the Girl with the United Nations.</em></blockquote>
    </div>
    </a>
    <div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type card-right pull-right">
        <h2><span class="blue-type">>>></span> LEADERSHIP BOARD<small> Operations Chair / 2015 - 2017</small></h2>
        <ul>
        <li>Founding  member  charged  with  establishing  alumni  association,  creating  engagement, building   community   &   pipeline,   &   streaming   data   analytics   of   members</li>
        <li>Assit in authoring by-laws</li>
        <li>Served as Chair of Operations for 2 terms, including documenting, keeping records, communicating between board & organization, & researching best practices</li>
        <li>Engagement & community building consisted of programming events, newsletters, </li>
        </ul>
            <!-- <p>Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air.
                * tara abrahams * moderate talk * salesforce w/ katie * ideas concepts for events * constitution etc * work across things * programmatic * media collab *
            </p> -->
            <!-- <h1 class="text-center"><strong>COMING SOON.</strong></h1> -->
            <br>
            <kbd>#DocumentDrafting</kbd> <kbd>#Communications</kbd> <kbd>#EventPlanning</kbd>
    </div>
<!-- END STF  -->
<!-- START CCE -->
<div id="CCE" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
    <h1>#CENTER FOR CIVIC ENGAGEMENT</h1>
</div>
<a href="/a_politi#CCE" ng-click="reload();">
<div class="row col-md-9 col-sm-11 white red-shadow buffer padding text-type card-right pull-right">
        <h2><span class="red-type">>>></span> CONFERENCE STAFF/COMPONENT LEADER <small>@ Nashville, TN / 2012 - Present</small></h2>
        <blockquote><em>Click through to read about volunteering with the center to learn high schoolers across the state of Tennessee about international government, politics, systems - in the vein of the United Nations - and state government through the YMCA of Middle Tennessee.</em></blockquote>
</div>
</a>
<!-- END CCE -->
<!-- START CDM -->
<div id="CDM" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-left card-left">
    <h1>#CREATIVE DISCOVERY MUSEUM</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type card-right pull-right">
        <h2><span class="blue-type">>>></span> MUSEUM EDUCATOR <small>@ Chattanooga, TN / 2014 - 2017</small></h2>
    <ul>
        <li>Floor Interpretation, including skill, developmental, & interest assessment</li>
        <li>Curriculum-based Lessons, ranging skill levels across arts, literature, cooking, & science</li>
        <li>Exhibit Maintenance & Design, from cleaning & updating to sewing, painting, building</li>
        <li>Special Programming, camps execution, special events, & special needs event instruction & assistance</li>
        <li>Creative Discovery is a nationally ranked Top 10 children's museum</li>
    </ul>
      
      <div ng-controller="Modal">
            <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img id="img" src="/images/modals/se/cdm-camp.jpg" alt="Photo from Extreme Science Camp 7/2015 of Diet Coke + Mentos demonstration outside the Creative Discovery
                    Museum on the plaza. C. Sam is far right backing away from recently pulled trigger." width="160px" height="auto">
                  </a>
            <div class="modal fade" id="myModal" role="dialog">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-content" id="showImg">
                        </div>
                        <div id="caption"></div>
                        </div>
      </div>
      <!-- Trigger the Modal -->
<!-- <img id="myImg" src="/images/modals/se/cdm-camp.jpg" alt="Photo from Extreme Science Camp 7/2015 of Diet Coke + Mentos demonstration outside the Creative Discovery
Museum on the plaza. C. Sam is far right backing away from recently pulled trigger." width="160" height="auto"> -->

<!-- The Modal -->
<!-- <div id="myModal" class="modal"> -->

  <!-- The Close Button -->
  <!-- <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span> -->

  <!-- Modal Content (The Image) -->
  <!-- <img class="modal-content modalify"> -->

  <!-- Modal Caption (Image Text) -->
  <!-- <div id="caption"></div> -->
<!-- </div> -->
        <br>
        <kbd>#BehavioralAssessment</kbd> <!--<kbd>#Problem Solving</kbd>--> <kbd>#Teaching</kbd> <kbd>#PublicSpeaking</kbd> <kbd>#Cooking</kbd> <br><kbd>#SpecialEducation</kbd> <kbd>#LaserCutter</kbd> <kbd>#CustomerService</kbd>

</div>
<!-- END CDM -->
<!-- START ARTSBUILD -->
<div id="ArtsBuild" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
    <h1>#ARTSBUILD</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type pull-right card-right">
        <h2><span class="blue-type">>>></span> Holmberg Arts Leadership Institute <small>@ Chattanooga, TN / 2015</small></h2>
        <!-- <h1 class="text-center"><strong>COMING SOON.</strong></h1> -->
    <!-- <p>Now this is a story all about how my life got twist, turned upside-down, and I'd like to take a moment. Just sit right there. I'll tell you all about how I became the Prince of Bel-Air. ***case study: houston museum***</p> -->
    <!-- start<div ng-controller="Modal"> -->
        
            <!-- start<a href="#" id="link1" data-toggle="modal" data-target="#myModal"> -->
                    <!-- start<img src="/images/modals/se/artsbuild-4.jpg" class="center-cropped" id="img" alt="Holmberg Class at Tennessee Arts Commission, Oct 2015 (Middle-Right, Second Row: C. Sam)"> -->
                  <!-- start</a> -->
                
                  <!-- <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img src="http://www.fondosanimados.com/wallpapers/animales/grandes_felinos/pumas/depredador_sin_igual/800x600_depredador_sin_igual.jpg" id="img2" class="img-responsive" width="250px">
                  </a>
                  <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img src="http://www.muycurioso.net/sites/default/files/images/naturaleza/Mayo_2014/Animales%20blancos%20mas%20bonitos%20del%20mundo/02.jpg" id="img3" class="img-responsive" width="250px">
                  </a>
                  <a href="#" id="link1" data-toggle="modal" data-target="#myModal">
                    <img src="http://2.bp.blogspot.com/_kmCH50e9OWk/SsDSq_PIzzI/AAAAAAAAABI/r1WwWHFup5k/s1600/Loros.jpg" id="img4" class="img-responsive" width="250px">
                  </a>           -->
              <!-- start</div>   -->
            
              <!-- Modal -->
              <!-- starthere<div class="modal fade" id="myModal" role="dialog"> -->
                <!-- starthere<button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <!-- <div class="modal-dialog modal-lg"> -->
                  <!-- Modal content-->
                  <!-- <div class="modal-content"> -->
                    <!-- <div class="modal-header"> -->
                      
                      <!-- <h4 class="modal-title">your image title here (can be dynamic) </h4> -->
                    <!-- </div> -->
                     <!-- starthere<div class="modal-content" id="showImg"> -->
                      <!-- here we create the image dynamically -->
                    <!-- starthere</div> -->
                    <!-- Modal Caption (Image Text) -->
                    <!-- starthere<div id="caption"></div> -->
                    <!-- <div class="modal-footer"> -->
                      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    <!-- starthere</div> -->
                  
            <!-- Trigger the Modal -->
      <!-- <img id="myImg" src="/images/modals/se/artsbuild-4.jpg" alt="Holmberg Class at Tennessee Arts Commission, Oct 2015 (Middle-Right, Second Row: C. Sam)" width="160" height="auto"> -->
      
      <!-- The Modal -->
      <!-- <div id="myModal" class="modal"> -->
      
        <!-- The Close Button -->
        <!-- <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span> -->
      
        <!-- Modal Content (The Image) -->
        <!-- <img class="modal-content modalify"> -->
      
        <!-- Modal Caption (Image Text) -->
        <!-- <div id="caption"></div> -->
      
    <br>
    <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding text-type pull-right card-right">
        <h2><span class="blue-type">>>></span> CCC GRANTS<small> @ Chattanooga, TN / 2016</small></h2>
        <!-- <h1 class="text-center"><strong>COMING SOON.</strong></h1> -->
</div>
<!-- END ARTSBUILD -->
<!-- START CULTURAL ATTRACTIONS COMMITTEE -->
<div id="CAC" class="row col-md-5 col-sm-7 blue black-shadow buffer padding pull-left card-left text-right">
    <h1>#CULTURAL ATTRACTIONS COMMITTEE</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding pull-right card-right text-type">
        <h2><span class="blue-type">>>></span> MEMBER <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h2>
        <ul>
        <li>Plan,   contract,   promote,   program,   &   execute   relevant   cultural   events   on   campus   & downtown</li>
        <li>Balanced   a   $250k   budget   keeping   in   mind   demographics   &   interests   of   student   body</li>
        <li>Contribute to earning the 2012 Charles R. Burchett Extraordinary Contributions to Campus Life presented to Central Programming Council</li>
        </ul>
        <br>
        <kbd>#EventPlanning</kbd> <kbd>#DocumentDrafting</kbd> <kbd>#Promotion</kbd>
    </div>
<!-- END CULTURAL ATTRACTIONS COMMITTEE -->
<!-- START HAITI OUTREACH PROGRAM OF KNOXVILLE -->
<div id="HOPOK" class="row col-md-5 col-sm-7 blue black-shadow padding buffer pull-left card-left text-right">
    <h1>#HAITI OUTREACH PROGRAM OF KNOXVILLE</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow buffer padding pull-right card-right text-type">
        <h2><span class="blue-type">>>></span> GIVE HAITI HOPE <small>@ University of Tennessee, Knoxville / 2011 - 2013</small></h2>
        <ul>
        <li>Served on the advertising committee for the "Breaking Ground at Southbound" benefit concert in 2011</li>
        <li>Served on the planning committee for "Fierce & Fancy Formals Fashion Show & Dress Sale" (F&F) gala in 2012</li>
        <li>Served as Chair of Membership on executive board 2012, charged with recruitment & retention</li>
        <li>Volunteered time additionally with Haiti Outreach Program of Knoxville for the F&F gala in 2013</li>
        <li>Spent a lot time programming events, advertising by speaking to organizations across campus at their meetings</li>
    </ul>
    <br>
    <kbd>#PublicSpeaking</kbd> <kbd>#EventPlanning</kbd> <kbd>#Advertising</kbd>
</div>
<!-- END HAITI OUTREACH PROGRAM OF KNOXVILLE -->
<!-- START CHA THEATRE CENTRE -->
<div id="CTC" class="row col-md-5 col-sm-7 buffer padding pull-left card-left text-right blue black-shadow">
    <h1>#CHATTANOOGA THEATRE CENTRE</h1>
</div>
<div class="row col-md-9 col-sm-11 buffer padding white blue-shadow card-right pull-right text-type">
        <h2><span class="blue-type">>>></span> VOLUNTEER <small>/ 2008 - 2015</small></h2>
</div>
<!-- END CHA THEATRE CENTRE -->
<!-- START MISC -->
<div id="MAS" class="row col-md-5 col-sm-7 buffer blue black-shadow pull-left padding text-right card-left">
    <h1>#McKAMEY ANIMAL CENTER</h1>
</div>
<div class="row col-md-9 col-sm-11 white blue-shadow padding buffer text-type card-right pull-right">
    <h2> <span class="blue-type">>>></span> VOLUNTEER <small>/ 2011</small></h2>
    <!-- <h1 class="text-center"><strong>COMING SOON.</h1></strong> -->
</div>
<a href="/a_developer/presenting_project/mckamey_volunteer_portal" ng-click="reload();">
<div class="row col-md-9 col-sm-11 white green-shadow padding buffer text-type pull-right card-right">
        <h2> <span class="green-type">>>></span> PROJECT: VOLUNTEER PORTAL <small>/ 2017</small></h2>
        <blockquote><em>Click through to read about web app project in conjuction with McKamey Animal Center & Covalence.</em></blockquote>
    </div>
</a>
</div>
<!-- END MISC -->