<div class="container-fluid card-intro card-helper-politi" ng-controller="ScrollCtrl">
        <p class="lead">
            Disclaimer out of the way, below you will find the over-reaching categories as I see fit. There is cross-over with <em><span><a href="/a_social_entrepreneur" target="_top">/Aspiring Social Entrepreneur</a></span></em>, so you may find repeated information, links, or a change in scheme.
        </p>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <a href="#">
                <img src="/images/icons/civic-icon-b.svg" class="img-responsive center-block img-size" alt="Icon: Civic">
                <h3>CIVIC</h3>
            </a>
            <!-- <small> -->
            <ul class="list-unstyled">
                <li><a href="#CHA" id="red" ng-click="scrollTo()"><span>#</span>CITY OF CHATTANOOGA&nbsp;</a></li>
                        <!-- <small><a href="#local" id="red"><span>#</span>LOCALIZE.IT&nbsp;</a></small><br> -->
                <li><a href="#CCE" id="red" ng-click="scrollTo()"><span>#</span>CENTER FOR CIVIC ENGAGEMENT&nbsp;</a></li>
            </ul>
            <!-- </small> -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="/images/icons/policy-icon-b.svg" class="img-responsive center-block img-size" alt="Icon: Policy">
                            <h3>POLICY</h3>
                        </a>
                        <!-- <small> -->
                        <ul class="list-unstyled">
                            <li><a href="#MCW" ng-click="scrollTo()"><span>#</span>MAYOR'S COUNCIL FOR WOMEN&nbsp;</a></li>
                            <li><a href="#UN" ng-click="scrollTo()"><span>#</span>INAUGURAL INTERNATIONAL DAY OF THE GIRL&nbsp;</a></li>
                            <li><a href="#TN" ng-click="scrollTo()"><span>#</span>TN COUNCIL&nbsp;</a></li>
                        </ul>
                    <!-- </small> -->
                    </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="/images/icons/campaign-icon-b.svg" class="img-responsive center-block img-size" alt="Icon: Campaign">
                            <h3>CAMPAIGN</h3>
                        </a>
                        <!-- <small> -->
                            <ul class="list-unstyled">
                                <li><a href="#melody" ng-click="scrollTo()"><span>#</span>MELODY SHEKARI FOR CONGRESS&nbsp;</a></li>
                                </ul>
                            <!-- </small> -->
                    </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="/images/icons/organizing-icon-b.svg" id="sci-app-ico" class="img-responsive center-block img-size" alt="Icon: Organizing">
                            <h3>ORGANIZING</h3>
                        </a>
                        <!-- <small> -->
                            <ul class="list-unstyled">
                                <li><a href="#AR-fellow" ng-click="scrollTo()"><span>#</span>ARKANSAS VICTORY FELLOWSHIP&nbsp;</a></li>
                                <li><a href="#harvard"><span ng-click="scrollTo()">#</span>HARVARD WOMEN'S FORUM&nbsp;</a></li>
                        <!-- </small> -->
                    </div>
    </div>