<!-- PAGE CONTENT  -->
<div class="container">
    <div class="row">
        <div class="padding white text-type">
            <p class="lead text-center">I have found myself increasingly in the "politi" space, which is my personal reference to all things relating to public policy, elected office, and activism. I've been drawn towards the policy side for years (refer to <span class="underline-3"><a href="/a_social_entrepreneur">/Aspiring Social Entrepreneur</a></span>), but I have recently turned an eye towards action, like held office or organizing. From SGA at University to finding myself interning at the Mayor's to joining the political sphere, I can no longer deny this force in my life.</p> 
            <p class="lead texter-center">There is caution to be had with being open about  a penchant towards the political space, but as can be inferred from the contents of this site, my politics aren't <em>overt</em>. The draw for me is socially motivated alone, or the draw is motivated by problem-solving (I enjoy development, systems, contingencies). It is less motivated by self or party.</p>
        </div>
    </div>
</div> 
<div class="container-fluid white buffer">
        <!-- PICTURES  -->
        <div class="row col-md-12 col-sm-12 padding buffer">
                <p class="lead text-center">Disclaimer out of the way, below you will find the over-reaching categories as I see fit. There is cross-over with <span class="underline-3"><a href="/a_social_entrepreneur">/Aspiring Social Entrepreneur</a></span>, so you may find repeated information, links, or a change in scheme.</p>
                <div class="col-md-3 col-sm-3 text-center text-type">
                    <a href="#">
                        <h3 class="red">CIVIC</h3>
                    <img src="/images/icons/civic-icon-b.svg" class="img-responsive center-block img-size"></a>
                    <small>
                    <ul class="list-unstyled">
                        <li><a href="#CHA" id="red"><span class="red-type">#</span>CITY OF CHATTANOOGA&nbsp;</a></li>
                    <!-- <small><a href="#local" id="red"><span class="red-type">#</span>LOCALIZE.IT&nbsp;</a></small><br> -->
                        <li><a href="#MISC" id="red"><span class="red-type">#</span>MISCELLEANEOUS&nbsp;</a></li>
                    </ul>
                </small>
                </div>
                <div class="col-md-3 col-sm-3 text-center text-type">
                    <a href="#">
                        <h3 class="red">POLICY</h3>
                    <img src="/images/icons/policy-icon-b.svg" class="img-responsive center-block img-size"></a>
                    <small>
                    <ul class="list-unstyled">
                        <li><a href="#MCW" id="red"><span class="red-type">#</span>MAYOR'S COUNCIL FOR WOMEN&nbsp;</a></li>
                        <li><a href="#UN" id="red"><span class="red-type">#</span>INAUGURAL INTERNATIONAL DAY OF THE GIRL&nbsp;</a></li>
                        <li><a href="#TN" id="red"><span class="red-type">#</span>TN COUNCIL&nbsp;</a></li>
                    </ul>
                </small>
                </div>
                <div class="col-md-3 col-sm-3 text-center text-type">
                    <a href="#">
                        <h3 class="red">CAMPAIGN</h3>
                    <img src="/images/icons/campaign-icon-b.svg" class="img-responsive center-block img-size"></a>
                    <small>
                        <ul class="list-unstyled">
                            <li><a href="#melody" id="red"><span class="red-type">#</span>MELODY SHEKARI FOR CONGRESS&nbsp;</a></li>
                            </ul>
                        </small>
                </div>
                <div class="col-md-3 col-sm-3 text-center text-type">
                    <a href="#">
                        <h3 class="red">ORGANIZING</h3>
                    <img src="/images/icons/organizing-icon-b.svg" id="sci-app-ico" class="img-responsive center-block img-size"></a>
                    <small>
                        <ul class="list-unstyled">
                            <li><a href="#AR-fellow" id="red"><span class="red-type">#</span>ARKANSAS VICTORY FELLOWSHIP&nbsp;</a></li>
                            <li><a href="#harvard" id="red"><span class="red-type">#</span>HARVARD WOMEN'S FORUM&nbsp;</a></li>
                    </small>
                </div>
            </div>
            
    </div>
    <!-- END PICTURES  -->
    <!-- START CIVIC START CIVIC START CIVIC -->
        <!-- START CHA -->
        <div id="CHA" class="row col-md-5 col-sm-7 buffer red black-shadow pull-left padding text-right card-left">
                <h1>#CITY OF CHATTANOOGA</h1>
            </div>
            <div class="row col-md-9 col-sm-11 pull-right card-right white red-shadow buffer padding text-type">
                    <h2><span class="red-type">>>></span> OFFICE OF THE MAYOR <small>Internship / 2016</small></h2>
                <!-- <h3>&nbsp;<span class="red-type">>>></span>&nbsp;Office of the Mayor&nbsp;<small>Internship</small></h3><small>Jan 2016 - May 2016</small> -->
            <ul>
                <li>Interact with, record, & communicate constituents' needs & messages to Mayor's Office</li>
                <li>Miscellaneous office work, i.e. making copies, stuffing envelopes, list checking</li>
            </ul>
            <!-- <p>* make clearer connection, flesh out, maybe back-info *</p> -->
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
        </div>
        <!-- END CHA -->
        <!-- START LOCALIZE.IT -->
        <!-- <div id="local" class="row col-md-5 col-sm-7 red black-shadow padding buffer pull-left text-right card-left"> -->
            <!-- <h1>#LOCALIZE.IT</h1> -->
        <!-- </div> -->
        <!-- <div class="row col-md-9 col-sm-11 white red-shadow buffer padding text-type pull-left"> -->
            <!-- <h1><strong>COMING SOON.</strong></h1> -->
        <!-- </div> -->
        <!-- END LOCALIZE.IT -->
        <!-- START MISCELLEANEOUS -->
        <!-- <div id="MISC" class="row col-md-5 col-sm-7 red black-shadow padding buffer pull-left text-right card-left">
                <h1>#MISCELLEANEOUS</h1>
            </div>
            <div class="row col-md-9 col-sm-11 white red-shadow buffer padding text-type pull-right card-right">
            <h1 class="text-center"><strong>COMING SOON.</strong></h1>
            </div> -->
            <!-- END MISCELLEANEOUS -->
    <!-- END CIVIC END CIVIC END CIVIC -->
    <!-- START POLICY START POLICY START POLICY -->
        <!-- START MCW -->
    <div id="MCW" class="row col-md-5 col-sm-7 buffer red black-shadow pull-left padding text-right">
            <h1>#MAYOR'S COUNCIL FOR WOMEN</h1>
        </div>
        <div class="row col-md-9 col-sm-11 pull-right card-right white red-shadow buffer padding text-type">
                <h2><span class="red-type">>>></span> ECONOMIC OPPORTUNITY COMMITTEE <small>Internship - Volunteer / 2016</small></h2>
        <!-- <strong>Economic Opportunity Committee</strong> <small>Jan 2016 - May 2016</small> -->
        <ul>
            <li>Research statistics, assist with editing, & general aid towards goal of completing white paper</li>
            <li>Effectively help Mayor's Council for Women (MCW), Economic Opportunity committee communicate with Mayor's Office</li>
            <li>Collect raw data on area childcare facilities</li>
        </ul>
        <!-- <p>* make clearer connection, flesh out, fix dates, maybe back-info, docs at bottom, highlights *</p> -->
        <br>
        <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
    </div>
    <!-- END MCW -->
    <!-- START UN -->
    <!-- <div id="UN" class="row col-md-5 col-sm-7 red black-shadow padding buffer pull-left text-right card-left">
            <h1>#INAUGURAL INT'L DAY OF THE GIRL</h1>
        </div>
        <div class="row col-md-9 col-sm-11 white red-shadow buffer padding text-type pull-right card-right">
        <h1 class="text-center"><strong>COMING SOON.</strong></h1>
        </div> -->
    <!-- END UN -->
    <!-- START TN COUNCIL -->
    <!-- <div id="TN" class="row col-md-5 col-sm-7 red black-shadow padding buffer pull-left text-right card-left">
            <h1>#TN COUNCIL</h1>
        </div>
        <div class="row col-md-9 col-sm-11 white red-shadow buffer padding text-type pull-right card-right">
        <h1 class="text-center"><strong>COMING SOON.</strong></h1>
        </div> -->
    <!-- END TN COUNCIL -->
    <!-- END POLICY END POLICY END POLICY -->
    <!-- START CAMPAIGN START CAMPAIGN START CAMPAIGN -->
    <!-- START MELODY -->
    <div id="melody" class="row col-md-5 col-sm-7 buffer red black-shadow pull-left padding text-right">
        <h1>#MELODY SHEKARI FOR CONGRESS</h1>
    </div>
    <div class="row col-md-9 col-sm-11 pull-right card-right white red-shadow buffer padding text-type">
            <h2><span class="red-type">>>></span> DIRECTOR OF COMMUNICATIONS <small>TN Congressional District 3 / 2016</small></h2>
            
        <!-- <strong>Director of Communications</strong> <small>Apr 2017 - Nov 2017</small> -->
        <ul>
            <li>Coordinate message, identity, & perception of candidate throughout district</li>
            <li>Populate & oversee website, blog, newsletter, social media, & advertisements</li>
            <li>Travel district talking with voters, taking photo & media</li>
            <li>Strategize best way to present candidate to voters</li>
            <li>Oversee, direct, & compile opposition research</li>
            <li>Oversee 4 interns</li>
        </ul>
        <!-- <p>* dates, place, & opposition research incorporation *</p> -->
        <br>
        <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
    </div>
    <!-- END MELODY -->
<!-- END CAMPAIGN END CAMPAIGN END CAMPAIGN -->
<!-- START ORGANIZING START ORGANIZING START ORGANIZING -->
    <!-- START AR-fellow -->
        <div id="AR-fellow" class="row col-md-5 col-sm-7 buffer red black-shadow pull-left padding text-right">
            <h1>#DEMOCRATIC PARTY OF ARKANSAS</h1>
        </div>
        <div class="row col-md-9 col-sm-11 pull-right card-right white red-shadow buffer padding text-type">
                <h2><span class="red-type">>>></span> ARKANSAS VICTORY FELLOW <small>@ Russellville, AR / 2014</small></h2>
                
        <!-- <strong>Arkansas Victory Fellow</strong> <small>Oct 2014</small> -->
            <ul>
                <li>Region 2, Pope County</li>
                <li>Assistant to Field Organizer for Get Out the Vote (GOTV) initiative</li>
                <li>Daily tasks include canvassing turf packets, informing the electorate of early voting dates, times, & location, strategizing for GOTV, analyzing given data, communication with team & projects, & coordinating with volunteers</li>
                <li>Region 2 was one of the top performing regions in Arkansas, despite its rural location</li>
            </ul>
            <br>
            <!-- <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd> -->
        </div>
    <!-- END AR-fellow -->
    <!-- START misc -->
    <!-- <div id="harvard" class="row col-md-5 col-sm-7 buffer red black-shadow pull-left padding text-right">
            <h1>#HARVARD WOMEN'S FORUM</h1>
        </div>
        <div class="row col-md-9 col-sm-11 card-right pull-right white red-shadow buffer padding text-type">
                <h1 class="text-center"><strong>COMING SOON.</strong></h1>
                <br>
                <kbd>#skill1</kbd> <kbd>#skill2</kbd> <kbd>#skill3</kbd>
        </div> -->
    <!-- END misc -->
    <!-- END ORGANIZING END ORGANIZING END ORGANIZING -->