<div class="container-fluid white portal-block">
    <h1 class="lead">welcome to</h1>
    <img src="/images/icons/csamandme.bw.svg" alt="C.Sam & Me Logo" class="img-responsive center-block"><br><br><br><br>
    <p class="lead text-type">I want to . . .</p><br>
    <a href="#">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 work-block">
        <p class="lead text-type">see work</p>
        <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-6 col-xs-offset-2">

        </div>
    </div></a>
    <a href="/welcomes_you">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 white">
            <p class="lead text-type underline-2">learn more</p>
        <div class="learn-block col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">

        </div>
    </div></a>
</div>