<div class="container-fluid">
        <div class="row col-md-5 col-sm-7 buffer padding green black-shadow pull-left card-left text-right">
            <h1>#OVERVIEW</h1>
        </div>
        <div class="row col-md-9 col-sm-11 buffer padding text-type white green-shadow pull-right card-right">
            <h2><strong>COMING SOON!</strong></h2>
        </div>
        <div class="row col-md-5 col-sm-7 buffer padding green black-shadow pull-left card-left text-right">
            <h2>#APPROACH (or #PROCESS)<h2>
        </div>
        <div class="row col-md-9 col-sm-11 buffer padding white text-type green-shadow pull-right card-right">
            <h2><strong>COMING SOON!</strong></h2>
            <!-- involvement:<br>
            group pictures & notes pictures<br>
            wireframe pictures container-fluid (link to below)<br> -->
        </div>
        <div class="row col-md-5 col-sm-7 buffer padding green black-shadow pull-left card-left text-right">
        <h2>#APP</h2>
        </div>
    </div>
    <div class="container-fluid padding white padding text-type">
            <div class="wrap">
                <a href="/images/projects/shop/cov-welcome.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-welcome.png"/>
                        <div class="title-box-b">Welcome Screen</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-apparel.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-apparel.png"/>
                        <div class="title-box-b">Apparel</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-misc.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-misc.png"/>
                        <div class="title-box-b">Misc</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-checkout.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-checkout.png"/>
                        <div class="title-box-b">Checkout powered by Stripe</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-contact.png" target="_blank">
                    <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-contact.png"/>
                        <div class="title-box-b">Contact powered by SendGrid</div>
                    </div>
                </div></a>
            </div>
    </div>
    
    <div class="container-fluid">
        <div class="row col-md-5 col-sm-7 buffer padding green black-shadow pull-left card-left text-right">
        <h2>#CODE</h2>
        </div>
    </div>
    <div class="containter-fluid buffer padding white text-type">
        <!-- <div class="row col-md-9x col-sm-11 buffer padding white black-shadow text-type pull-right card-right"> -->
            <ul class="list-unstyled">
                <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Stripe, MySQL</li>
                <li>Trello</li>
                <li>Wireframe</li>
            </ul>
            <p>More details to come!</p>
        </div>
    </div>