<!-- WHEN SMALL HAVE ALL GO LARGE -->
<div class="container-fluid">
        <div class="row alert white" role="alert">
            <ul class="list-inline text-center">    
            <li><img src="/images/icons/alert-yellow.svg" style="height: 30px; width: auto;"></li>
            <li><p class="text-type">Currently Under Construction</p></li>
            <li><img src="/images/icons/alert-yellow.svg" style="height: 30px; width: auto;"></li>
            <li><p class="text-type">Currently Under Construction</p></li>
            <li><img src="/images/icons/alert-yellow.svg" style="height: 30px; width: auto;"></li>
            <li><p class="text-type">Currently Under Construction</p></li>
            <li><img src="/images/icons/alert-yellow.svg" style="height: 30px; width: auto;"></li>
            <li><p class="text-type">Currently Under Construction</p></li>
            <li><img src="/images/icons/alert-yellow.svg" style="height: 30px; width: auto;"></li>
            </ul>
        </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin-top: 2em;">
        <div class="content black col-md-9 col-md-push-3 gray-shadow white-type" style="margin-bottom: 3em" ng-controller="HeaderCtrl">
            <h2>LET’S MEET. MY NAME IS <span class="white-type underline-3" popover-placement="right" uib-popover="I go by Christian, Samuel, Sam, etc">C. SAMUEL SULLIVAN.</span></h2>
            <!-- <button  type="button" class="btn btn-default">Popover {{placement.selected}}</button> -->
            <h2>I AM AN <span ng-mouseenter="social = true" ng-mouseleave="social = false"><a class="blue underline" href="/a_social_entrepreneur" ng-click="reload();">ASPIRING SOCIAL ENTREPRENEUR</abbr></a></span>. UNIVERSITY MADE ME A <span ng-mouseenter="trained = true" ng-mouseleave="trained = false"><a href="/a_scientist" class="purple underline" ng-click="reload();">TRAINED SCIENTIST</a></span>. <!--LIFE AFTERWARDS HAS SHAPED ME AS A--> IN TIME I BECAME A <a href="/a_politi" class="red underline" ng-click="reload();">PRACTICED POLITI</a>. I <!--AM ALSO-->CONSIDER MYSELF AN <a href="/a_designer" class="yellow underline" ng-click="reload();">EMERGING DESIGNER</a>, AND I AM A <a href="/a_developer" class="green underline" ng-click="reload();">FRESH DEVELOPER</a>.</h2>
            <h2><a class="inverse underline-2" href="mailto:cssullivan4@gmail.com?Subject=Let's&nbsp;Talk!" target="_top" ng-click="reload();">WHAT ABOUT YOU?</a></h2>
        </div>
        <div class="row buffer">
            <br><br><br>
        </div>
        <div class="row col-md-5 col-sm-11 buffer padding pull-left text-right white gray-shadow">
            <h1>#FOREWORD</h1>
        </div>
        
        <div class="row col-md-9 col-sm-11 buffer padding text-type pull-right white gray-shadow">
            <h2>/ WHAT</h2>
            <p class="lead">An interactive resume expounding content from LinkedIn, resumes, & CVs, and listed visually, organizing through interests from a veritable background of experiences.</p>
            <h2>/ WHY</h2>
            <p class="lead">
                <ol>
                    <li>To serve as online portfolio.</li>
                    <li>To show personal character and given a behind-the-scences look.</li>
                </ol>
            <h2>/ HOW</h2>
            <p class="lead">Navigate site by selecting an area of interest above.<br>Click "CSam&Me" logo at top to return to this welcome screen.<br>Site map can be visited in the footer at the bottom of each page.</p>
        </div>
        <!-- <div class="col-md-2 col-md-push-3"></div> -->
        <!-- <div class="col-md-4 col-md-pull-6 wheel"> -->
            <!-- <div ng-show="social">
            <ul> 
                <li><span class="blue">Collaborative</span></li> 
                <li><span class="blue">Efficiency-based</span></li> 
            </ul>
            </div>
            <div ng-show="trained">
                <p><span class="purple">Analytical</span></p>
            </div> -->
    </div>
</div>