<!-- WHEN SMALL HAVE ALL GO LARGE -->
<div class="container-fluid">
    <div class="row" style="margin-top: 2em;">
        <div class="content black col-md-9 col-md-push-3 gray-shadow white-type" style="margin-bottom: 3em" ng-controller="HeaderCtrl">
            <h2>LET’S MEET. MY NAME IS <span class="white-type underline-3" popover-placement="right" uib-popover="I go by Christian, Samuel, Sam, etc">C. SAMUEL SULLIVAN.</span></h2>
            <!-- <button  type="button" class="btn btn-default">Popover {{placement.selected}}</button> -->
            <h2>I AM AN <span ng-mouseenter="social = true" ng-mouseleave="social = false"><a class="blue underline" href="/a_social_entrepreneur" ng-click="reload();">ASPIRING SOCIAL ENTREPRENEUR</abbr></a></span>. UNIVERSITY MADE ME A <span ng-mouseenter="trained = true" ng-mouseleave="trained = false"><a href="/a_scientist" class="purple underline" ng-click="reload();">TRAINED SCIENTIST</a></span>. <!--LIFE AFTERWARDS HAS SHAPED ME AS A--> IN TIME I BECAME A <a href="/a_politi" class="red underline" ng-click="reload();">PRACTICED POLITI</a>. I <!--AM ALSO-->CONSIDER MYSELF AN <a href="/a_designer" class="yellow underline" ng-click="reload();">EMERGING DESIGNER</a>, AND I AM A <a href="/a_developer" class="green underline" ng-click="reload();">FRESH DEVELOPER</a>.</h2>
            <h2><a class="inverse underline-2" href="mailto:cssullivan4@gmail.com?Subject=Let's&nbsp;Talk!" target="_top" ng-click="reload();">WHAT ABOUT YOU?</a></h2>
        </div>
        <div class="row buffer">
            <br><br><br>
        </div>
        <div class="row col-md-5 col-sm-11 buffer padding pull-left text-right white gray-shadow">
            <h1>#FOREWORD</h1>
        </div>
        
        <div class="row col-md-9 col-sm-11 buffer padding science-text pull-right black gray-shadow">
            <h3 class="red text-center"><em>Presently the site is under construction. It isn't optimized for mobile thoroughly, and a lot of content is missing on the pages themselves. Fortunately, the majority of the missing information can be found on <a class="yellow underline" href="https://www.linkedin.com/in/christian-sullivan-b1b37469/" target="_blank">LinkedIn&nbsp;</a>. Please email me if there are any questions, concerns, or if you want to start a conversation.</em></h3>
            <h1 class="white text-center">/WHAT</h1>
            <p class="lead white-type">THIS SITE IS INTENDED TO BE AN INTERACTIVE RESUME. IT TAKES WHAT CAN BE FOUND FROM LINKEDIN, RESUMES, AND COVER LETTERS, EXPOUNDS UPON THEM, AND LIST THEM THROUGHOUT THE SITE. I HAVE A VARIED BACKGROUND OF EXPERIENCES, SO I DECIDED TO ORGANIZE IT ACCORDINGLY.</p>
            <p class="lead white-type">HERE YOU CAN FIND FIELDS OF INTEREST TO ME. CLICKING ON ONE WILL TAKE YOU TO A PAGE PARLAYED WITH CORRESPONDING EXPERIENCES THAT HAVE APPLICABLE SKILLS. YOU WILL SEE THESE AS "CARDS" BROKEN UP, LISTED DOWN THE PAGE.</p>
            <h1 class="white text-center">/WHY</h1>
            <p class="lead white-type">I REALIZE THE SITE COMES OFF VERY GREEN, BUT THAT IS AS IT SHOULD. THE SITE EXISTS TO SHOWCASE MY UNIQUE SKILLSET IN HOPES OF MATCHING WITH A COMPANY TO GROW WITH PROFESSIONALLY. ITS AIM IS TO SERVE AS A 1) PORTFOLIO, THEN TO 2) SHOW MY PERSONAL CHARACTER AND THE BEHIND-THE-SCENES. IT'S INDULGENT AT TIMES, BUT IT IS A WORK IN PROGRESS.</p>
            <h1 class="white text-center">/HOW</h1>
            <p class="lead white-type">NAVIGATE BY SELECTING AN AREA OF INTEREST ON THIS PAGE. CLICK LOGO AT THE TOP TO GO BACK TO THIS LIST; THIS SERVES AS THE PRIMARY NAVIGATION. THE FOOTER CONTAINS A SITE MAP TO CONVENIENCE. EACH PAGE HAS A BUTTON TO CLICK TO TAKE YOU TO THE TOP OF THE SCREEN. MOBILE VIEW IS ENABLED, BUT THE NAVIGATION REMAINS THE SAME.</p>
        </div>
        <!-- <div class="col-md-2 col-md-push-3"></div> -->
        <!-- <div class="col-md-4 col-md-pull-6 wheel"> -->
            <!-- <div ng-show="social">
            <ul> 
                <li><span class="blue">Collaborative</span></li> 
                <li><span class="blue">Efficiency-based</span></li> 
            </ul>
            </div>
            <div ng-show="trained">
                <p><span class="purple">Analytical</span></p>
            </div> -->
    </div>
</div>