<div class="container-fluid portal-block-b" ng-controller="ScrollCtrl">
    <div class="section-1">
        <a href="#to_read_more" ng-click="scrollTo()">
            <h1>Hi, my name is</h1>
            <h1><span>C.&nbsp;Samuel Sullivan.</span></h1>
        </a>
    </div>
    <div class="section-2" id="to_read_more">
        <p>I am an 
            <a href="/a_social_entrepreneur" target="_top">
                aspiring social entrepreneur</a>, but thanks to university, I am a 
            <a href="/a_scientist" target="_top">
                trained scientist</a>. I found myself becoming a 
            <a href="/a_politi" target="_top">
                practiced politi</a>&nbsp;over time. I consider myself now to be an 
            <a href="/a_designer" target="_top">
                emerging designer</a>, though have always been the artist. Finally, you are here because I am now a newly-minted, 
            <a href="/a_developer" target="_top">
                fresh developer</a>.
        </p>
        <p>
            <a href="/reaching_out" target="_top">
                What about you?
            </a>
        </p>
    </div>
</div>
