<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="print"></div>
</div>
<div class="container-fluid row">
        <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
            <h1>#BOOK</h1>
        </div>
    </div>
    <div class="container-fluid">
            <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
                    <dl class="dl-horizontal">
                            <dt>WHAT:</dt>
                            <dd>Cocunut fibers book filled with unique animals on every page.</dd>
                            <dt>WHY:</dt> 
                            <dd>
                                Project began as way to play with the interpretation of what it means to be an artist. One attribute has been described as "seeing faces," and taking this into consideration, each page is created only from what face I see within the pulp-paper. Challenge is to bring what is seen in the fibers to life.
                            </dd>
                            <dt>HOW:</dt> 
                            <dd>
                                Sketch out faces when see them. Watercolor and ink to bring to life. Examples below of each.
                            </dd>
                            <dt>WHEN:</dt> 
                            <dd>2013 - 2016 (project on-going)</dd>
                    </dl>
                <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#pulp-paper</kbd>
            </div>
        </div>
    <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/designer/book/series-book-cover.jpeg">
                <img src="/images/designer/book/series-book-cover.jpeg" class="buffer-img center-cropped-b" alt="Book Cover"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-00-bear.jpeg">
                <img src="/images/designer/book/series-book-00-bear.jpeg" class="buffer-img center-cropped-b" alt="Book Cover"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-01-jellyfish.jpeg">
                <img src="/images/designer/book/series-book-01-jellyfish.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-02-parrot.jpeg">
                <img src="/images/designer/book/series-book-02-parrot.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-03-flamingo.jpeg">
                <img src="/images/designer/book/series-book-03-flamingo.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-04-penguin.jpeg">
                <img src="/images/designer/book/series-book-04-penguin.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-05-worm.jpeg">
                <img src="/images/designer/book/series-book-05-worm.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-06-cat.jpeg">
                <img src="/images/designer/book/series-book-06-cat.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-07-whale.jpeg">
                <img src="/images/designer/book/series-book-07-whale.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-08-grasshopper.jpeg">
                <img src="/images/designer/book/series-book-08-grasshopper.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-09-giraffe.jpeg">
                <img src="/images/designer/book/series-book-09-giraffe.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-10-monkey.jpeg">
                <img src="/images/designer/book/series-book-10-monkey.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-11-toucan.jpeg">
                <img src="/images/designer/book/series-book-11-toucan.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-12-goat.jpeg">
                <img src="/images/designer/book/series-book-12-goat.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-13-snail.jpeg">
                <img src="/images/designer/book/series-book-13-snail.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-14-roadrunner.jpeg">
                <img src="/images/designer/book/series-book-14-roadrunner.jpeg" class="buffer-img center-cropped-b"/></a>
            <a class="gallery img-tile" href="/images/designer/book/series-book-15-cattle.jpeg">
                <img src="/images/designer/book/series-book-15-cattle.jpeg" class="buffer-img center-cropped-b"/></a>
        </div>
    </div>