<div class="container-fluid">
                <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                        <div id="header" ng-controller="NavMenu">
                                <div ng-include="nav"></div>
                        </div>
                </nav>
        </div>
<div ng-controller="NavMenu">
        <div ng-include="print"></div>
</div>
    <div class="container-fluid row">
        <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
            <h1>#EMOJI</h1>
        </div>
    </div>
    <div class="container-fluid">
                <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
                        <dl class="dl-horizontal">
                                <dt>WHAT:</dt>
                                <dd>Playful deconstruction of Apple emojis.</dd>
                                <dt>WHY:</dt> 
                                <dd>What started as a fun card for friend turned into many cards turned into commisssions. Below are a few examples.</dd>
                                <dt>HOW:</dt> 
                                <dd>Pencil to sketch emoji. Trace paper to keep as copy to use as guide and relief for additional cards.</dd>
                                <dt>WHEN:</dt> 
                                <dd>2013 - 2015</dd>
                        </dl>
                    <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#canvas-paper</kbd> <kbd>#trace-paper</kbd>
                </div>
            </div>
    <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-cookie.jpeg">
                    <img src="/images/designer/emoji/series-emoji-cookie.jpeg" class="buffer-img center-cropped-b" alt="Cookie Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-cookie-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-cookie-trace.jpeg" class="buffer-img center-cropped-b" alt="Cookie Emoji Trace"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-drinks.jpeg">
                    <img src="/images/designer/emoji/series-emoji-drinks.jpeg" class="buffer-img center-cropped-b" alt="Drinks Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-drinks-inside.jpeg">
                    <img src="/images/designer/emoji/series-emoji-drinks-inside.jpeg" class="buffer-img center-cropped-b" alt="Drinks Emoji Card: Inside"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-drinks-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-drinks-trace.jpeg" class="buffer-img center-cropped-b" alt="Drinks Emoji Trace"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-girl.jpeg">
                    <img src="/images/designer/emoji/series-emoji-girl.jpeg" class="buffer-img center-cropped-b" alt="Girl Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-girl-inside.jpeg">
                    <img src="/images/designer/emoji/series-emoji-girl-inside.jpeg" class="buffer-img center-cropped-b" alt="Girl Emoji Card: Inside"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-girl-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-girl-trace.jpeg" class="buffer-img center-cropped-b" alt="Girl Emoji Trace"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-hands.jpeg">
                    <img src="/images/designer/emoji/series-emoji-hands.jpeg" class="buffer-img center-cropped-b" alt="Clap Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-hands-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-hands-trace.jpeg" class="buffer-img center-cropped-b" alt="Clap Emoji Card Trace"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-heart.jpeg">
                    <img src="/images/designer/emoji/series-emoji-heart.jpeg" class="buffer-img center-cropped-b" alt="Heart Eyes Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-heart-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-heart-trace.jpeg" class="buffer-img center-cropped-b" alt="Heart Eyes Emoji Trace"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-pizza.jpeg">
                    <img src="/images/designer/emoji/series-emoji-pizza.jpeg" class="buffer-img center-cropped-b" alt="Pizza Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-pizza-inside.jpeg">
                    <img src="/images/designer/emoji/series-emoji-pizza-inside.jpeg" class="buffer-img center-cropped-b" alt="Pizza Emoji Card: Inside"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-pizza-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-pizza-trace.jpeg" class="buffer-img center-cropped-b" alt="Pizza Emoji Trace"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-poop.jpeg">
                    <img src="/images/designer/emoji/series-emoji-poop.jpeg" class="buffer-img center-cropped-b" alt="Poop Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-poop-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-poop-trace.jpeg" class="buffer-img center-cropped-b" alt="Poop Emoji Trace"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-tears.jpeg">
                    <img src="/images/designer/emoji/series-emoji-tears.jpeg" class="buffer-img center-cropped-b" alt="Waterfall Tears Eyes Emoji Card"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-tears-inside.jpeg">
                    <img src="/images/designer/emoji/series-emoji-tears-inside.jpeg" class="buffer-img center-cropped-b" alt="Waterfall Tears Eyes Emoji Card: Inside"/></a>
            <a class="gallery img-tile" href="/images/designer/emoji/series-emoji-tears-trace.jpeg">
                    <img src="/images/designer/emoji/series-emoji-tears-trace.jpeg" class="buffer-img center-cropped-b" alt="Waterfall Tears Eyes Emoji Trace"/></a>
        </div>
    </div>