<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="print"></div>
</div>

<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
        <h1>#WOODLAND ANIMALS</h1>
    </div>
</div>
<div class="container-fluid">
        <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
                <dl class="dl-horizontal">
                        <dt>WHAT:</dt>
                        <dd>Series of Woodland Animals</dd>
                        <dt>WHY:</dt> 
                        <dd>The series started to explore the growing phenomenon at-the-time of woodland animals becoming graphically trendy (owls and foxes, most notably).</dd>
                        <dt>HOW:</dt> 
                        <dd>Either the idea of the look of the animal or the color scheme started the page, but pencil was applied first, followed by watercolor and ink. There's supposed to be a connectioned between the expression and their set.</dd>
                        <dt>WHEN:</dt> 
                        <dd>2013</dd>
                </dl>
            <br>
            <kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#canvas-paper</kbd>
        </div>
    </div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/forest/series-forest-worm.jpeg">
                <img src="/images/designer/forest/series-forest-worm.jpeg" alt="Woodland Series: Worm"/></a>
        <a class="gallery" href="/images/designer/forest/series-forest-fox.jpeg">
                    <img src="/images/designer/forest/series-forest-fox.jpeg" alt="Woodland Series: Fox"/></a>
        <a class="gallery" href="/images/designer/forest/series-forest-owl.jpeg">
            <img src="/images/designer/forest/series-forest-owl.jpeg" alt="Woodland Series: Owl"/></a>
        <a class="gallery" href="/images/designer/forest/series-forest-hedgehog.jpeg">
            <img src="/images/designer/forest/series-forest-hedgehog.jpeg" alt="Woodland Series: Hedgehog"/></a>
        <a class="gallery" href="/images/designer/forest/series-forest-raccoon.jpeg">
            <img src="/images/designer/forest/series-forest-raccoon.jpeg" alt="Woodland Series: Racoon"/></a>
    </div>
</div>