<div ng-controller="DesignMenu">
        <div ng-include="print"></div>
</div>

<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>#WOODLAND ANIMALS</h1>
    </div>
</div>
<div class="container-fluid">
        <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
            <p>More details to come.</p><p>Old series started to explore the growing phenomenon at-the-time of woodland animals becoming graphically trendy.</p>
            <br>
            <kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#canvas-paper</kbd>
        </div>
    </div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/designer/forest/series-forest-worm.jpeg">
                <img src="/images/designer/forest/series-forest-worm.jpeg" class="buffer-img center-cropped-b" alt="Woodland Series: Worm"/></a>
        <a class="gallery img-tile" href="/images/designer/forest/series-forest-fox.jpeg">
                    <img src="/images/designer/forest/series-forest-fox.jpeg" class="buffer-img center-cropped-b" alt="Woodland Series: Fox"/></a>
        <a class="gallery img-tile" href="/images/designer/forest/series-forest-owl.jpeg">
            <img src="/images/designer/forest/series-forest-owl.jpeg" class="buffer-img center-cropped-b" alt="Woodland Series: Owl"/></a>
        <a class="gallery img-tile" href="/images/designer/forest/series-forest-hedgehog.jpeg">
            <img src="/images/designer/forest/series-forest-hedgehog.jpeg" class="buffer-img center-cropped-b" alt="Woodland Series: Hedgehog"/></a>
        <a class="gallery img-tile" href="/images/designer/forest/series-forest-raccoon.jpeg">
            <img src="/images/designer/forest/series-forest-raccoon.jpeg" class="buffer-img center-cropped-b" alt="Woodland Series: Racoon"/></a>
    </div>
</div>