<div class="container-fluid row">
        <div class="col-md-3 col-sm-3 text-center yellow img-tile">
            <a href="/a_designer/showing/web">
                <h1>WEB</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center black">
            <a href="/a_designer/showing/print">
                <h1 class="yellow-type">PRINT</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow img-tile">
            <a href="#">
                <h1>BRAND</h1>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 text-center yellow img-tile">
            <a href="#">
                <h1>MAKER</h1>
            </a>
        </div>
    </div>
    
    <div class="container-fluid row">
        <div class="col-md-5 col-md-7 yellow black-shadow padding buffer pull-left text-right">
            <h1>#GROUNDHOG</h1>
        </div>
    </div>
    <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/designer/series-ground-hog-2.jpeg">
                <img src="/images/designer/series-ground-hog-2.jpeg" class="buffer-img center-cropped-b" alt="Print Block: Groundhog"/></a>
            <a class="gallery img-tile" href="/images/designer/series-ground-hog-0.jpeg">
                <img src="/images/designer/series-ground-hog-0.jpeg" class="buffer-img center-cropped-b" alt="Print example"/></a>
            <a class="gallery img-tile" href="/images/designer/series-ground-hog-1.jpeg">
                <img src="/images/designer/series-ground-hog-1.jpeg" class="buffer-img center-cropped-b" alt="Print example"/></a>
        </div>
        <div class="container-fluid row">
                <div class="col-md-5 col-md-7 yellow black-shadow padding buffer pull-left text-right">
                    <h1>#CAT</h1>
                </div>
            </div>
            <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
                <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
                    <a class="gallery-b img-tile" href="/images/designer/relief-cat.jpeg">
                        <img src="/images/designer/relief-cat.jpeg" class="buffer-img center-cropped-b" alt="Print Block: Cat"/></a>
                </div>
    </div>