<div ng-controller="DesignMenu">
        <div ng-include="print"></div>
</div>
    <div class="container-fluid row">
        <div id="state" class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
            <h1>#INSTRUMENTS</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
            <p>Descriptions will go here, and look like this.</p>
            <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#canvas-paper</kbd>
        </div>
    </div>
    <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/designer/series-instrument-ukulele-sop.jpg">
                <img src="/images/designer/series-instrument-ukulele-sop.jpg" class="buffer-img center-cropped-b" alt="Soprano Ukulele"/>
            </a>
            <a class="gallery img-tile" href="/images/designer/series-instrument-guitar.jpg">
                <img src="/images/designer/series-instrument-guitar.jpg" class="buffer-img center-cropped-b" alt="Guitar"/>
            </a>
            <a class="gallery img-tile" href="/images/designer/series-instrument-ukulele-bass.jpg">
                <img src="/images/designer/series-instrument-ukulele-bass.jpg" class="buffer-img center-cropped-b" alt="Baritone Ukulele"/>
            </a>
        </div>
    </div>