<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="print"></div>
</div>
    <div class="container-fluid row">
        <div id="state" class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
            <h1>PORTRAITURE</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
            <p>More details to come.</p><p>More pictures to come. Trace paper is shown for process.</p>
            <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#canvas-paper</kbd> <kbd>#trace-paper</kbd>
        </div>
    </div>
    <div class="container-fluid card-intro" ng-controller="GalleryCtrl">
        <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery" href="/images/designer/portrait/portrait-dog-circle.jpeg">
                <img src="/images/designer/portrait/portrait-dog-circle.jpeg" alt="Portrait: Dog circle"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-dog-square.jpeg">
                    <img src="/images/designer/portrait/portrait-dog-square.jpeg" alt="Portrait: Dog square"/></a>
            <a class="gallery" href="/images/designer/portrait/portrait-dog-trace.jpeg">
                <img src="/images/designer/portrait/portrait-dog-trace.jpeg" alt="Portrait: Dog, trace"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-man-coiffe.jpeg">
                <img src="/images/designer/portrait/portrait-man-coiffe.jpeg" alt="Portrait: Man with coiffe, trace"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-woman-glasses.jpeg">
                <img src="/images/designer/portrait/portrait-woman-glasses.jpeg" alt="Portrait: Woman with glasses, trace"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-katie-2.jpg">
                <img src="/images/designer/portrait/portrait-katie-2.jpg" alt="Portrait: Woman with glasses, trace"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-teeth.jpeg">
                <img src="/images/designer/portrait/portrait-teeth.jpeg" alt="Portrait: Teeth, trace"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-teeth-2.jpg">
                <img src="/images/designer/portrait/portrait-teeth-2.jpg" alt="Portrait: Teeth"/>
            </a>
            <a class="gallery" href="/images/designer/series-hipster-greyhound-trace.jpeg">
                <img src="/images/designer/series-hipster-greyhound-trace.jpeg" alt="Portrait: Greyhound, trace"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-greyhound-2.jpg">
                <img src="/images/designer/portrait/portrait-greyhound-2.jpg" alt="Portrait: Heidi"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-heidi-1.jpg">
                <img src="/images/designer/portrait/portrait-heidi-1.jpg" alt="Portrait: Heidi"/>
            </a>
            <a class="gallery" href="/images/designer/portrait/portrait-heidi-2.jpg">
                <img src="/images/designer/portrait/portrait-heidi-2.jpg" alt="Portrait: Heidi"/>
            </a>
        </div>
    </div>