<div ng-controller="DesignMenu">
        <div ng-include="print"></div>
</div> 
<div class="container-fluid row">
        <div class="col-md-5 col-md-7 yellow black-shadow padding buffer pull-left text-right">
            <h1>#TN</h1>
        </div>
    </div>
    <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/designer/state/series-state-tn-4.jpeg">
                <img src="/images/designer/state/series-state-tn-4.jpeg" class="buffer-img center-cropped-b" alt="Print Block: TN"/></a>
            <a class="gallery img-tile" href="/images/designer/state/series-state-tn-0.jpeg">
                <img src="/images/designer/state/series-state-tn-0.jpeg" class="buffer-img center-cropped-b" alt="State Style Options"/></a>
            <a class="gallery img-tile" href="/images/designer/state/series-state-tn-1.jpeg">
                <img src="/images/designer/state/series-state-tn-1.jpeg" class="buffer-img center-cropped-b" alt="State Style Options"/></a>
            <a class="gallery img-tile" href="/images/designer/state/series-state-tn-2.jpeg">
                <img src="/images/designer/state/series-state-tn-2.jpeg" class="buffer-img center-cropped-b" alt="State Style Options"/></a>
            <a class="gallery img-tile" href="/images/designer/state/series-state-tn-3.jpeg">
                <img src="/images/designer/state/series-state-tn-3.jpeg" class="buffer-img center-cropped-b" alt="State Style Options"/></a>
        </div>
    </div>