<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="print"></div>
    </div>
<div class="container-fluid row">
        <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
            <h1>#SPHERE</h1>
        </div>
    </div>
    <div class="container-fluid">
            <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
                    <dl class="dl-horizontal">
                            <dt>WHAT:</dt>
                            <dd>
                                Simple balance concept, oil + ink, only substitute oil with watercolor.
                            </dd>
                            <dt>WHY:</dt> 
                            <dd>
                                Challenge to explore how watercolor interacts with an unfriendly surface. Chose to experiment further by creating a series of 3, pulling major elements (fire, earth, water, air) and a reductive taken on biosphere (hydrosphere, troposphere, stratosphere). 
                            </dd>
                            <dt>HOW:</dt> 
                            <dd>
                                Cut down on water ratio to mostly apply pigments, which had the last stroke impact. Used higher ratio of water after paint had dried to see how much of the design can be controlled.
                            </dd>
                            <dt>WHEN:</dt> 
                            <dd>2013</dd>
                    </dl>
            <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>#oil-paper</kbd>
            </div>

        </div>
    <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/designer/troph-trio-whale.jpeg">
                <img src="/images/designer/troph-trio-whale.jpeg" class="buffer-img center-cropped-b" alt="'sphere Trio: Whale"/></a>
            <a class="gallery img-tile" href="/images/designer/troph-trio-meerkat.jpeg">
                <img src="/images/designer/troph-trio-meerkat.jpeg" class="buffer-img center-cropped-b" alt="'sphere Trio: Meerkat'"/></a>
            <a class="gallery img-tile" href="/images/designer/troph-trio-parrot.jpeg">
                <img src="/images/designer/troph-trio-parrot.jpeg" class="buffer-img center-cropped-b" alt="'sphere Trio: Parrot'"/></a>
        </div>
    </div>