<div ng-controller="DesignMenu">
        <div ng-include="print"></div>
    </div>
<div class="container-fluid row">
        <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
            <h1>#SPHERE</h1>
        </div>
    </div>
    <div class="container-fluid">
            <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right science-text">
                <p>More details to come.</p><p>Experiment to create series of 3 pulling in major elements (fire, earth, water, air) and a reductive take on biosphere (hydropshere, troposphere, stratosphere) while also using watercolors + ink on paper for oil painting.</p>
            </div>
        </div>
    <div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/designer/troph-trio-whale.jpeg">
                <img src="/images/designer/troph-trio-whale.jpeg" class="buffer-img center-cropped-b" alt="'sphere Trio: Whale"/></a>
            <a class="gallery img-tile" href="/images/designer/troph-trio-meerkat.jpeg">
                <img src="/images/designer/troph-trio-meerkat.jpeg" class="buffer-img center-cropped-b" alt="'sphere Trio: Meerkat'"/></a>
            <a class="gallery img-tile" href="/images/designer/troph-trio-parrot.jpeg">
                <img src="/images/designer/troph-trio-parrot.jpeg" class="buffer-img center-cropped-b" alt="'sphere Trio: Parrot'"/></a>
        </div>
    </div>