<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="print"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-sm-9 col-xs-9 tag-yellow">
        <h1>#WATERCOLOR</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-10 col-xs-12 card-yellow-plain">
        <p>More details to come.</p><p>Current range: 2010-2014, with exception to pigment paint tree from 2016.</p>
        <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>pigment-paint</kbd> <kbd>#canvas-paper</kbd> <kbd>#plywood</kbd>
    </div>
</div>
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery" href="/images/designer/sketchbook/sketchbook-watercolor-heels.jpeg">
            <img src="/images/designer/sketchbook/sketchbook-watercolor-heels.jpeg" alt="From the Sketchbook: Heels"/>
        </a>

        <a class="gallery" href="/images/designer/wood-watercolor.jpeg">
            <img src="/images/designer/wood-watercolor.jpeg" alt="From the Sketchbook: Man on Plywood"/>
        </a>
        <a class="gallery" href="/images/designer/watercolor-abstract-blue-smoke.jpg">
            <img src="/images/designer/watercolor-abstract-blue-smoke.jpg" alt="From the Sketchbook: Abstract strokes"/>
        </a>
        <a class="gallery" href="/images/designer/watercolor-abstract.jpeg">
            <img src="/images/designer/watercolor-abstract.jpeg" alt="From the Sketchbook: Abstract Lines"/>
        </a>

        <a class="gallery" href="/images/designer/watercolor-abstract-blue-lines.jpg">
            <img src="/images/designer/watercolor-abstract-blue-lines.jpg" alt="From the Sketchbook: Abstract Blue Lines"/>
        </a>
        <a class="gallery" href="/images/designer/watercolor-ink-girl.jpeg">
            <img src="/images/designer/watercolor-ink-girl.jpeg" alt="From the Sketchbook: Girl"/>
        </a>
        <a class="gallery" href="/images/designer/sketchbook/sketchbook-abstract-lines.jpeg">
            <img src="/images/designer/sketchbook/sketchbook-abstract-lines.jpeg" alt="From the Sketchbook: Conceptual Lines"/>
        </a>
        <a class="gallery" href="/images/designer/sketchbook/sketchbook-figure-female.jpg">
            <img src="/images/designer/sketchbook/sketchbook-figure-female.jpg" alt="From the Sketchbook: Figure, female"/>
        </a>
        <a class="gallery" href="/images/designer/sketchbook/sketchbook-abstract-lines-red.png">
            <img src="/images/designer/sketchbook/sketchbook-abstract-lines-red.png" alt="Orange conceptual lines"/>
        </a>
        <a class="gallery" href="/images/designer/pigment-paint-tree.jpeg">
            <img src="/images/designer/pigment-paint-tree.jpeg" alt="From the Sketchbook: Pigment Paint concept"/>
        </a>
        <a class="gallery" href="/images/designer/sketchbook/watercolor-abstract-river.png">
            <img src="/images/designer/sketchbook/watercolor-abstract-river.png" alt="From the Sketchbook: Conceptual lines"/>
        </a>
    </div>
</div>