<div ng-controller="DesignMenu">
        <div ng-include="print"></div>
</div>
<div class="container-fluid row">
    <div class="col-md-5 col-md-7 yellow white-shadow padding buffer pull-left text-right">
        <h1>#WATERCOLOR</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row col-md-9 col-sm-7 white yellow-shadow padding buffer pull-right card-right text-type">
        <p>More details to come.</p><p>Current range: 2010-2014, with exception to pigment paint tree from 2016.</p>
        <br><kbd>#ink</kbd> <kbd>#watercolor</kbd> <kbd>pigment-paint</kbd> <kbd>#canvas-paper</kbd> <kbd>#plywood</kbd>
    </div>
</div>
<div class="container-fluid white padding buffer" ng-controller="GalleryCtrl">
    <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
        <a class="gallery img-tile" href="/images/designer/sketchbook/sketchbook-watercolor-heels.jpeg">
            <img src="/images/designer/sketchbook/sketchbook-watercolor-heels.jpeg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Heels"/>
        </a>

        <a class="gallery img-tile" href="/images/designer/wood-watercolor.jpeg">
            <img src="/images/designer/wood-watercolor.jpeg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Man on Plywood"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/watercolor-abstract-blue-smoke.jpg">
            <img src="/images/designer/watercolor-abstract-blue-smoke.jpg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Abstract strokes"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/watercolor-abstract.jpeg">
            <img src="/images/designer/watercolor-abstract.jpeg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Abstract Lines"/>
        </a>

        <a class="gallery img-tile" href="/images/designer/watercolor-abstract-blue-lines.jpg">
            <img src="/images/designer/watercolor-abstract-blue-lines.jpg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Abstract Blue Lines"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/watercolor-ink-girl.jpeg">
            <img src="/images/designer/watercolor-ink-girl.jpeg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Girl"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/sketchbook/sketchbook-abstract-lines.jpeg">
            <img src="/images/designer/sketchbook/sketchbook-abstract-lines.jpeg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Conceptual Lines"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/sketchbook/sketchbook-figure-female.jpg">
            <img src="/images/designer/sketchbook/sketchbook-figure-female.jpg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Figure, female"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/sketchbook/sketchbook-abstract-lines-red.png">
            <img src="/images/designer/sketchbook/sketchbook-abstract-lines-red.png" class="buffer-img center-cropped-b" alt="Orange conceptual lines"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/pigment-paint-tree.jpeg">
            <img src="/images/designer/pigment-paint-tree.jpeg" class="buffer-img center-cropped-b" alt="From the Sketchbook: Pigment Paint concept"/>
        </a>
        <a class="gallery img-tile" href="/images/designer/sketchbook/watercolor-abstract-river.png">
            <img src="/images/designer/sketchbook/watercolor-abstract-river.png" class="buffer-img center-cropped-b" alt="From the Sketchbook: Conceptual lines"/>
        </a>
    </div>
</div>