<div class="container-fluid">
    <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
        <div id="header" ng-controller="NavMenu">
            <div ng-include="nav"></div>
        </div>
    </nav>
</div>

<div class="container" ng-controller="PageBack">

    <!-- return button -->
    <a href="/a_developer">
        <img src="/images/icons/b2p-btn.svg" id="btn-back" class="return-page" alt="Back to Fresh Developer" title="Back to Fresh Developer">
    </a>

    <div class="container-fluid">
        <div class="col-md-5 col-sm-7 col-xs-10 tag-green-left">
            <h1>#ePORTFOLIO</h1>
        </div>
    </div>

    <!-- (sm) -->
    <div class="container-fluid hidden-lg hidden-md card-green-intro">
        <dl>
            <dt>
                <h3>
                    <span>>>>&nbsp;</span>IDEA & PURPOSE</h3>
            </dt>
            <dd>The purpose of this is site to present past works and experiences that shed more light on my background, my character,
                and ultimately what I am able to contribute as a member on any professional team.</dd>
            <dd>The idea is a more interative take on the resume, where through the filtered
                <em>learn more</em> view, my resume is organized by interests, then displayed as "cards" with which to pull &
                learn. I let the content guide the brand, so pages vary by the interests, the largest departure being the
                "Emerging Designer" funnel.</dd>
            <dt>
                <h3>
                    <span>>>>&nbsp;</span>APPROACH</h3>
            </dt>
            <dd>The challenge with building an eportfolio is the same for everyone: narrowing scope and focus on the relevant.
                I've had several "eportfolios" since 2003, but none as serious, comprehensive, and bootleg as this. While
                I took indulgence, the approach remained the same: "present work & experiences that show you are as a candidate,
                what shaped you, and what is within your wheelhouse as an employee."</dd>
            <dt>
                <h3>
                    <span>>>>&nbsp;</span>BUILD</h3>
            </dt>
            <dd>Beginning first on paper, the build was done so in a class-heavy manner using Bootstrap. This allowed for a flexible,
                ever-changing (
                <em>and trust me, has this site changed a lot from even minute code changes</em>) site that meandered according
                to what the idea necessitated. As the site grew impressively, this method has been determined to not be the
                best. Architectually, many changes are happening behind-the-scenes, the biggest being the recent Sass conversion.</dd>
        </dl>
    </div>
    <div class="container-fluid hidden-lg hidden-md card-green-intro">
        <dl>
            <dt>
                <h3>
                    <span>>>>&nbsp;</span>FEATURES</h3>
            </dt>
            <ul>
                <li>2 filtered views (focus on work & focus on the story, the person)</li>
                <li>Different brands according to categories (ex:
                    <em>"Aspiring Social Entrepreneur"</em> vs.
                    <em>"Emerging Designer"</em>)</li>
                <li>Email service</li>
                <li>Navigation tailored towards 1) filtered view, 2) individual pages, and with 3) sub-navigations </li>
                <li>Content management on large scale</li>
                <li>Custom icons</li>
                <li>Mobile first responsiveness</li>
                <li>Photo galleries</li>
            </ul>
            <dt>
                <h3>
                    <span>>>>&nbsp;</span>TECHNOLOGIES</h3>
            </dt>
            <ul class="list-unstyled">
                <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Sass, Amazon Web Services, Figma</li>
            </ul>
            <dt>
                <h3>
                    <span>>>>&nbsp;</span>FUTURE UPDATES</h3>
            </dt>
            <ul>
                <li style="text-decoration: line-through;">Convert to Sass</li>
                <li>Update to Angular 4</li>
                <li>Update to Bootstrap 4 or remove entirely</li>
                <li>Add large-scale media to /Emerging Designer</li>
                <li>Compress all images</li>
                <li>Add snappable, draggable components</li>
                <li>Address color brands</li>
                <li>Institute CRUD capabilities</li>
                <li>Finish adding images to cards</li>
                <li>More finite response to tablet screens</li>
                <li>Build out brand, maker, biography pages and see work filter</li>
                <li>Address any weaknesses with web accessibility</li>
            </ul>
        </dl>
    </div>
    <!-- (md) -->
    <div class="container-fluid hidden-sm hidden-xs">
        <div class="row col-md-6 card-green-intro-naked-left">
            <dl>
                <dt>
                    <h3>
                        <span>>>>&nbsp;</span>IDEA & PURPOSE</h3>
                </dt>
                <dd>The purpose of this is site to present past works and experiences that shed more light on my background,
                    my character, and ultimately what I am able to contribute as a member on any professional team.</dd>
                <dd>The idea is a more interative take on the resume, where through the filtered
                    <em>learn more</em> view, my resume is organized by interests, then displayed as "cards" with which to pull
                    & learn. I let the content guide the brand, so pages vary by the interests, the largest departure being
                    the "Emerging Designer" funnel.</dd>
                <dt>
                    <h3>
                        <span>>>>&nbsp;</span>APPROACH</h3>
                </dt>
                <dd>The challenge with building an eportfolio is the same for everyone: narrowing scope and focus on the relevant.
                    I've had several "eportfolios" since 2003, but none as serious, comprehensive, and bootleg as this. While
                    I took indulgence, the approach remained the same: "present work & experiences that show you are as a
                    candidate, what shaped you, and what is within your wheelhouse as an employee."</dd>
                <dt>
                    <h3>
                        <span>>>>&nbsp;</span>BUILD</h3>
                </dt>
                <dd>Beginning first on paper, the build was done so in a class-heavy manner using Bootstrap. This allowed for
                    a flexible, ever-changing (
                    <em>and trust me, has this site changed a lot from even minute code changes</em>) site that meandered according
                    to what the idea necessitated. As the site grew impressively, this method has been determined to not
                    be the best. Architectually, many changes are happening behind-the-scenes, the biggest being the recent
                    Sass conversion.</dd>
            </dl>
        </div>
        <div class="row col-md-6 card-green-intro-naked-right">
            <dl>
                <dt>
                    <h3>
                        <span>>>>&nbsp;</span>FEATURES</h3>
                </dt>
                <ul>
                    <li>2 filtered views (focus on work & focus on the story, the person)</li>
                    <li>Different brands according to categories (ex:
                        <em>"Aspiring Social Entrepreneur"</em> vs.
                        <em>"Emerging Designer"</em>)</li>
                    <li>Email service</li>
                    <li>Navigation tailored towards 1) filtered view, 2) individual pages, and with 3) sub-navigations </li>
                    <li>Content management on large scale</li>
                    <li>Custom icons</li>
                    <li>Mobile first responsiveness</li>
                    <li>Photo galleries</li>
                </ul>
                <dt>
                    <h3>
                        <span>>>>&nbsp;</span>TECHNOLOGIES</h3>
                </dt>
                <ul class="list-unstyled">
                    <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Sass, Amazon Web Services, Figma</li>
                </ul>
                <dt>
                    <h3>
                        <span>>>>&nbsp;</span>FUTURE UPDATES</h3>
                </dt>
                <ul>
                    <li style="text-decoration: line-through;">Convert to Sass</li>
                    <li>Update to Angular 4</li>
                    <li>Update to Bootstrap 4 or remove entirely</li>
                    <li>Add large-scale media to /Emerging Designer</li>
                    <li>Compress all images</li>
                    <li>Add snappable, draggable components</li>
                    <li>Address color brands</li>
                    <li>Institute CRUD capabilities</li>
                    <li>Finish adding images to cards</li>
                    <li>More finite response to tablet screens</li>
                    <li>Build out brand, maker, biography pages and see work filter</li>
                    <li>Address any weaknesses with web accessibility</li>
                </ul>
            </dl>
        </div>
    </div>
</div>