<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>

<div class="container" ng-controller="PageBack">

    <!-- return button -->
    <a href="/a_developer">
        <img src="/images/icons/b2p-btn.svg" id="btn-back" class="return-page" alt="Back to Fresh Developer" title="Back to Fresh Developer">
    </a>

    <div class="container-fluid card-green-intro">
            <h2>Visit <span class="alt"><a href="http://www.seanwright.pro/" target="_blank">SeanWright.pro</a></span> to explore client's services & quick resume.</h2>
    </div>

<div class="container-fluid">
    <div class="col-md-5 col-sm-7 col-xs-10 tag-green-left">
        <h1>#PROMOTIONAL SITE</h1>
    </div>
</div>

    <!-- (sm) -->
    <div class="container-fluid hidden-lg hidden-md card-green-intro">
            <dl>
                    <dt><h3><span>>>>&nbsp;</span>ASK</h3></dt>
                    <dd>Create promotional site narrow in scope that can be utilized with mouse, track pad, arrow keys, and touch while being optimized across screen sizes.</dd>
                    <dt><h3><span>>>>&nbsp;</span>TIMEFRAME</h3></dt>
                    <dd>5-day build from scratch.</dd>
                    <dt><h3><span>>>>&nbsp;</span>APPROACH</h3></dt>
                    <dd>The challenge beyond building & deploying within a week's time was deciding the design direction as the client's industry does not lean on promotional sites for work; there were few examples to look towards or show client. Deciding to narrow the scope to 1) seeking work and 2) on a campaign, and after few phone calls & email exchanges with the client, the site came together quite fast. </dd>
                </dl>
    </div>
    <div class="container-fluid hidden-lg hidden-md card-green-intro">
            <dl>
                    <dt><h3><span>>>>&nbsp;</span>FEATURES</h3></dt>
                        <ul> 
                            <li>Full-page slides</li>
                            <li>Mouse, track pad, arrow keys, touch to maneuver site</li>
                            <li>Contact & connection buttons</li>
                            <li>Custom design, including vector portrait, Parthenon, TN flag, and different states.</li>

                        </ul>
                    <dt><h3><span>>>>&nbsp;</span>TECHNOLOGIES</h3></dt>
                    <ul class="list-unstyled">
                            <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Fullpage.js, Amazon Web Services, Figma</li>
                        </ul>
            </dl>
    </div>
    <!-- (md) -->
            <div class="container-fluid hidden-sm hidden-xs">
                <div class="row col-md-6 card-green-intro-naked-left">
                        <dl>
                            <dt><h3><span>>>>&nbsp;</span>ASK</h3></dt>
                            <dd>Create promotional site narrow in scope that can be utilized with mouse, track pad, arrow keys, and touch while being optimized across screen sizes.</dd>
                            <dt><h3><span>>>>&nbsp;</span>TIMEFRAME</h3></dt>
                            <dd>5-day build from scratch.</dd>
                            <dt><h3><span>>>>&nbsp;</span>APPROACH</h3></dt>
                            <dd>The challenge beyond building & deploying within a week's time was deciding the design direction as the client's industry does not lean on promotional sites for work; there were few examples to look towards or show client. Deciding to narrow the scope to 1) seeking work and 2) on a campaign, and after few phone calls & email exchanges with the client, the site came together quite fast. </dd>
                        </dl>
                    </div>
                <div class="row col-md-6 card-green-intro-naked-right">
                        <dl>
                            <dt><h3><span>>>>&nbsp;</span>FEATURES</h3></dt>
                                <ul> 
                                    <li>Full-page slides</li>
                                    <li>Mouse, track pad, arrow keys, touch to maneuver site</li>
                                    <li>Contact & connection buttons</li>
                                    <li>Custom design, including vector portrait, Parthenon, TN flag, and different states.</li>

                                </ul>
                            <dt><h3><span>>>>&nbsp;</span>TECHNOLOGIES</h3></dt>
                            <ul class="list-unstyled">
                                    <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Fullpage.js, Amazon Web Services, Figma</li>
                                </ul>
                    </dl>
                </div>
            </div>
        </div>