<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="stu"></div>
</div>
<div class="container" ng-controller="PageBack">
     <!-- return button -->
     <a href="/a_developer" target="_top">
        <img src="/images/icons/b2p-btn.svg" id="btn-back" class="return-page" alt="Back to Fresh Developer" title="Back to Fresh Developer">
    </a>
    
    <div class="container-fluid row">
        <div class="col-md-5 col-sm-7 col-xs-10 tag-green-left">
            <h1>#TYPEWRITER</h1>
        </div>
    </div>

<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-green-intro">
        <dl>
                <dt>
                    <h3><span>>>>&nbsp;</span>IDEA</h3>
                </dt>
                <dd>
                    Create a typewriting game using keyboard to loop through sentences noting corrections while calculating time & accuracy.
                </dd>
                <dt>
                    <h3><span>>>>&nbsp;</span>FEATURES</h3>
                </dt>
                    <ul>
                        <li>HTML, CSS, JavaScript, jQuery, Bootstrap</li>
                        <li>Fully-functional keyboard</li>
                        <li>5 rounds</li>
                        <li>Words Per Minute calculation</li>
                    </ul>
                
                <dt>
                    <h3><span>>>>&nbsp;</span>SOURCE</h3>
                    <dd>Download code from <strong><span><a href="https://github.com/cssullivan4/full-stack-lab-05" target="_blank">GitHub</a></span></strong>.</dd>
                </dt>
            </dl>
</div>
<div class="container-fluid hidden-lg hidden-md">
        <div class="card-green-intro" ng-controller="GalleryCtrl">
                <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
                    <a class="gallery" href="/images/projects/stu/type-1.png">
                        <img src="/images/projects/stu/type-1.png" alt="Typing"/>
                    </a>
                    <a class="gallery" href="/images/projects/stu/type-2.png">
                        <img src="/images/projects/stu/type-2.png" alt="End of game: Words per Minute calculation"/>
                    </a>
                    <a class="gallery" href="/images/projects/stu/type-3.png">
                        <img src="/images/projects/stu/type-3.png" alt="Game Over"/>
                    </a>
                </div>
            </div>
        </div>
<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
        <div class="row col-md-6 card-green-intro-naked-right" ng-controller="GalleryCtrl">
            <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
                <div class="col-md-6">
                <a class="gallery" href="/images/projects/stu/type-1.png">
                    <img src="/images/projects/stu/type-1.png" alt="Typing"/>
                </a>
            </div>
            <div class="col-md-6">
                <a class="gallery" href="/images/projects/stu/type-2.png">
                    <img src="/images/projects/stu/type-2.png" alt="End of game: Words per Minute calculation"/>
                </a>
            </div>
            <div class="col-md-6">
                <a class="gallery" href="/images/projects/stu/type-3.png">
                    <img src="/images/projects/stu/type-3.png" alt="Game Over"/>
                </a>
            </div>
        </div>
    </div>
            <div class="row col-md-6 card-green-intro-naked-left">
                    <dl>
                            <dt>
                                <h3><span>>>>&nbsp;</span>IDEA</h3>
                            </dt>
                            <dd>
                                Create a typewriting game using keyboard to loop through sentences noting corrections while calculating time & accuracy.
                            </dd>
                            <dt>
                                <h3><span>>>>&nbsp;</span>FEATURES</h3>
                            </dt>
                                <ul>
                                    <li>HTML, CSS, JavaScript, jQuery, Bootstrap</li>
                                    <li>Fully-functional keyboard</li>
                                    <li>5 rounds</li>
                                    <li>Words Per Minute calculation</li>
                                </ul>
                            
                            <dt>
                                <h3><span>>>>&nbsp;</span>SOURCE</h3>
                                <dd>Download code from <strong><span><a href="https://github.com/cssullivan4/full-stack-lab-05" target="_blank">GitHub</a></span></strong>.</dd>
                            </dt>
                        </dl>
            </div>
    
        </div>
    </div>