<div class="container" ng-controller="PageBack">
<div class="container-fluid padding white buffer padding text-type">
        <p class="lead text-center">"The Covalence Online Store is the final, instructional student project for the Covalence Full-Stack Development Program. "</p>
</div>
<a href="/a_developer#projects"><img src="/images/icons/b2p-btn.svg" id="btn-back" alt="Back to Fresh Developer" title="Back to Fresh Developer" ng-click="reload()"/></a>
    <div class="container-fluid padding white padding text-type">
            <div class="wrap">
                <a href="/images/projects/shop/cov-welcome.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-welcome.png"/>
                        <div class="title-box-b">Welcome Screen</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-apparel.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-apparel.png"/>
                        <div class="title-box-b">Apparel</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-misc.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-misc.png"/>
                        <div class="title-box-b">Misc</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-checkout.png" target="_blank">
                <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-checkout.png"/>
                        <div class="title-box-b">Checkout powered by Stripe</div>
                    </div>
                </div></a>
                <a href="/images/projects/shop/cov-contact.png" target="_blank">
                    <div class="box">
                    <div class="box-inner-b">
                        <img src="/images/projects/shop/cov-contact.png"/>
                        <div class="title-box-b">Contact powered by SendGrid</div>
                    </div>
                </div></a>
            </div>
    </div>

    <div class="container-fluid">
            <div class="col-md-5 col-sm-7 buffer padding green black-shadow pull-left card-left text-right">
                <h1>#STUDENT PROJECT</h1>
            </div>
            <!-- <div class="col-md-3 col-sm-5 buffer padding green black-shadow pull-right card-right text-left">
                    <h1>#PROJECT</h1>
                </div> -->
        </div>
        <div class="container-fluid">
            <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-left card-left">
                    <dl>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>PROMPT</h3></dt>
                        <dd>Create web app to be deployed and presented. Must create replica of provided <a href="https://projects.invisionapp.com/share/AKB778769#/screens/227819973_Covalence-Store-01" target="_blank">wireframe.</a></dd>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>TIMEFRAME</h3></dt>
                        <dd>1 week to deploy & prepare for presentation</dd>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>IDEA</h3></dt> 
                        <dd>Create e-commerce web app using database, stock images of products, and technologies to handle email and tending.</dd>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>TEAM MEMBERS</h3></dt>
                        <dd>Rachael Adams, Will Hearn, <strong>C. Samuel Sullivan</strong></dd>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>ROLE</h3></dt>
                        <dd>Mostly sticking to Front-End development, but additionally Navigation/Footer and collaboration throughout were my team contributions.</dd>
                    </dl>
                </div>
            <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-right card-right">
                    <dl>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>FEATURES</h3></dt>
                            <ul> 
                            <li>Landing Page</li>
                                <li>Inventory Page (x2)</li>
                                <li>Ability to add to & remove items from cart, with running total</li>
                                <li>Contact page</li>
                                <li>Checkout page securely handling sensitive information + email services on every order</li>
                                <li>Receipt and invoice</li>
                            </ul>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>APPROACH</h3></dt>
                        <dd>Working together as team, divying up to strengths from the start, passing the hat as support was needed. By this point, we were familiar with who was stronger where, but we took opportunity to learn from each other where we each were weak.</dd>
                        <dt><h3><span class="green-type">>>>&nbsp;</span>TECHNOLOGIES</h3></dt>
                        <ul class="list-unstyled">
                                <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Stripe, SendGrid, MySQL, Amazon Web Services</li>
                            </ul>
                </dl>
            </div>
        </div>
    </div>