<div ng-controller="DesignMenu">
        <div ng-include="stu"></div>
</div>
<div class="container" ng-controller="PageBack">
    <a href="/a_developer#projects"><img src="/images/icons/b2p-btn.svg" id="btn-back" alt="Back to Fresh Developer" title="Back to Fresh Developer" ng-click="reload();"/></a>
    
    <div class="container-fluid row">
        <div class="col-md-5 col-md-7 green white-shadow padding buffer pull-left text-right">
            <h1>#DICE GENERATOR</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-right card-right" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/projects/stu/dice-1.png">
                <img src="/images/projects/stu/dice-1.png" class="buffer-img center-cropped-b" alt="Start"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/dice-2.png">
                <img src="/images/projects/stu/dice-2.png" class="buffer-img center-cropped-b" alt="Add"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/dice-3.png">
                <img src="/images/projects/stu/dice-3.png" class="buffer-img center-cropped-b" alt="Roll again"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/dice-4.png">
                <img src="/images/projects/stu/dice-4.png" class="buffer-img center-cropped-b" alt="Roll again"/>
            </a>
        </div>
        </div>
        <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-left card-left">
            <dl>
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>IDEA</h3>
                </dt>
                <dd>
                    Create application to roll & calculate dice.
                </dd>
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>FEATURES</h3>
                </dt>
                    <ul>
                        <li>HTML, CSS, JavaScript</li>
                        <li>Create, roll, and delete dice</li>
                    </ul>
                
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>SOURCE</h3>
                    <dd>Download code from <strong><span class="green-type"><a class="underline-2" href="https://github.com/cssullivan4/full-stack-lab-07" target="_blank">GitHub</a></span></strong>.</dd>
                </dt>
            </dl>
        </div>

    </div>
</div>