<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="stu"></div>
</div>
<div class="container" ng-controller="PageBack">
    <a href="/a_developer#projects"><img src="/images/icons/b2p-btn.svg" id="btn-back" alt="Back to Fresh Developer" title="Back to Fresh Developer"/></a>
    
    <div class="container-fluid row">
        <div class="col-md-5 col-md-7 green white-shadow padding buffer pull-left text-right">
            <h1>#SHAPES GENERATOR</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-right card-right" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/projects/stu/shape-1.png">
                <img src="/images/projects/stu/shape-1.png" class="buffer-img center-cropped-b" alt="Base application"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/shape-2.png">
                <img src="/images/projects/stu/shape-2.png" class="buffer-img center-cropped-b" alt="Shape generator: Square"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/shape-3.png">
                <img src="/images/projects/stu/shape-3.png" class="buffer-img center-cropped-b" alt="Shape generator: Circle"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/shape-4.png">
                <img src="/images/projects/stu/shape-4.png" class="buffer-img center-cropped-b" alt="Shape generator: Triangle"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/shape-5.png">
                <img src="/images/projects/stu/shape-5.png" class="buffer-img center-cropped-b" alt="Shape generator: Rectangle"/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/shape-6.png">
                <img src="/images/projects/stu/shape-6.png" class="buffer-img center-cropped-b" alt="Rectangle deleted"/>
            </a>
        </div>
        </div>
        <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-left card-left">
            <dl>
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>IDEA</h3>
                </dt>
                <dd>
                    Create application that generates shapes based on customizable dimensions. 
                </dd>
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>FEATURES</h3>
                </dt>
                    <ul>
                        <li>HTML, CSS, JavaScript</li>
                        <li>Shapes generate within defined area</li>
                        <li>Click on shape to display its properties in side panel</li>
                        <li>Double-click shape to delete it</li>
                    </ul>
                
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>SOURCE</h3>
                    <dd>Download code from <strong><span class="green-type"><a class="underline-2" href="https://github.com/cssullivan4/full-stack-lab-08" target="_blank">GitHub</a></span></strong>.</dd>
                </dt>
            </dl>
        </div>

    </div>
</div>