<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div class="container" ng-controller="PageBack">
    <div class="container-fluid padding white buffer text-type">
            <p class="lead text-center">Visit <a href="http://www.seanwright.pro/" class="underline" target="_blank">SeanWright.pro</a> to explore client's services & quick resume.</p>
    </div>
    <a href="/a_developer#projects"><img src="/images/icons/b2p-btn.svg" id="btn-back" alt="Back to Fresh Developer" title="Back to Fresh Developer"></a>
    <div class="container center-block margin-bottom-neg white padding text-type" ng-controller="DevPopulation">    
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-xl" ng-repeat="proj in projects">
                    <div class="row">
                        <a href="{{ proj.image }}" target="_blank">
                            <img ng-src="{{ proj.image }}" class="img-responsive img-fit center-block border-fix" />
                        </a>
                    
                    <div class="row text-center type-gray type-cap _075 text-type margin-top-md">
                        <p>{{proj.caption}}</p>
                    </div>
                </div>
        </div>
    </div>
        <!-- <div class="container-fluid padding white padding text-type" ng-controller="DevPopulation">
                <div class="wrap col-md-2 col-sm-6 col-xs-6" ng-repeat="proj in projects">
                    <a href="{{ proj.image }}" target="_blank">
                    <div class="box">
                        <div class="box-inner-b">
                            <img src="{{ proj.image }}" class="img-responsive center-block"/>
                            <div class="title-box-b">{{ proj.caption }}</div>
                        </div>
                    </div></a>
                </div>
        </div> -->
    
        <div class="container-fluid">
                <div class="col-md-5 col-sm-7 col-xs-12 buffer padding green black-shadow pull-left card-left text-right">
                    <h1>#PROMOTIONAL SITE</h1>
                </div>
                <!-- <div class="col-md-3 col-sm-5 buffer padding green black-shadow pull-right card-right text-left">
                        <h1>#PROJECT</h1>
                    </div> -->
            </div>
            <div class="container-fluid">
                <div class="row col-md-6 col-sm-12 col-xs-12 buffer padding text-type white pull-left card-left">
                        <dl>
                            <dt><h3><span class="green-type">>>>&nbsp;</span>ASK</h3></dt>
                            <dd>Create promotional site narrow in scope that can be utilized with mouse, track pad, arrow keys, and touch while being optimized across screen sizes.</dd>
                            <dt><h3><span class="green-type">>>>&nbsp;</span>TIMEFRAME</h3></dt>
                            <dd>5-day build from scratch.</dd>
                            <dt><h3><span class="green-type">>>>&nbsp;</span>APPROACH</h3></dt>
                            <dd>The challenge beyond building & deploying within a week's time was deciding the design direction as the client's industry does not lean on promotional sites for work; there were few examples to look towards or show client. Deciding to narrow the scope to 1) seeking work and 2) on a campaign, and after few phone calls & email exchanges with the client, the site came together quite fast. </dd>
                        </dl>
                    </div>
                <div class="row col-md-6 col-sm-12 col-xs-12 buffer padding text-type white pull-right card-right">
                        <dl>
                            <dt><h3><span class="green-type">>>>&nbsp;</span>FEATURES</h3></dt>
                                <ul> 
                                    <li>Full-page slides</li>
                                    <li>Mouse, track pad, arrow keys, touch to maneuver site</li>
                                    <li>Contact & connection buttons</li>
                                    <li>Custom design, including vector portrait, Parthenon, TN flag, and different states.</li>

                                </ul>
                            <dt><h3><span class="green-type">>>>&nbsp;</span>TECHNOLOGIES</h3></dt>
                            <ul class="list-unstyled">
                                    <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Fullpage.js, Amazon Web Services, Figma</li>
                                </ul>
                    </dl>
                </div>
            </div>
        </div>