<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="stu"></div>
</div>
<div class="container" ng-controller="PageBack">

    <!-- return button -->
        <a href="/a_developer" target="_top">
            <img src="/images/icons/b2p-btn.svg" id="btn-back" class="return-page" alt="Back to Fresh Developer" title="Back to Fresh Developer">
        </a>
    
    <div class="container-fluid row">
        <div class="col-md-5 col-sm-7 col-xs-10 tag-green-left">
            <h1>#SHAPES GENERATOR</h1>
        </div>
    </div>

    <!-- (sm) -->
    <div class="container-fluid hidden-lg hidden-md card-green-intro">
            <dl>
                    <dt>
                        <h3><span>>>>&nbsp;</span>IDEA</h3>
                    </dt>
                    <dd>
                        Create application that generates shapes based on customizable dimensions. 
                    </dd>
                    <dt>
                        <h3><span>>>>&nbsp;</span>FEATURES</h3>
                    </dt>
                        <ul>
                            <li>HTML, CSS, JavaScript</li>
                            <li>Shapes generate within defined area</li>
                            <li>Click on shape to display its properties in side panel</li>
                            <li>Double-click shape to delete it</li>
                        </ul>
                    
                    <dt>
                        <h3><span>>>>&nbsp;</span>SOURCE</h3>
                        <dd>Download code from <strong><span><a href="https://github.com/cssullivan4/full-stack-lab-08" target="_blank">GitHub</a></span></strong>.</dd>
                    </dt>
                </dl>
    </div>
    <div class="container-fluid hidden-lg hidden-md">
            <div class="card-green-intro" ng-controller="GalleryCtrl">
                    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
                        <a class="gallery" href="/images/projects/stu/shape-1.png">
                            <img src="/images/projects/stu/shape-1.png" alt="Base Application"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/shape-2.png">
                            <img src="/images/projects/stu/shape-2.png" alt="Shape generator: Square"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/shape-3.png">
                            <img src="/images/projects/stu/shape-3.png" alt="Shape generator: Circle"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/shape-4.png">
                            <img src="/images/projects/stu/shape-4.png" alt="Shape generator: Triangle"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/shape-5.png">
                            <img src="/images/projects/stu/shape-5.png" alt="Shape generator: Rectangle"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/shape-6.png">
                            <img src="/images/projects/stu/shape-6.png" alt="Rectangle deleted"/>
                        </a>
                    </div>
            </div>
    </div>

    <!-- (md) -->
    <div class="container-fluid hidden-sm hidden-xs">
            <div class="row col-md-6 card-green-intro-naked-right" ng-controller="GalleryCtrl">
                <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
                    <div class="col-md-6">
                    <a class="gallery" href="/images/projects/stu/shape-1.png">
                        <img src="/images/projects/stu/shape-1.png" alt="Base Application"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="gallery" href="/images/projects/stu/shape-2.png">
                        <img src="/images/projects/stu/shape-2.png" alt="Shape generator: Square"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="gallery" href="/images/projects/stu/shape-3.png">
                        <img src="/images/projects/stu/shape-3.png" alt="Shape generator: Circle"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="gallery" href="/images/projects/stu/shape-4.png">
                        <img src="/images/projects/stu/shape-4.png" alt="Shape generator: Triangle"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="gallery" href="/images/projects/stu/shape-5.png">
                        <img src="/images/projects/stu/shape-5.png" alt="Shape generator: Rectangle"/>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="gallery" href="/images/projects/stu/shape-6.png">
                        <img src="/images/projects/stu/shape-6.png" alt="Rectangle deleted"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-md-6 card-green-intro-naked-left">
            <dl>
                <dt>
                    <h3><span>>>>&nbsp;</span>IDEA</h3>
                </dt>
                <dd>
                    Create application that generates shapes based on customizable dimensions. 
                </dd>
                <dt>
                    <h3><span>>>>&nbsp;</span>FEATURES</h3>
                </dt>
                    <ul>
                        <li>HTML, CSS, JavaScript</li>
                        <li>Shapes generate within defined area</li>
                        <li>Click on shape to display its properties in side panel</li>
                        <li>Double-click shape to delete it</li>
                    </ul>
                
                <dt>
                    <h3><span>>>>&nbsp;</span>SOURCE</h3>
                    <dd>Download code from <strong><span><a href="https://github.com/cssullivan4/full-stack-lab-08" target="_blank">GitHub</a></span></strong>.</dd>
                </dt>
            </dl>
        </div>

    </div>
</div>