<div class="container-fluid">
        <nav class="navbar navbar-fixed-top black" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div ng-controller="NavMenu">
        <div ng-include="stu"></div>
</div>


<div class="container" ng-controller="PageBack">
     <!-- return button -->
     <a href="/a_developer" target="_top">
        <img src="/images/icons/b2p-btn.svg" id="btn-back" class="return-page" alt="Back to Fresh Developer" title="Back to Fresh Developer">
    </a>
    
    <div class="container-fluid row">
        <div class="col-md-5 col-sm-7 col-xs-10 tag-green-left">
            <h1>#DICE GENERATOR</h1>
        </div>
    </div>

    <!-- (sm) -->
    <div class="container-fluid hidden-lg hidden-md card-green-intro">
            <dl>
                    <dt>
                        <h3><span>>>>&nbsp;</span>IDEA</h3>
                    </dt>
                    <dd>
                        Create application to roll & calculate dice.
                    </dd>
                    <dt>
                        <h3><span>>>>&nbsp;</span>FEATURES</h3>
                    </dt>
                        <ul>
                            <li>HTML, CSS, JavaScript</li>
                            <li>Create, roll, and delete dice</li>
                        </ul>
                    
                    <dt>
                        <h3><span>>>>&nbsp;</span>SOURCE</h3>
                        <dd>Download code from <strong><span><a href="https://github.com/cssullivan4/full-stack-lab-07" target="_blank">GitHub</a></span></strong>.</dd>
                    </dt>
                </dl>
    </div>
    <div class="container-fluid hidden-lg hidden-md">
            <div class="card-green-intro" ng-controller="GalleryCtrl">
                    <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
                        <a class="gallery" href="/images/projects/stu/dice-1.png">
                            <img src="/images/projects/stu/dice-1.png" alt="Start"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/dice-2.png">
                            <img src="/images/projects/stu/dice-2.png" alt="Add"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/dice-3.png">
                            <img src="/images/projects/stu/dice-3.png" alt="Roll again"/>
                        </a>
                        <a class="gallery" href="/images/projects/stu/dice-4.png">
                            <img src="/images/projects/stu/dice-4.png" alt="Roll again"/>
                        </a>
                    </div>
                </div>
            </div>

<!-- (md) -->
<div class="container-fluid hidden-sm hidden-xs">
        <div class="row col-md-6 card-green-intro-naked-right" ng-controller="GalleryCtrl">
            <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
            <div class="col-md-6">
                <a class="gallery" href="/images/projects/stu/dice-1.png">
                    <img src="/images/projects/stu/dice-1.png" alt="Start"/>
                </a>
            </div>
            <div class="col-md-6">
                <a class="gallery" href="/images/projects/stu/dice-2.png">
                    <img src="/images/projects/stu/dice-2.png" alt="Add"/>
                </a>
            </div>
            <div class="col-md-6">
                <a class="gallery" href="/images/projects/stu/dice-3.png">
                    <img src="/images/projects/stu/dice-3.png" alt="Roll again"/>
                </a>
            </div>
            <div class="col-md-6">
                <a class="gallery" href="/images/projects/stu/dice-4.png">
                    <img src="/images/projects/stu/dice-4.png" alt="Roll again"/>
                </a>
            </div>
        </div>
    </div>
        <div class="row col-md-6 card-green-intro-naked-left">
            <dl>
                <dt>
                    <h3><span>>>>&nbsp;</span>IDEA</h3>
                </dt>
                <dd>
                    Create application to roll & calculate dice.
                </dd>
                <dt>
                    <h3><span>>>>&nbsp;</span>FEATURES</h3>
                </dt>
                    <ul>
                        <li>HTML, CSS, JavaScript</li>
                        <li>Create, roll, and delete dice</li>
                    </ul>
                
                <dt>
                    <h3><span>>>>&nbsp;</span>SOURCE</h3>
                    <dd>Download code from <strong><span><a href="https://github.com/cssullivan4/full-stack-lab-07" target="_blank">GitHub</a></span></strong>.</dd>
                </dt>
            </dl>
        </div>

    </div>
</div>