<div ng-controller="DesignMenu">
        <div ng-include="stu"></div>
</div>
<div class="container" ng-controller="PageBack">
    <a href="/a_developer#projects"><img src="/images/icons/b2p-btn.svg" id="btn-back" alt="Back to Fresh Developer" title="Back to Fresh Developer" ng-click="reload();"/></a>
    
    <div class="container-fluid row">
        <div class="col-md-5 col-md-7 green white-shadow padding buffer pull-left text-right">
            <h1>#TWITTER CLONE</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-right card-right" ng-controller="GalleryCtrl">
        <div class="auto" data-featherlight-gallery data-featherlight-filter="a">
            <a class="gallery img-tile" href="/images/projects/stu/chirp-1.png">
                <img src="/images/projects/stu/chirp-1.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/chirp-2.png">
                <img src="/images/projects/stu/chirp-2.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/chirp-3.png">
                <img src="/images/projects/stu/chirp-3.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/chirp-4.png">
                <img src="/images/projects/stu/chirp-4.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/chirp-5.png">
                <img src="/images/projects/stu/chirp-5.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/chirp-6.png">
                <img src="/images/projects/stu/chirp-6.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/chirp-7.png">
                <img src="/images/projects/stu/chirp-7.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
            <a class="gallery img-tile" href="/images/projects/stu/chirp-8.png">
                <img src="/images/projects/stu/chirp-8.png" class="buffer-img center-cropped-b" alt=""/>
            </a>
        </div>
        </div>
        <div class="row col-md-6 col-sm-6 buffer padding text-type white pull-left card-left">
            <dl>
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>IDEA</h3>
                </dt>
                <dd>
                    Create clone of Twitter using database to make CRUD-worthy.
                </dd>
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>FEATURES</h3>
                </dt>
                    <ul>
                        <li>HTML, CSS, JavaScript, jQuery, ExpressJS, MySQL</li>
                        <li>Choose user to post as</li>
                        <li>Select "chirp," edit, or delete.</li>
                    </ul>
                
                <dt>
                    <h3><span class="green-type">>>>&nbsp;</span>SOURCE</h3>
                    <dd>Download code from <strong><span class="green-type"><a class="underline-2" href="https://github.com/cssullivan4/full-stack-lab-16" target="_blank">GitHub</a></span></strong>.</dd>
                </dt>
            </dl>
        </div>

    </div>
</div>