<div class="container-fluid">
        <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="NavShrink">
                <div id="header" ng-controller="NavMenu">
                        <div ng-include="nav"></div>
                </div>
        </nav>
</div>
<div class="container" ng-controller="PageBack">

 <!-- return button -->
    <a href="/a_developer" target="_top">
        <img src="/images/icons/b2p-btn.svg" id="btn-back" class="return-page" alt="Back to Fresh Developer" title="Back to Fresh Developer">
    </a>

<div class="container-fluid card-intro">
        <p class="lead">"The Covalence Online Store is the final, instructional student project for the Covalence Full-Stack Development Program. "</p>
</div>

<!-- IMG GALLERY (1) -->
<div class="container-fluid card-intro" ng-controller="GalleryCtrl">
        <div class="img-gallery" data-featherlight-gallery data-featherlight-filter="a">
                <a class="gallery" href="/images/projects/shop/cov-welcome.png">
                    <img src="/images/projects/shop/cov-welcome.png" alt="Welcome Screen"/>
                </a>
                <a class="gallery" href="/images/projects/shop/cov-apparel.png">
                    <img src="/images/projects/shop/cov-apparel.png" alt="Apparel"/>
                </a>
                <a class="gallery" href="/images/projects/shop/cov-misc.png">
                    <img src="/images/projects/shop/cov-misc.png" alt="Misc"/>
                </a>
                <a class="gallery" href="/images/projects/shop/cov-checkout.png">
                    <img src="/images/projects/shop/cov-checkout.png" alt="Checkout powered by Stripe"/>
                </a>
                <a class="gallery" href="/images/projects/shop/cov-contact.png">
                    <img src="/images/projects/shop/cov-contact.png" alt="Contact powered by SendGrid"/>
                </a>
        </div>
</div>


<div class="container-fluid">
    <div class="col-md-5 col-sm-7 col-xs-10 tag-green-left">
        <h1>#STUDENT PROJECT</h1>
    </div>
</div>

<!-- (sm) -->
<div class="container-fluid hidden-lg hidden-md card-green-intro">
        <dl>
                <dt><h3><span>>>>&nbsp;</span>PROMPT</h3></dt>
                <dd>Create web app to be deployed and presented. Must create replica of provided <a href="https://projects.invisionapp.com/share/AKB778769#/screens/227819973_Covalence-Store-01" target="_blank">wireframe.</a></dd>
                <dt><h3><span>>>>&nbsp;</span>TIMEFRAME</h3></dt>
                <dd>1 week to deploy & prepare for presentation</dd>
                <dt><h3><span>>>>&nbsp;</span>IDEA</h3></dt> 
                <dd>Create e-commerce web app using database, stock images of products, and technologies to handle email and tending.</dd>
                <dt><h3><span>>>>&nbsp;</span>TEAM MEMBERS</h3></dt>
                <dd>Rachael Adams, Will Hearn, <strong>C. Samuel Sullivan</strong></dd>
                <dt><h3><span>>>>&nbsp;</span>ROLE</h3></dt>
                <dd>Mostly sticking to Front-End development, but additionally Navigation/Footer and collaboration throughout were my team contributions.</dd>
            </dl> 
</div>
<div class="container-fluid hidden-lg hidden-md card-green-intro">
        <dl>
                <dt><h3><span>>>>&nbsp;</span>FEATURES</h3></dt>
                    <ul> 
                    <li>Landing Page</li>
                        <li>Inventory Page (x2)</li>
                        <li>Ability to add to & remove items from cart, with running total</li>
                        <li>Contact page</li>
                        <li>Checkout page securely handling sensitive information + email services on every order</li>
                        <li>Receipt and invoice</li>
                    </ul>
                <dt><h3><span>>>>&nbsp;</span>APPROACH</h3></dt>
                <dd>Working together as team, divying up to strengths from the start, passing the hat as support was needed. By this point, we were familiar with who was stronger where, but we took opportunity to learn from each other where we each were weak.</dd>
                <dt><h3><span>>>>&nbsp;</span>TECHNOLOGIES</h3></dt>
                <ul class="list-unstyled">
                        <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Stripe, SendGrid, MySQL, Amazon Web Services</li>
                    </ul>
        </dl>
</div>
<!-- (md) -->
        <div class="container-fluid hidden-sm hidden-xs">
            <div class="row col-md-6 card-green-intro-naked-left">
                    <dl>
                        <dt><h3><span>>>>&nbsp;</span>PROMPT</h3></dt>
                        <dd>Create web app to be deployed and presented. Must create replica of provided <a href="https://projects.invisionapp.com/share/AKB778769#/screens/227819973_Covalence-Store-01" target="_blank">wireframe.</a></dd>
                        <dt><h3><span>>>>&nbsp;</span>TIMEFRAME</h3></dt>
                        <dd>1 week to deploy & prepare for presentation</dd>
                        <dt><h3><span>>>>&nbsp;</span>IDEA</h3></dt> 
                        <dd>Create e-commerce web app using database, stock images of products, and technologies to handle email and tending.</dd>
                        <dt><h3><span>>>>&nbsp;</span>TEAM MEMBERS</h3></dt>
                        <dd>Rachael Adams, Will Hearn, <strong>C. Samuel Sullivan</strong></dd>
                        <dt><h3><span>>>>&nbsp;</span>ROLE</h3></dt>
                        <dd>Mostly sticking to Front-End development, but additionally Navigation/Footer and collaboration throughout were my team contributions.</dd>
                    </dl>
                </div>
            <div class="row col-md-6 card-green-intro-naked-right">
                    <dl>
                        <dt><h3><span>>>>&nbsp;</span>FEATURES</h3></dt>
                            <ul> 
                            <li>Landing Page</li>
                                <li>Inventory Page (x2)</li>
                                <li>Ability to add to & remove items from cart, with running total</li>
                                <li>Contact page</li>
                                <li>Checkout page securely handling sensitive information + email services on every order</li>
                                <li>Receipt and invoice</li>
                            </ul>
                        <dt><h3><span>>>>&nbsp;</span>APPROACH</h3></dt>
                        <dd>Working together as team, divying up to strengths from the start, passing the hat as support was needed. By this point, we were familiar with who was stronger where, but we took opportunity to learn from each other where we each were weak.</dd>
                        <dt><h3><span>>>>&nbsp;</span>TECHNOLOGIES</h3></dt>
                        <ul class="list-unstyled">
                                <li>AngularJS, ExpressJS, jQuery, NodeJS, Bootstrap, Stripe, SendGrid, MySQL, Amazon Web Services</li>
                            </ul>
                </dl>
            </div>
        </div>
    </div>